<div id="vipGallery">
	<div class="main">
		<div class="main-bgImg bgImg" style="background-image: url('{{this.advert.pictures.testPictures.[0]}}')"></div>
		<div class="counter" data-image-length="{{this.advert.pictures.testPictures.length}}">
			<span class="currentImg">1</span>
			<span class="separator">/</span>
			<span class="totalImg">{{this.advert.pictures.testPictures.length}}</span>
		</div>
		<div class="vip-gallery">
			{{#each this.advert.pictures.testPictures}}
				<span class="slick-carousel" style="background-image: url('{{this}}')"></span>
			{{/each}}
		</div>
		<div class="vip-bottom-container hidden">
			<div>Pinch in and out to zoom.</div>
			<div>Drag to pan around the image.</div>
		</div>
	</div>
</div>
<div id="vipOverlay" class="modal hidden">
	<div class="modal-overlay"></div>
	<div class="modal-container">
		<div class="title">Cozy 3 Bedrooms</div>
		<div class="price">$150</div>
		<div class="modal-close-section">
			<div class="modal-closearea">
				<span class="close-text">{{i18n "modal.close"}}</span>
				<span class="icon-close"></span>
			</div>
		</div>
		<div class="overlay-bgImg bgImg" style="background-image: url('{{this.advert.pictures.testPictures.[0]}}')"></div>
		<div class="vipOverlay-container">
			{{#each this.advert.pictures.testPictures}}
				<span class="slick-carousel" style="background-image: url('{{this}}')"></span>
			{{/each}}
		</div>
	</div>
</div>
