{{#if this.advert.pictures}}
	<div class="wrap {{#if this.advert.hasMultiplePictures}}has-thumbs{{else}}no-thumbs{{/if}}" data-base-js-url="{{this.footer.baseJSUrl}}">

        {{#if this.advert.pictures.images}}
			<div class="main-bg">
				<div class="main">
					<span class="icon-vip-arrow-left"></span>
					<span class='vertical-alignment-helper'></span><img  data-index="0" src = "{{{this.advert.pictures.images.[0]}}}" alt="{{this.advert.title}}" />
                    {{#if this.advert.seoGroupName}}
						<meta itemprop="image" content="{{{this.advert.pictures.images.[0]}}}" />
                    {{/if}}
					<span class="icon-vip-arrow-right"></span>
					<span class="icon-zoom-image"></span>
				</div>
                {{#if this.hasMultiplePictures}}
                    {{#block "PictureCount"}}{{/block}}
                {{/if}}
			</div>
        {{/if}}

        {{#block "thumbs"}}
            {{#if this.advert.hasMultiplePictures}}
				<div class="thumbs">
					<div class="wrap">
                        {{#each this.advert.pictures.thumbnails}}
							<img {{#ifeq @index compare='0'}}class="active"{{/ifeq}} data-index="{{@index}}" src="{{this}}" onerror="this.alt='';" />
                        {{/each}}
					</div>
				</div>
            {{/if}}
        {{/block}}

		<script id="vip-gallery-data" type="text/x-bolt-json">
            {
                "small":"{{{this.advert.pictures.thumbnails}}}",
                "medium":"{{{this.advert.pictures.images}}}",
                "large":"{{{this.advert.pictures.largestPictures}}}",
                "alt-tags":"{{{this.imageAltTags}}}"
            }
        </script>
	</div>
{{/if}}
