<div class="footer-wrapper">
    {{#unless this.footer.distractionFree}}
        <div class="meet-team">{{i18n "footer.help.heretohelp"}}</div>
        <div class="team-photos">
            <div class="user-photo-wrapper">
                <div class="user-photo"
                     style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5IfOnD_FjbpJvhz2fHPSjfEa0jkcVBOkci84igCQSudhjHi3hSg);">
                </div>
            </div>
            <div class="user-photo-wrapper">
                <div class="user-photo"
                     style="background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTs-AmzGz8FlZtult4q5RIxPvADBn3Ws3uAIUiYhgeG-g5o610ahalimA);">
                </div>
            </div>
            <div class="user-photo-wrapper">
                <div class="user-photo"
                     style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx9CPHNVDHrMjhq6tls6lt5TtUezdsxyuvEm9I3fj6U4z7exDm2A);">
                </div>
            </div>

            <div class="user-photo-wrapper desktop-only">
                <div class="user-photo"
                     style="background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQY4NUfSW2h3n4rnFSfMXT2sbfwRe1PYDFxSoEoCCIpU_OTFKMI-HK5zQ);">
                </div>
            </div>
        </div>
    {{/unless}}

    <div class="clear mobile-only"></div>

    {{#if this.footer.distractionFree}}
        <div class="meet-team">{{i18n "footer.help.contact"}}</div>
        <div class="df-support-wrapper">
            <div class="df-support-container">
                <span class="support-icon email-icon"></span>
                <a class="support-text" href="#">{{i18n "footer.support.em"}}</a>
            </div>
            <div class="df-support-container">
                <span class="support-icon call-icon"></span>
                <a class="support-text" href="#">{{i18n "footer.support.ca"}}</a>
            </div>
            <div class="df-support-container">
                <span class="support-icon chat-icon"></span>
                <a class="support-text" href="#">{{i18n "footer.support.ch"}}</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="desktop-only line-divider"></div>
    {{/if}}


    {{#unless this.footer.distractionFree}}
        <div class="support-wrapper">
            <div class="support-container">
                <span class="support-icon email-icon"></span>
                <a class="mobile-only support-text" href="#">{{i18n "footer.help.sendemail"}}</a>
                <a class="desktop-only support-text" href="#">{{i18n "footer.support.em"}}</a>
            </div>
            <div class="support-container">
                <span class="support-icon call-icon"></span>
                <a class="mobile-only support-text" href="#">{{i18n "footer.help.callus"}}</a>
                <a class="desktop-only support-text" href="#">{{i18n "footer.support.ca"}}</a>
            </div>
            <div class="support-container">
                <span class="support-icon chat-icon"></span>
                <a class="mobile-only support-text" href="#">{{i18n "footer.help.chatwithus"}}</a>
                <a class="desktop-only support-text" href="#">{{i18n "footer.support.ch"}}</a>
            </div>
        </div>

        <div class="mobile-only social-container">
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon fb-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon twitter-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon pinterest-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon youtube-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon googleplus-icon">
                    </div>
                </a>
            </div>
        </div>

        <div class="clear"></div>
        <div class="line-divider mobile-only"></div>
<div class="footer-links">
     <div class="footer-inner-wrappper">
        <div class="footer-aboutus">
            <div class="menu-category"><span>{{i18n "footer.sitemap.aboutus.aboutus"}}</span>
                <span class="chevron mobile-only"></span>
                <div class="menu-items">
                    <div><a href="#">{{i18n "footer.sitemap.aboutus.aboutviva"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.aboutus.vivablog"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.aboutus.vivabusiness"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.aboutus.rules"}}</a></div>
                    <div><a rel="nofollow" href='{{i18n "footer.sitemap.aboutus.staysafelink"}}' target="/blank">{{i18n "footer.sitemap.aboutus.staysafe"}}</a></div>
				    <div><a rel="nofollow" href='{{i18n "footer.sitemap.aboutus.protoollink"}}' target="/blank">{{i18n "footer.sitemap.aboutus.protool"}}</a></div>
                </div>
            </div>
        </div>

      <div class="line-divider mobile-only"></div>
     </div>

 <div class="footer-inner-wrappper">
    <div class="footer-legal">
        <div class="menu-category"><span>{{i18n "footer.sitemap.legal.legal"}}</span>
            <span class="chevron mobile-only"></span>
            <div class="menu-items">
                <div><a href="#">{{i18n "footer.sitemap.legal.terms"}}</a></div>
                <div><a href="#">{{i18n "footer.sitemap.legal.privacy"}}</a></div>
                <div><a href="#">{{i18n "footer.sitemap.legal.cookies"}}</a></div>
            </div>
        </div>
    </div>
    {{/unless}}
    <div class="line-divider mobile-only"></div>
  </div>
    {{#if this.footer.distractionFree}}
    <div class="footer-inner-wrappper">
        <div class="df-footer-legal">
            <div class="menu-category"><span>{{i18n "footer.sitemap.legal.legal"}}</span>
                <span class="chevron mobile-only"></span>
                <div class="menu-items">
                    <div class="df-legal-links"><a href="#">{{i18n "footer.sitemap.legal.terms"}}</a></div>
                    <div class="df-legal-links"><a href="#">{{i18n "footer.sitemap.legal.privacy"}}</a></div>
                    <div class="df-legal-links"><a href="#">{{i18n "footer.sitemap.legal.cookies"}}</a></div>
                </div>
            </div>
        </div>

        <div class="line-divider clear"></div>
    </div>
    {{/if}}

    {{#unless this.footer.distractionFree}}
    <div class="footer-inner-wrappper inner">
        <div class="footer-explore">
            <div class="menu-category"><span>{{i18n "footer.sitemap.explore.explore"}}</span>
                <span class="chevron mobile-only"></span>
                <div class="menu-items">
                    <div><a href="#">{{i18n "footer.sitemap.explore.classifieds"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.explore.mobile"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.explore.partners"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.explore.carprice"}}</a></div>
                </div>
            </div>
        </div>

        <div class="line-divider mobile-only"></div>
     </div>

     <div class="footer-inner-wrappper">
        <div class="footer-tips">
            <div class="menu-category"><span>{{i18n "footer.sitemap.tips.tips"}}</span>
                <span class="chevron mobile-only"></span>
                <div class="menu-items">
                    <div><a rel="nofollow" href='{{i18n "footer.sitemap.tips.helplink"}}'  target="/blank">{{i18n "footer.sitemap.tips.help"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.tips.vivaguides"}}</a></div>
                    <div><a href="#">{{i18n "footer.sitemap.tips.givefeedback"}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="line-divider"></div>

        <div class="clear line-divider"></div>

        <div class="desktop-only social-container">
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon fb-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon twitter-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon pinterest-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon youtube-icon">
                    </div>
                </a>
            </div>
            <div class="social-icon-wrapper">
                <a href="#">
                    <div class="social-icon googleplus-icon">
                    </div>
                </a>
            </div>
        </div>

        <div class="mobile-only clear"></div>

        <div class="footer-download">
            <div class="mobile-only menu-category">{{i18n "footer.download.download"}}</div>
            <div class="app-downloads-container">
                <a href='{{i18n "appdownload.ioslink"}}' target="/blank"><span class="app-downloads ios-icon"></span></a>
                <a href='{{i18n "appdownload.googleplay"}}' target="/blank"><span class="app-downloads googleplay-icon"></span></a>
            </div>
        </div>
    {{/unless}}

    <div class="footer-trademark">
        <div class="trademark">&copy {{i18n "footer.trademark.trademark" '<script>document.write(new Date().getFullYear())</script>'}}</div>
    </div>
</div>

<div class="nonJsOnlyInlineBlock seo-links tested">
	<div><a href='{{i18n "footer.sitemap.explore.locationlink"}}' target="/blank">{{i18n "footer.sitemap.explore.location"}}</a></div>
	<div class="seo-topsearches"><a href='{{{this.footer.topSearchesLandingPageUrl}}}' target="/blank">{{i18n "footer.sitemap.explore.topsearches"}}</a></div>
</div>
