{{#partial "footer-links-about"}}
<div class="footer-aboutus">
  <div class="menu-category"><span>{{i18n "footer.sitemap.aboutus.aboutus"}}</span>
    <span class="chevron mobile-only"></span>
    <div class="menu-items">
      <div><a href="{{this.footer.about}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.aboutus.aboutgumtree"}}'>{{i18n "footer.sitemap.aboutus.aboutgumtree"}}</a></div>
      <div><a href="{{this.footer.postingRules}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.aboutus.rules"}}'>{{i18n "footer.sitemap.aboutus.rules"}}</a></div>
      <div><a href="{{this.footer.blogUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.aboutus.gumtreeblog"}}'>{{i18n "footer.sitemap.aboutus.gumtreeblog"}}</a></div>
      <div><a href="{{this.footer.businessUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.aboutus.gumtreebusiness"}}'>{{i18n "footer.sitemap.aboutus.gumtreebusiness"}}</a></div>
    </div>
  </div>
</div>
{{/partial}}

{{#partial "footer-links-legal"}}
<div class="menu-category"><span>{{i18n "footer.sitemap.explore.explore"}}</span>
  <span class="chevron mobile-only"></span>
  <div class="menu-items">
    <div><a href="{{this.footer.bestAdsLandingPageUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.explore.bestof"}}'>{{i18n "footer.sitemap.explore.bestof"}}</a></div>
    <div><a href="{{this.footer.topSearchesLandingPageUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.explore.topSearches"}}'>{{i18n "footer.sitemap.explore.topSearches"}}</a></div>
    <div><a href="{{this.footer.sitemapUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.explore.sitemap"}}'>{{i18n "footer.sitemap.explore.sitemap"}}</a></div>
    <div><a href="{{this.footer.locationsPageUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.explore.locations"}}'>{{i18n "footer.sitemap.explore.locations"}}</a></div>
    <div><a href="{{this.footer.interLinkUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.explore.interlink"}}'>{{i18n "footer.sitemap.explore.interlink"}}</a></div>
    <div><a href="{{this.footer.mobileAppUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.explore.mobileApp"}}'>{{i18n "footer.sitemap.explore.mobileApp"}}</a></div>
  </div>
</div>
{{/partial}}

{{#partial "footer-links-legal-df"}}
  <div class="footer-inner-wrappper">
    <div class="df-footer-legal">
      <div class="menu-category"><span>{{i18n "footer.sitemap.aboutus.gumtreebusiness"}}</span>
        <span class="chevron mobile-only"></span>
        <div class="menu-items">
          <div class="df-legal-links">
            <a href="{{this.footer.businessUrl}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.aboutus.gumtreebusiness"}}'>
              {{i18n "footer.sitemap.aboutus.gumtreebusiness"}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="line-divider clear"></div>
</div>
{{/partial}}

{{#partial "footer-links-explore"}}
<div class="menu-category"><span>{{i18n "footer.sitemap.legal.legal"}}</span>
  <span class="chevron mobile-only"></span>
  <div class="menu-items">
    <div><a href="{{this.footer.termOfUse}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.legal.terms"}}'>{{i18n "footer.sitemap.legal.terms"}}</a></div>
    <div><a href="{{this.footer.privacyPolicy}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.legal.privacy"}}'>{{i18n "footer.sitemap.legal.privacy"}}</a></div>
    <div><a href="{{this.footer.cookieNotice}}" data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.legal.cookies"}}'>{{i18n "footer.sitemap.legal.cookies"}}</a></div>
  </div>
</div>
{{/partial}}

{{#partial "support-links"}}
  <div class="support-wrapper">
    <div class="support-container">
      <span class="support-icon email-icon"></span>
      <a class="mobile-only support-text" href="{{this.footer.helpUrl}}" data-gtm="pc|NavFooterClick|eventLabel|CSEmail">{{i18n "footer.help.sendemail"}}</a>
      <a class="desktop-only support-text" href="{{this.footer.helpUrl}}" data-gtm="pc|NavFooterClick|eventLabel|CSEmail">{{i18n "footer.support.em"}}</a>
    </div>
  </div>
{{/partial}}

{{#partial "distraction-free-support-links"}}
  <div class="meet-team">{{i18n "footer.help.contact"}}</div>
  <div class="df-support-wrapper">
    <div class="df-support-container">
      <span class="support-icon email-icon"></span>
      <a class="support-text" href="{{this.footer.helpUrl}}" data-gtm='pc|NavFooterClick|eventLabel|CSEmail'>
        {{i18n "footer.support.em"}}
      </a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="desktop-only line-divider"></div>
{{/partial}}

{{#partial "footer-links-tips"}}
  <div class="menu-category"><span>{{i18n "footer.sitemap.tips.tips"}}</span>
    <span class="chevron mobile-only"></span>
    <div class="menu-items">
      <div><a rel="nofollow" href='{{this.footer.helpUrl}}' data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.tips.help"}}' target="/blank">{{i18n "footer.sitemap.tips.help"}}</a></div>
      <div><a rel="nofollow" href='{{this.footer.staySafeUrl}}' data-gtm='pc|NavFooterClick|eventLabel|{{i18n "footer.sitemap.tips.onlinesafety"}}' target="/blank">{{i18n "footer.sitemap.tips.onlinesafety"}}</a></div>
    </div>
  </div>
{{/partial}}

{{#partial "footer-trademark"}}
<div class="footer-trademark">
  <span class="trademark">&copy {{i18n "footer.trademark.trademark"
    '<script>document.write(new Date().getFullYear())</script>'}}.
  </span>
</div>
{{/partial}}

{{#partial "seo-links-text"}}
{{/partial}}

{{> (base "footerV2") }}