{{#unless this.header.distractionFree}}
<div id="js-body-overlay" class="body-overlay"></div>
<div id='js-hamburger-menu' class="hamburger-popout hamburger-contents hamburger-closed">
	<div class="menu-container">
        <!--
		{{#if this.imageUploadFromHome}}
			{{> (dynamic "button") hideIcon=false extraClasses='js-hamburger-post js-post-button directly-post' iconName='icon-post' i18nPath="header.postAd"}}
		{{else}}
			{{> (dynamic "button") hideIcon=false extraClasses='js-hamburger-post js-post-button' gtmEvent="pc|PostAdBegin" iconName='icon-post' buttonLink="header.postAdPageUrl" i18nPath="header.postAd"}}
		{{/if}}
        -->
        {{> (dynamic "button") hideIcon=false extraClasses='js-hamburger-post js-post-button' gtmEvent="pc|PostAdBegin" iconName='icon-post' buttonLink="header.postAdPageUrl" i18nPath="header.postAd"}}

        {{#if this.header.isUserLoggedIn}}
			<div class="menu-profile">
				<div class="profile-icon
                    {{#if this.header.currentProfileImageUrl}}
                        profile-picture
                    {{else}}
                        icon-header-profile-out
                    {{/if}}"

                    {{#if this.header.currentProfileImageUrl}}
                        style="background-image:url('{{this.header.currentProfileImageUrl}}'); background-size: contain;"
                    {{/if}}>
                </div>
				<div class="profile-welcome-text">
                    {{#if this.header.profileName}}
                        {{i18n "header.userDropdown.title"}}, {{this.header.profileName}}!
                    {{else}}
                        {{i18n "header.userDropdown.title"}}!
                    {{/if}}
				</div>
			</div>
        {{/if}}
		<div id="js-hamburger-browse" class="browse-categories">
			<div id="js-browse-categories" class="category-name">
				<div class="inline-block vertical-align-middle icon-grid-view-1"></div>
				<div class="inline-block vertical-align-middle browse-categories-text">
                    {{i18n "header.catDropdown.browseCategories"}}
				</div>
				<div id="js-browse-arrow" class="browse-arrow icon-chevron-blue"></div>
			</div>
			<ul class="l0-categories">
				<li class="hidden">
					<div class="category-name" data-gtm="pc|NavHeaderClick|eventLabel|Browse:{{this.header.categoryList.localizedName}}">
						<a href="{{this.header.homePageUrl}}{{this.header.categoryList._links.[1].href}}">
                            {{this.category.localizedName}}
						</a>
					</div>

				</li>
			</ul>
			<ul class="l1-categories">
                {{#each this.header.categoryList.children}}
					<li class="hidden">
						<div class="category-name">
							<a href="{{../this.header.homePageUrl}}{{this._links.[1].href}}" title="{{this.localizedName}}" data-id="{{this.id}}" data-gtm="pc|NavHeaderClick|eventLabel|Browse:{{this.localizedName}}">
                                {{this.localizedName}}
							</a>
						</div>
					</li>
                {{/each}}
			</ul>
		</div>
		<div class="profile-information">
            {{> (dynamic "profileMenu")}}
		</div>
	</div>
    {{!--These are used for breakpoint detection to hide menu on resize--}}
    <div id='js-is-mobile' class="is-mobile"></div>
    <div id='js-is-desktop' class="is-desktop"></div>
</div>
{{/unless}}
