{{#partial "footer"}}
    <span class="reg_link">
        <a href="{{{this.footer.bestAdsLandingPageUrl}}}">{{i18n "footer.bestof"}}</a>
    </span>
    <span class="reg_link">
        <a href="{{{this.footer.topSearchesLandingPageUrl}}}">{{i18n "footer.topSearches"}}</a>
    </span>
    <span class="reg_link">
        <a href="https://www.ibazar.com/l-los-estados-unidos-clasificados/all-locs/v1b0">{{i18n "footer.locations"}}</a>
    </span>
    <span class="reg_link">
        <a href="{{{this.footer.interLinkUrl}}}">{{i18n "footer.our-sites"}}</a>
    </span>

	{{#block "blog"}}
	    {{#if this.footer.seoBolt.enabled}}
		<span class="blog">{{{i18n "footer.blog" this.footer.seoBolt.blogUrl}}}</span>
		{{/if}}
	{{/block}}

	{{#block "cookie_notification"}}
		<div class="cookie_warn">
		    <div class="cr-container">
		       <div class="social-links">{{> (dynamic "socialMediaLinks") }}</div>
		       <div class="cpyrt">{{{i18n "footer.cr"
                   this.footer.obfuscatedTermsAndConditionsURL
                   this.footer.obfuscatedPrivacyPolicyURL
                   this.footer.obfuscatedCookieRightsURL}}}</div>
		    </div>
	    </div>
	{{/block}}

    <div class="decorationLine">
        <span class="span1"></span>
        <span class="span2"></span>
        <span class="span3"></span>
        <span class="span4"></span>
    </div>
{{/partial}}
