{{> (base "footer") }}

{{#partial "footer"}}
	<div class="footer-links clearfix">
		<div class="logo">
	        <a href="{{this.header.homePageUrl}}">
	        	<img border="0"  src="{{this.header.baseImageUrl}}{{this.locale}}/logo.png" alt="{{i18n "header.country.label"}}"/>
	        </a>
		</div>

		<div>
			<h3>{{{i18n "footer.getToKnowUs.title"}}}</h3>
			<ul>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "https://help.gumtree.sg/SG/articles/en_US/KB_Article/About-us?vgroup1=PKB&c=PKB%3AbasicsSG&vcategory2=aboutSG&s="}}'>{{{i18n "footer.getToKnowUs.about"}}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "https://help.gumtree.sg/SG/Terms_of_Use_SG"}}' data-target="_self">{{{i18n "footer.legalbits.terms" }}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "https://help.gumtree.sg/SG/articles/en_US/KB_Article/General-posting-rules?vgroup1=PKB&c=PKB%3ApoliciesSG&vcategory2=generalpoliciesSG&s="}}'>{{{i18n "footer.getToKnowUs.rules"}}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "https://help.gumtree.sg/SG/Privacy_SG"}}' data-target="_self">{{{i18n "footer.legalbits.privacy"}}}</span></li>
			</ul>
		</div>

		<div>
	        <h3>{{{i18n "footer.explore.title"}}}</h3>
	        <ul>
	            {{!-- eCG interlinking Page --}}
	            <li><a href="https://www.gumtree.sg/pages/ClassifiedsNetwork/">{{{i18n "footer.explore.interlink"}}}</a></li>
	             <li><a href="https://profile.gumtree.sg/directory">{{{i18n "footer.explore.directory"}}}</a></li>
	             <li><a href="https://www.gumtree.sg/pages/pricechecker/">{{{i18n "footer.explore.propertyPriceChecker"}}}</a></li>

			</ul>
	    </div>

	    <div class="rightColumn">
			<h3>{{{i18n "footer.legalbits.title"}}}</h3>
			<ul>
			   <li><span class="sudo-link" data-o-uri='{{obfuscateUrl "https://gumtreehelp.com/sg/knowledgebase.php?category=2"}}'>{{{i18n "footer.legalbit.postAd"}}}</span></li>
	            <li><a href="https://info.gumtree.sg/promo/mobile-apps/">{{{i18n "footer.explore.mobileApp" }}}</a></li>
				<li><a href="{{{this.footer.topSearchesLandingPageUrl}}}">{{{i18n "footer.explore.topSearches" }}}</a></li>

			</ul>
		</div>

		<div class="rightColumn">
			<h3>{{{i18n "footer.tips-help.title"}}}</h3>
			<ul>
	            <li><a href="https://help.gumtree.sg">{{{i18n "footer.tips-help.help"}}}</a></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "https://help.gumtree.sg/SG?lang=en_US&l=en_US&c=PKB%3AsafetySG" }}'>{{{i18n "footer.tips-help.staySafe"}}}</span></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "https://help.gumtree.sg/SG/?cu=1&fs=ContactUs&l=en_US"}}'>{{{i18n "footer.tips-help.contact"}}}</span></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "https://help.gumtree.sg/SG/articles/en_US/KB_Article/Reporting-ads-Singapore?vgroup1=PKB&c=PKB%3AsafetySG&vcategory2=Reporting_Ads&s="}}'>{{{i18n "footer.tips-help.report"}}}</span></li>
			</ul>
		</div>
	</div>


	<div class="social-links">{{> (dynamic "socialMediaLinks") }}</div>
	<div class="cpyrt">{{{i18n "footer.copyright"}}}</div>
{{/partial}}
