<div class="welcome-wrapper">
	<div class="modal-wrapper">
		<div class="modal">
			<div class="modal-overlay"></div>
			<div class="modal-container">
				<div class="modal-close-section">
					<span class="close-text">{{i18n "welcomescreen.close"}}</span>
					<span class="icon-close"></span>
				</div>

				{{#block "welcomeText"}}
					<h2>{{i18n "welcomescreen.title"}}</h2>
					<div class="modal-info">{{i18n "welcomescreen.description"}}</div>
				{{/block}}

			</div>
		</div>

		<div class="welcome-footer">
			<div class="modal-footer stickybottom">
				{{#if this.hasReplyForm}}
				<div class="sticky-contact">
					<div class="contact-wrapper">
						<div class="contact-title">Contact Diego</div>
						<div class="stickyBtn left"><span class="icon-web-phone show-icon"></span><span class="duText">CALL</span></div>
						<div class="stickyBtn right"><span class="icon-web-email show-icon"></span><span class="duText">EMAIL</span></div>
						<div class="stickyBtn center"><span class="icon-web-sms show-icon"></span><span class="duText">SMS</span></div>
						<div class="clear"></div>
					</div>
				</div>
				{{else}}
					{{#if this.imageUploadFromHome}}
						{{> (dynamic "button") i18nPath="postad.button" buttonLink="#" hideIcon=false iconName="icon-post" extraClasses='login-button directly-post'}}
					{{else}}
						{{> (dynamic "button") i18nPath="postad.button" gtmEvent="pc|PostAdBegin" buttonLink="/post" hideIcon=false iconName="icon-post" extraClasses='login-button'}}
					{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
