{{#partial "replyFormContainer"}}
	<div id="replyModal" class="message-sent modal modal-cp desktop-only hide">
		<div class="modal-overlay"></div>
		<div class="modal-container">
            <div class="desktop-header">
				<span>{{i18n "vip.reply.message" this.advert.sellerDetails.contactInfo.name}}</span>
                <div class="close-button">CLOSE
                    <div class="icon-close"></div>
                </div>
            </div>
			<div class="message-sent-text">{{i18n "vip.reply.messageSent"}}</div>
			<div class="return-button">Return to Browsing</div>
		</div>
	</div>

	<div class="message-sent mobile-only hide">
        <div class="message-sent-text">{{i18n "vip.reply.messageSent"}}</div>
        <div class="return-button">Return to Browsing</div>
	</div>

    <div class="reply-form-container desktop-only">
        {{#if this.advert.sellerDetails.contactInfo.phone}}
            <div class="phone-header-desktop">
                <div><span class="phone-icon icon-phone-orange"></span><span class="hidden-phone">{{this.advert.sellerDetails.contactInfo.phoneHiddenNumber}}</span><span class="real-phone hide">{{this.advert.sellerDetails.contactInfo.phone}}</span><span class="float-right show-phone">{{i18n "vip.reply.showPhone"}}</span></div>
            </div>
        {{/if}}

        <form action="/api/ads/reply" method="post" class="main-content">
            <div class="reply-form-content">
                <div class="login-message-container">
                    <span class="desktop-message">{{i18n "vip.reply.sendMessage"}}</span>
                    {{#unless this.header.id}}
                        <span class="desktop-paren">(</span><a class=login-link href="{{this.header.homePageUrl}}{{this.advert.loginRedirectUrl}}">{{i18n "vip.reply.login"}}</a>
                        <span>{{i18n "vip.reply.loginMessage"}}</span>
                        <span class="desktop-paren">)</span>
                    {{/unless}}
                </div>

                {{#each this.advert.replyInfo.cannedReplyKeys}}
                    <div class="interested-message-container"><input class="viva-checkbox" type="checkbox"><span class="interested-message">{{i18n this}}</span></div>
                {{/each}}

                <div class="viva-labels"><span>{{i18n "vip.reply.message"}}*</span><span class="viva-labels float-right">*{{i18n "vip.reply.required"}}</span></div>
                <textarea class="message-box-area box-area" type="text" placeholder="{{i18n 'vip.reply.writeHere'}}" oninvalid="this.setCustomValidity('{{i18n "vip.reply.messageValidate"}}')" required></textarea>

                {{#unless this.header.id}}
                    <span class="viva-labels">{{i18n "vip.reply.name"}}</span>
                    <input class="name-box-area box-area" type="text" placeholder="{{i18n 'vip.reply.name'}}">
                    <span class="viva-labels">{{i18n "vip.reply.email"}}</span>
                    <input class="box-area email-box-area" type="text" placeholder="{{i18n 'vip.reply.emailPlaceholder'}}" oninvalid="this.setCustomValidity('{{i18n "vip.reply.emailValidate"}}')" required />
                    <span class="viva-labels">{{i18n "vip.reply.phone"}}</span>
                    {{#if this.advert.replyInfo.phoneRequired}}
                        <span class="viva-labels float-right">*{{i18n "vip.reply.required"}}</span>
                    {{else}}
                        <span class="viva-labels">{{i18n "vip.reply.phoneOptional"}}</span>
                    {{/if}}
                    <input class="box-area" type="text" placeholder="{{i18n 'vip.reply.phone'}}" {{#if this.advert.replyInfo.phoneRequired}}required{{/if}}>
                {{/unless}}

                {{#if this.advert.replyInfo.attachmentEnabled}}
					<div class="viva-labels">{{i18n "vip.reply.attachAFile"}}</div>
					<label for="file-upload" class="custom-file-upload">
                        {{i18n "vip.reply.browseFiles"}}
					</label>
					<input name="fileName" id="file-upload" type="file"/>
					<span class="file-text">{{i18n "vip.reply.pdfOrDoc"}}</span>
                {{/if}}

                <div class="send-message-container"><input class="viva-checkbox" type="checkbox"><span class="send-message">{{i18n "vip.reply.sendACopy"}}</span></div>
                <input type="submit" value="{{i18n 'vip.reply.send'}}" id="vip-send-button">
                <div class="vip-terms">{{i18n "vip.reply.terms" 'https://ayuda.vivanuncios.com.mx/MX/Terminos_y_Condiciones' 'https://ayuda.vivanuncios.com.mx/MX/Privacidad_mx'}}</div>
                <input name="seoUrl" class="hidden" value="{{this.advert.seoVipUrl}}">
            </div>
        </form>
    </div>
{{/partial}}


{{#if this.header.id}}
    {{#unless this.vip.showSellerStuff}}
        {{#block "replyFormContainer"}}{{/block}}
    {{/unless}}
{{else}}
    {{#block "replyFormContainer"}}{{/block}}
{{/if}}
