<div class="ad-details-container">
	<div class="pri-attrs">
        <div class="title-fav">
			<h2 class="item-title" itemprop="name">
				<span class="ad-title">{{this.advert.title}}</span>
                {{#if this.advert.isUrgent}}<span class="urgentBtn">{{i18n "feature.post.urgent"}}</span>{{/if}}
			</h2>
			<meta itemprop="url" content="{{this.advert.seoVipUrl}}" />

            {{#if this.vip.showSellerStuff}}
                <div class="edit-favorite">
                    <a href="{{this.header.homePageUrl}}{{this.advert.editUrl}}">{{i18n "vip.details.edit"}}</a>
                    <a class="edit-favorite-icon edit-icon icon-vivaedit" href="{{this.header.homePageUrl}}{{this.advert.editUrl}}">
                    </a>
                </div>
            {{else}}
                <div class="edit-favorite">
                    <span class="edit-favorite-icon favorite-icon icon-heart-gray" role="button" data-adid="{{this.advert.adId}}" data-short-adid="{{this.advert.id}}"></span>
                </div>
            {{/if}}
		</div>
        <div class="price-update">
            {{> (dynamic "priceDisplay")}}
			<div class="ad-last-posted"><span>{{i18n "vip.details.posted"}} </span>{{this.advert.postedDate}}</div>
        </div>
        <div class="clear-line"></div>
        {{#if this.advert.orderedAttributes}}
					<ul class="category-pri-attrs">
						{{#each this.advert.orderedAttributes}}
							<li class="pri-props">
								<span class="pri-props-name">{{this.capsName}}</span>
								{{#if this.seoUrl}}
								<a href="{{../this.header.homePageUrl}}{{this.seoUrl}}"><span class="pri-props-value">{{this.value}}</span></a>
								{{else}}
								<span class="pri-props-value">{{this.value}}</span>
								{{/if}}
							</li>
							{{/each}}
					</ul>
					<div class="clear-line"></div>
        {{/if}}
	</div>
    <div class="sec-attrs">
        <div class="ad-description">{{{this.advert.description}}}</div>
        <div class="clear-line"></div>
        <div class="ad-category">
            <span class="category-attr">{{i18n "vip.details.category"}} </span>
            <div>
                {{#each this.advert.categoryPath}}
                    {{#compare @index ">" 0}}
                        <span><a href="{{../this.header.homePageUrl}}{{this.href}}">{{this.localizedName}}</a></span>
                        <span class="slash-separator">/</span>
                    {{/compare}}
                {{/each}}
            </div>
        </div>
        <div class="ad-user-attrs">
            <div class="ad-location">
                <span class="location-attr">{{i18n "vip.details.location"}} </span>
                <div><a href="{{this.header.homePageUrl}}{{this.advert.locationDisplayHref}}">{{this.advert.locationDisplayName}}</a></div>
            </div>
            <div class="ad-last-updated"><span class="last-updated-attr">{{i18n "vip.details.updated"}} </span>
                <div>
                    {{#if this.advert.updatedDate}}
                        {{this.advert.updatedDate}}
                    {{else}}
                        <span>-</span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
	<div class="clear-line"></div>
</div>
