{{> (dynamic "hamburgerMenu")}}
<div class="headerV2">
    <a href="/">
        <div class="logo"></div>
    </a>
    {{#unless this.header.distractionFree}}
        <div id="js-hamburger-icon" class="mobile-only mobile-menu icon-menu">
        </div>
        <a id='js-deeplink' href="https://go.vivanunc.io/a/key_live_ognT7X8BUKIBbFhWnhI5KlnhyxcKDuU4?%24deeplink_path=home">
            <div class="mobile-only app-icon {{#if header.isIphone}}icon-sms-2{{else}}icon-android{{/if}}"></div>
        </a>
        <div class="left-items">
            {{#if this.header.username}}
                <a href="messages-TBD">
                    <div class="messages icon-messages">
                        <div class="number-messages">
                            {{this.header.converstionInfo.totalUnreadMessageCount}}
                        </div>
                    </div>
                </a>
            {{/if}}
            <div id='js-browse-dropdown' class="browse">
                <div id='js-browse-item-text' class="item-text">
                    {{i18n "header.catDropdown.browse"}}
                    <div id="js-browse-header-item-icon" class="header-item-icon icon-down"></div>
                </div>
                <ul id="js-cat-dropdown" class="menu-dropdown browse-dropdown hidden">
                    <li class="menu-item">
                        <a href="{{this.category._links.[1].href}}" title="{{this.category.localizedName}}" class="link-item"
                           data-id="{{this.category.id}}">
                            <span class="item-primary-text">{{this.category.localizedName}}</span>
                            {{!-- item secondary is for category "counts", out for MVP
                            <span class="item-secondary-text">(tbd)</span>
                            --}}
                        </a>
                    </li>
                    {{#each this.category.children}}
                        <li class="menu-item">
                            <a href="{{this._links.[1].href}}" title="{{this.localizedName}}" class="link-item"
                               data-id="{{this.id}}">
                                <span class="item-primary-text">{{this.localizedName}}</span>
                                {{!-- item secondary is for category "counts", out for MVP
                                <span class="item-secondary-text">(tbd)</span>
                                --}}
                            </a>
                            {{!-- l2 categories removed from sprint 4 7/14/16
                            https://jira.corp.ebay.com/browse/BOLT-22118
                                <ul class="menu-dropdown-l2">
                                {{#each this.children}}
                                    <li class="menu-item l2">
                                        <a href="{{this._links.[1].href}}" title="{{this.localizedName}}" data-id="{{this.id}}" class="link-item l2">
                                            <span class="item-primary-text">{{this.localizedName}}</span>
                                        </a>
                                    </li>
                                {{/each}}
                                </ul>
                            --}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="right-items">
            <a href="help-TBD">
                <div class="help right-item">
                    {{i18n "header.help"}}
                </div>
            </a>
            {{#if this.header.username}}
                <a href="my-ads-TBD">
                    <div class="my-ads right-item">
                        {{i18n "header.myAds"}}
                    </div>
                </a>
            {{/if}}
            <div class="profile right-item">
                <div id="js-profile-item-text" class="item-text">
                    <div class="profile-icon
                    {{#if this.header.username}}
                        {{#if this.header.profilePictureCropUrl}}
                            profile-picture
                        {{else if this.header.smallFbProfileImageUrl}}
                            profile-picture
                        {{else}}
                            icon-header-profile-out
                        {{/if}}
                    {{else}}
                        icon-header-profile-out
                    {{/if}}"
                    {{#if this.header.profilePictureCropUrl}}
                         style="background: url('{{this.header.profilePictureCropUrl}}13.JPG') no-repeat;
                                 background-size: contain;"
                    {{else if this.header.smallFbProfileImageUrl}}
                         style="background: url('{{this.header.smallFbProfileImageUrl}}13.JPG') no-repeat;
                                 background-size: contain;"
                    {{/if}}>
                    </div>
                    {{#if this.header.userEmail}}
                        {{i18n "header.userDropdown.title"}}{{this.header.profileName}}!
                        <div id="js-profile-header-item-icon" class="header-item-icon icon-down"></div>
                    {{else}}
                        {{i18n "header.menu.my.gumtree"}}
                        <div id="js-profile-header-item-icon" class="header-item-icon icon-down"></div>
                    {{/if}}
                </div>
                {{!-- profile dropdown --}}
                <div id="js-profile-dropdown" class="hidden">
                    {{> (dynamic "profileMenu")}}
                </div>
            </div>
            {{!-- post ad button --}}
            {{> (dynamic "button") extraClasses='post-ad-button' iconName='icon-post' buttonLink="/quickpost" i18nPath="header.postAd"}}

        </div>
    {{/unless}}
</div>


