{{#if model.header.isIncludeContentForMobile}}
	{{#partial "deviceSmartBanner"}}
            <meta name="ecg-apple-itunes-app" content="app-id=684141699, app-argument=https://app.adjust.com/vkb3b8" />
	    	<meta name="google-play-app" content="app-id=umjxh3" />

	{{/partial}}

{{#unless model.header.isUserLoggedIn}}
{{#partial "deviceSmartBannerScript"}}

            <script>
                var appStoreLanguage = "sg";
                var appStoreTitle = '<span class="sb-close">{{i18n "smartbanner.interstitial.continue-mobile"}}</span>';
                var appStoreButtonInstall = '{{i18n "smartbanner.interstitial.install"}}';
                var appStoreIconURL = "{{model.header.baseImageUrl}}{{model.locale}}/interstitial-icon.png";
                var isInterstitial = true;
                var appStoreContinueMobileSite = '{{i18n "smartbanner.interstitial.continue-mobile"}}';
                var interstitialShowAfterHide = ".header, .searchbar, .containment";

                // Begin Smartbanner declaration
                var interstitialDaysHidden = 7;
                var smartBannerDaysOff = 15;
                var srcPageType = "{{model.dataLayer.pageData.pageType}}";
                var appSrcPages = ["Homepage", "VIP", "ResultsBrowse", "ResultsSearch", "ResultsSeller"];

                var defaultToSmartBanner = false;
                var smartBannerAppStoreTitle = null;
                var smartBannerAppStoreButtonInstall = null;
                if (appSrcPages.indexOf(srcPageType) > -1) {
                    defaultToSmartBanner = true;
                    smartBannerAppStoreTitle = '{{{i18n "smartbanner.title"}}}';
                    smartBannerAppStoreButtonInstall = '{{i18n "smartbanner.install"}}';
                }
                // End Smartbanner declaration
            </script>
            {{#block "deviceSmartBannerScriptImpl"}}{{/block}}


{{/partial}}
 {{/unless}}
{{/if}}
