<label class="title reported-ad hide">
    <span>{{i18n "vip.flagad.anuncioReportado"}}</span>
</label>

<div class="unreported-ad flagad-container">

    <a class="title" href="javascript:void(0)">
        {{#block "icon-warning-sign"}}
            <span class="icon-warning-sign"></span>
        {{/block}}
        <span class="label">{{i18n "vip.flagad.title"}}</span>
        <span class="caret-icon-area icon-caret-right"></span>
    </a>

    {{#ifMobile this.device}}
    {{> (dynamic "flagAdForm") hideForm=true}}
    {{/ifMobile}}

    {{#unlessMobile this.device}}
    <div id="flagAdModal" class="modal modal-cp hiddenElt">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="desktop-header">
                <span class="desktop-message-text">
                    <div class="icon-warning-sign"></div>
                    <span class="label">{{i18n "vip.flagad.title"}}</span>
                </span>
                <div class="close-button">Cerrar
                    <div class="icon-close-small-bold close-icon-font"></div>
                </div>
            </div>
            {{> (dynamic "flagAdForm")  hideForm=false}}
        </div>
    </div>
    {{/unlessMobile}}

    {{#partial "captchaTailsScripts"}}
        <script type="text/javascript">
            var expiredCallback = function () {
                $('input[name="captchaToken"]').val('');
                $('form.flagAd button.action-button').prop('disabled', true);
            };
            var canSubmit = function (res) {
                $('input[name="captchaToken"]').val(res);
                $('form.flagAd button.action-button').prop('disabled', false);
            };
            var onloadCallback = function() {
                grecaptcha.render('g-recaptcha', {
                    'sitekey': '{{this.header.recaptchaSiteKey}}',
                    'expired-callback': expiredCallback,
                    'callback': canSubmit
                });
            };
        </script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl={{this.lang}}" async defer></script>
    {{/partial}}

</div>
