{{#partial "content"}}

    {{> (dynamic "topBanner")}}

    <div class="vip-left-columns">
        <div id="viewPage">
            {{> (dynamic "viewPageGallery")}}

            <div class="item-details">
              {{> (dynamic "adDetails")}}
            </div>
        </div>

        {{#if this.vip.payWithShepherd}}
            <div>
                <span class="icon-shepherd-pay-button" data-target='_blank' data-gtm="pc|ShepherdClick"
                   data-uri="https://www.paywithshepherd.com/gumtree_buyer/buy_now?remote_url={{this.header.viewPageUrl}}"></span>
            </div>
        {{/if}}
    </div>

    <div class="vip-right-columns">
        <div class="seller-profile">
            {{> (dynamic "sellerProfile")}}
        </div>

        {{> (dynamic "rightBanner")}}

        {{#if this.safetyTips}}
            <div class="vip-safety-tips">
                {{> (dynamic "safetyTips") }}
			</div>
        {{/if}}
    </div>
  </div>

  {{> (dynamic "bottomBanner")}}

  <div class="seo-wrapper">
         <h1>{{i18n "home.h1Tag"}}</h1>
          {{> (dynamic "topSearches") topSearches = this.keywords}}
  </div>
</div>


{{/partial}}


{{#partial "pageTailScripts"}}

	<script>
		var googleTagAccountMobId = "{{this.header.googleTagAccountMobId}}";
		var googleTagAccountId = "{{this.header.googleTagAccountId}}";
		var bP = {
            {{#ifMobile this.device}}
				accId: ("/" + googleTagAccountMobId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{else}}
				accId: ("/" + googleTagAccountId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{/ifMobile}}
			dc_ref: window.location.href,
			kw: $('input[name=q]').val() || $('input[name=title]').val() || "no category",
			loc: $('input[name=NlocName]').val(),
			ptype: 'VIP'
		};

        {{#block "googleBannerAdsTopV2_Script"}}{{/block}}
        {{#block "googleBannerAdsRightV2_Script"}}{{/block}}
        {{#block "googleBannerAdsBottom_Script"}}{{/block}}
	</script>

{{/partial}}
