{{#partial "content"}}

    {{> (dynamic "modal")}}

    {{> (dynamic "breadcrumbsV2") breadcrumbs=this.advert.breadcrumbs}}

    {{> (dynamic "topBanner")}}

    <div class="status-ad-banner-mobile">
        {{> (dynamic "statusBanner") }}
    </div>

    <div class="vip-left-columns">
        <div id="viewPage">
            {{#if this.advert.picturesToDisplay.testPictures.length}}
                {{> (dynamic "viewPageGallery")}}
            {{/if}}

            {{#ifMobile this.device}}
                <div class="seller-profile">
                    {{> (dynamic "sellerProfile")}}
                </div>
                {{> (dynamic "adStats") }}
                {{#block "vip-adstats"}}{{/block}}
            {{else}}
                <div class="clear-line"></div>
            {{/ifMobile}}

            <div class="item-details">
                {{> (dynamic "adDetails")}}
            </div>

            {{#unlessMobile this.device}}
                {{#if this.flagAd}}
                    <div class="vip vip-flagad">
                        {{> (dynamic "flagAd")}}
                    </div>
                {{/if}}
            {{/unlessMobile}}
        </div>

        {{#if this.vip.payWithShepherd}}
            <div>
                <span class="icon-shepherd-pay-button" data-target='_blank' data-gtm="pc|ShepherdClick"
                    data-uri="https://www.paywithshepherd.com/gumtree_buyer/buy_now?remote_url={{this.header.viewPageUrl}}"></span>
            </div>
        {{/if}}
    </div>

    <div class="vip-right-columns">
        <div class="status-ad-banner-desktop">
            {{> (dynamic "statusBanner") }}
        </div>
        {{#unlessMobile this.device}}
            <div class="seller-profile">
                {{> (dynamic "sellerProfile")}}
            </div>
            {{> (dynamic "adStats") }}
            {{#block "vip-adstats"}}{{/block}}
        {{/unlessMobile}}

        <div class="reply-form">
            {{> (dynamic "replyForm")}}
        </div>

        <div class="google-maps">
            {{> (dynamic "gpsMap")}}
            {{#block "vip-map"}}{{/block}}
        </div>

        {{#ifMobile this.device}}
            {{#if this.flagAd}}
                <div class="clear-line"></div>
                <div class="vip vip-flagad">
                    {{> (dynamic "flagAd")}}
                </div>
            {{/if}}
        {{/ifMobile}}

        {{> (dynamic "nativeAdBanner")}}
        {{#block "NativeAdCalculator"}}{{/block}}
    </div>

    <div class="clear"></div>

    <div class="vip-bottom-banner-container">
        {{> (dynamic "bottomBanner")}}
    </div>

    {{> (dynamic "adTabs")}}

    <div class="vip-sponsoredads">
        {{> (dynamic "adsense")}}
        {{#block "AdsenseBottom-Content"}}{{/block}}
    </div>

    <div class="clear"></div>

    <div class="seo-wrapper">
        <h1>{{i18n "home.h1Tag"}}</h1>
        {{> (dynamic "topSearches") topSearches=this.keywords homePageUrl=this.header.homePageUrl}}
    </div>

    {{#unless this.vip.showBuyerStuff}}
        {{#if showPostOverlay}}
            <input type="hidden" class="from-post-flag" value="true"
                   data-post-more-text="{{i18n "vip.postOverlay.postMore"}}">
            <div class="post-overlay modal desktop-only">
                <div class="modal-overlay"></div>
                <div class="modal-container">
                    <div class="modal-close-section">
                        {{!-- This DIV is to meet structure asked by modal.scss but I don't know why it's needed --}}
                        <div>
                            <span class="close-text">{{i18n "welcomescreen.close"}}</span>
                            <span class="icon-close"></span>
                        </div>
                    </div>
                    <h2 class="modal-header-message">{{i18n postOverlayTitleKey}}</h2>
                    <div class="modal-info">{{i18n "vip.postOverlay.description"}}</div>
                    <div class="edit-link"><a data-gtm="pc|EditAdBegin" href="/edit/{{adId}}">{{i18n
                        "vip.postOverlay.edit"}}</a></div>
                    {{> (dynamic "button") i18nPath="vip.postOverlay.postMore" gtmEvent="pc|PostAdBegin" buttonLink="/post" hideIcon=false iconName="icon-post" }}
                </div>
            </div>
        {{/if}}
    {{/unless}}

    {{#partial "welcomeText"}}
        {{#unless this.vip.showBuyerStuff}}
            {{#if showPostOverlay}}
                <div class="from-post-container">
                    <h2>{{i18n postOverlayTitleKey}}</h2>
                    <div class="modal-info">{{i18n "vip.postOverlay.description"}}</div>
                    <div class="edit-link"><a data-gtm="pc|EditAdBegin" href="/edit/{{adId}}">{{i18n
                        "vip.postOverlay.edit"}}</a></div>
                </div>
            {{/if}}
        {{/unless}}
    {{/partial}}

    {{#partial "welcomeModal"}}
        {{> (dynamic "welcomeModal") isBuyerPage=this.vip.showBuyerStuff}}
    {{/partial}}


{{/partial}}


{{#partial "pageTailScripts"}}


    <script>
        var googleTagAccountMobId = "{{this.header.googleTagAccountMobId}}";
        var googleTagAccountId = "{{this.header.googleTagAccountId}}";
        var bP = {
            {{#ifMobile this.device}}
                accId: ("/" + googleTagAccountMobId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{else}}
                accId: ("/" + googleTagAccountId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{/ifMobile}}
            dc_ref: window.location.href,
            kw: $('input[name=q]').val() || $('input[name=title]').val() || "no category",
            loc: $('input[name=NlocName]').val(),
            ptype: 'VIP'
        };

        {{#block "googleBannerAdsBottom_Script"}}{{/block}}

        {{#block "NativeAd_Script"}}{{/block}}
    </script>

    {{#partial "Adsense-Script-ext"}}
        init(x.desktopNumAdsTop, x.desktopNumAdsBottom, x.desktopSiteLinks, x.desktopPubId, true, '#FFFFF0', 120, 80);
    {{/partial}}
    {{#block "Adsense-Script"}}{{/block}}

    {{#block "captchaTailsScripts"}}{{/block}}
{{/partial}}
