<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{site}}</title>
        <link rel="stylesheet" href="css/{{site}}/{{country}}/{{locale}}/{{pagename}}.css"/>
        <link rel="stylesheet" href="css/{{site}}/{{country}}/{{locale}}/main.css"/>
        <link rel="stylesheet" href="css/icons.data.svg_{{locale}}.css"/>
    </head>
    <body>

        <!-- From Body.html -->
        <div class="viewport" id="div-gpt-oop">
            {{> header}}
            <div class="containment">

                {{#block "messaging-full-width"}}{{/block}}

                <div class="page {{!-- #ifEq model.content.numFound 0}}{{else}}extra{{/ifEq --}}" >

                    {{#block "messaging"}}{{/block}}

                    {{#block "breadcrumbs"}}
                    {{!-- > hbs/Html/Breadcrumbs --}}
                    {{/block}}

                    <div class="content">
                        <section role="content">
                            <div id="wrapper" class="wrap">
                                {{! page content goes here. Override this in each pages}}

                                {{{body}}}

                                {{#block "content" this}}OVERRIDE THIS!!!{{/block}}
                                <div class="clear"></div>
                            </div>
                        </section>
                    </div>

                   {{#block "comscore"}}{{/block}}

                    <div class="footer">

                          {{> footer}}
                          {{#block "footerp"}}
                              <footer>FOOTER SHOULD BE OVERWRITE HERE</footer>
                          {{/block}}
                      
                    </div>

                </div>

            </div>
        </div>

        <!-- End from Body.html -->
        <script src="/js/libraries/jQuery/jquery-2.0.0.js"></script>
        <script src="/js/bower-components/requirejs/require.js"></script>
        <!--
        <script src="/js/bower-components/jquery/src/jquery.js"></script>
        -->
        <script src="/js/common/searchbar.js"></script>
        <script src="/views/components/categoryList/js/app.js"></script>

        <!--
        <script src="/js/libraries/handlebars/handlebars.js"></script>
        -->

        {{> Tail}}
    </body>
</html>
