<noscript>
	<style type="text/css">
		.jsOnly {display:none !important;}
		.nonJsOnlyInlineBlock{display:inline-block !important;}
		.nonJsOnlyBlock {display:block !important;}
		.nonJsOnlyInline {display:inline !important;}
	</style>
</noscript>
{{#each this.topSearches}}
<div class="tab-content searches-wrapper container-width-{{this.total}}">
    <div class="top-searches">
<<<<<<< 569e42d47e2393cdeaef57ee85a403f7f3ab50d7
		{{#each this.menuTitles}}
			{{#compare @../index "==" @index}}
				<div class="top-searches-header top-headers"><span class="top-headers-text search-header-text thick-underline">{{i18n this}}</span></div>
			{{else}}
				<div class="jsOnly top-searches-header top-headers desktop-hide"><span class="top-headers-text location-header-text">{{i18n this}}</span></div>
			{{/compare}}
		{{/each}}
=======
		
        <div class="top-searches-header top-headers">
          <span class="top-headers-text search-header-text">{{i18n "home.popular.searches"}}</span>
        </div>
        <div class="jsOnly top-locations-header top-headers desktop-hide">
          <span class="top-headers-text location-header-text">{{i18n "footer.toplocations"}}</span>
        </div>
        <div class="jsOnly top-categories-header top-headers desktop-hide">
          <span class="top-headers-text category-header-text">{{i18n "footer.topCategories"}}</span>
        </div>
        
>>>>>>> adding the category tree V2
        <div class="seo-line desktop-hide"></div>
        <div class="top-content-wrapper">
				{{#each this.keywords}}
            {{#compare @index "<=" 5}}
                <div class="nonJsOnlyInline top-content">
                    <a class="top-links" href="{{_links.[0].href}}" data-gtm="pc|NavFooterClick|eventLabel|TopSearches">{{text}}</a>
                </div>
            {{/compare}}
            {{#compare @index ">" 5}}
				<div class="nonJsOnlyInline hide top-content show-more-searches">
					<a class="top-links" href="{{_links.[0].href}}" data-gtm="pc|NavFooterClick|eventLabel|TopSearches">{{text}}</a>
				</div>
            {{/compare}}
        {{/each}}
		</div>
		{{#compare this.keywords.length ">" 7}}
		<div class="jsOnly view-more-searches"
            data-view-less="{{i18n "footer.topSearches.viewLess"}}"
            data-view-more="{{i18n "footer.topSearches.viewMore"}}">{{i18n "footer.topSearches.viewMore"}}</div>
		{{/compare}}
    </div>
</div>
{{/each}}
