{{#partial "deviceSmartBanner"}}
    {{#ifMobile this.device}}
            <meta name="ecg-apple-itunes-app" content="app-id=684141699, app-argument=https://app.adjust.com/vkb3b8" />
            <meta name="google-play-app" content="app-id=umjxh3" />         
    {{/ifMobile}}
{{/partial}}

{{#partial "deviceSmartBannerScript"}}
    {{#unless this.header.id}} {{!-- Only if user hasn't logged in --}}
        {{#ifMobile this.device}}
            <script>
                var appStoreLanguage = "sg";
                var appStoreTitle = '<span class="sb-close">{{__ "smartbanner.interstitial.continue-mobile"}}</span>';
                var appStoreButtonInstall = '{{__ "smartbanner.interstitial.install"}}';
                var appStoreIconURL = "{{this.header.baseImageUrl}}{{this.locale}}/interstitial-icon.png";
                var isInterstitial = true;
                var appStoreContinueMobileSite = '{{__ "smartbanner.interstitial.continue-mobile"}}';
                var interstitialShowAfterHide = ".header, .searchbar, .containment";

                // Begin Smartbanner declaration
                var interstitialDaysHidden = 7;
                var smartBannerDaysOff = 15;
                var srcPageType = "{{this.dataLayer.pageData.pageType}}";
                var appSrcPages = ["Homepage", "VIP", "ResultsBrowse", "ResultsSearch", "ResultsSeller"];

                var defaultToSmartBanner = false;
                var smartBannerAppStoreTitle = null;
                var smartBannerAppStoreButtonInstall = null;
                if (appSrcPages.indexOf(srcPageType) > -1) {
                    defaultToSmartBanner = true;
                    smartBannerAppStoreTitle = '{{{__ "smartbanner.title"}}}';
                    smartBannerAppStoreButtonInstall = '{{__ "smartbanner.install"}}';
                }
                // End Smartbanner declaration
            </script>
            {{#block "deviceSmartBannerScriptImpl"}}{{/block}}
        {{/ifMobile}} 
      {{/unless}}
{{/partial}}
