{{> (base "countryMap") }}

{{#partial "countryMap"}}
<div class="hp-map-wrapper">
    <!-- MAP-->
    <div class="mapbox map_image">
        <div id="completeMap">

            <img src="{{this.header.baseImageUrl}}{{this.locale}}/MAP/ar_map3.gif" usemap="#MapAreasContainer" border="0"
                 alt="{{__ "home.mapTitle"}}" />

        </div>
        <map id="MapAreasContainer" name="MapAreasContainer">
            <area title="Buenos Aires"  shape="poly" coords="294,133,287,140,287,146,291,150,297,149,303,142,307,144,306,150,307,154,311,156,312,160,304,172,303,176,287,182,269,184,261,184,257,183,257,189,260,192,259,195,256,197,257,205,253,209,247,205,246,135,265,133,271,126,277,127,277,123,292,130" />
            <area title="Capital Federal" shape="poly" coords="302,140,292,132,287,138,288,149,294,150,300,144" />
            <area title="Capital Federal" shape="poly" coords="399,143,380,125,380,109,388,90,401,83,403,85,414,92,419,97,423,97,428,102,428,105,430,105,434,112,434,116,429,122,423,127,410,127" />
            <area title="Catamarca" shape="poly" coords="198,46,198,42,196,38,200,33,212,34,216,40,211,41,215,47,217,51,220,53,217,57,227,66,228,64,231,84,227,87,223,78,218,74,217,69,211,68,204,69,198,64,198,61,192,62,194,55,199,53,196,48" />
            <area title="Chaco"  shape="poly" coords="262,64,265,41,244,39,259,27,289,46,293,54,292,62,289,65" />
            <area title="Chubut"  shape="poly" coords="162,222,231,220,235,223,237,226,240,224,243,220,245,224,243,230,240,231,234,226,231,228,237,232,228,239,229,248,224,256,210,261,204,269,166,268,165,263,170,260,161,253,170,252,170,248,164,248,165,239,161,234" />
            <area title="Córdoba"  shape="poly" coords="230,140,229,120,233,114,225,106,224,93,229,84,238,80,246,82,258,84,261,97,257,103,258,112,260,116,260,119,251,133,246,133,246,140" />
            <area title="Corrientes" shape="poly" coords="283,90,295,87,300,91,321,67,317,58,315,60,306,60,301,58,294,57,289,67,288,73,284,78" />
            <area title="Entre Ríos"  shape="poly" coords="294,129,283,125,275,119,277,103,285,90,293,88,301,93" />
            <area title="Formosa" shape="poly" coords="256,23,275,36,286,47,295,52,298,50,298,45,299,43,304,38,280,24,272,22,258,10" />
            <area title="Jujuy" shape="poly" coords="209,20,215,26,217,23,217,17,221,17,221,22,226,27,234,29,239,24,239,18,232,17,229,11,228,3,223,3,220,0,215,4,210,10,211,12" />
            <area title="La Pampa"  shape="poly" coords="246,189,235,184,216,182,206,177,200,168,201,150,228,152,231,150,230,142,244,140" />
            <area title="La Rioja"  shape="poly" coords="223,106,224,95,227,89,222,76,216,73,216,67,209,67,202,69,196,63,195,61,190,63,187,69,191,74,192,82,199,83,210,94,210,101,214,105,214,107" />
            <area title="Mendoza" shape="poly" coords="200,170,199,151,213,151,215,138,211,125,208,112,198,106,192,112,189,106,184,110,180,111,180,120,184,120,184,125,183,132,179,137,178,153,186,164" />
            <area title="Misiones"  shape="poly" coords="319,59,322,65,340,55,340,45,338,40,334,39,333,46,329,51" />
            <area title="Neuquén"  shape="poly" coords="201,185,200,182,198,169,184,163,176,154,172,159,172,176,175,180,169,185,164,206,171,210,171,204,179,203,182,201,183,195" />
            <area title="Río Negro" shape="poly" coords="229,220,165,220,164,208,172,208,173,204,181,203,184,200,185,194,199,186,200,172,208,179,219,183,233,184,246,192,246,203,251,209,241,209,231,203,228,207,231,215" />
            <area title="Salta"  shape="poly" coords="198,34,196,31,201,26,206,25,209,22,215,24,216,21,215,16,220,15,223,23,228,28,234,26,240,22,238,16,230,16,227,10,230,3,234,5,237,10,241,2,251,2,257,8,257,26,246,39,240,39,236,45,234,45,232,47,227,44,225,44,224,47,221,47,218,45,217,47,213,41,216,38,214,35" />
            <area title="San Juan"  shape="poly" coords="207,110,207,107,212,105,209,99,209,92,197,81,190,81,191,72,185,69,184,75,182,78,182,82,184,87,183,90,179,92,179,98,177,99,176,103,180,107,178,110,186,111,187,107,191,106,194,111,200,107" />
            <area title="San Luis" shape="poly" coords="215,151,216,140,214,135,213,128,210,122,210,115,207,105,217,107,225,108,231,114,229,122,230,152" />
            <area title="Santa Cruz" shape="poly" coords="197,348,183,344,163,344,159,339,159,326,153,327,147,312,159,296,159,287,164,283,164,269,206,269,208,276,216,282,223,282,222,293,206,304,204,315,199,320,190,324,191,337" />
            <area title="Santa Fé"  shape="poly" coords="253,133,262,118,262,115,258,110,258,105,262,94,260,90,265,66,287,65,287,75,282,78,283,93,275,105,273,105,273,118,277,121,275,126,271,124,263,134" />
            <area title="Santiago Del Estero"  shape="poly" coords="260,84,263,66,263,42,240,41,236,47,230,64,230,70,232,82,238,78,244,83" />
            <area title="Tierra Del Fuego" shape="poly" coords="195,354,195,381,212,383,217,384,239,381,222,378,208,371,200,361,196,359,199,358" />
            <area title="Tucumán" shape="poly" coords="230,62,226,64,219,57,222,53,217,49,220,45,226,47,229,44,232,49,234,47" />
        </map>
    </div>
</div>
<!-- MAP end -->
{{/partial}}

{{#partial "locationMap_Script"}}
    {{!-- This partial initializes the location map feature --}}
    // var baseLocMapDir = "{{model.header.baseImageUrl}}{{model.locale}}/MAP/locations/";
    var baseLocMapDir = "/images/es_AR/MAP/locations/";

    var mapComponentsJSON = {
        completeMap : $("#completeMap"),
        liStates : $(".hp-province-wrapper .location-list li"),
        areasContainer : $("#MapAreasContainer")
    };

    if (BOLT && BOLT.HOME && BOLT.HOME.Map) {
        BOLT.HOME.Map.init(baseLocMapDir, mapComponentsJSON, {}, ".png"); // { "Distrito Federal" : "df" });
    }
{{/partial}}

