	{{#partial "content"}}
		{{#block "homepg"}}
	
			{{#if this.content.topHomePageAdBanner}}
				{{> (dynamic "topBanner")}}
			{{/if}}

			{{#block "locationBeforeCategory"}}{{/block}}

			<div class="hp-content hp-others
			{{#if this.socialMediaEnabled}}socialMediaEnabled{{/if}}
			{{#if this.footer.googleAdSense.enabled}}googleAdSensei{{/if}}
			{{#if this.content.homePageBannerUrl}}homePageBannerImage{{/if}}
			">

			<div class="hp-list-wrapper">
				<div class="hp-total-ad-count">
					<span class="hp-live_ads_msg">{{{i18n "home.page.live.ad.count.label" this.totalLiveAdCount}}}</span>
				</div>

				<div class="hp-category-wrapper">
					<h1>{{i18n "home.h1Tag"}}</h1>
					{{#if model.lastWeekPostedAdCount}}
						<p class="lastweekposts">{{{i18n "home.lastweekpostedAD" model.lastWeekPostedAdCount model.lastWeekPostedAdLocal}}}</p>
					{{/if}}

					{{#with this}}
						{{> (dynamic "categoryList") }}
					{{/with}}

					<div class="hp-link-wrapper">
						<div class="post-ad-button">
							<a href="{{this.header.postAdPageUrl}}" data-gtm="pc|PostAdBegin" class="primary-button postcommercial">{{i18n "header.postad-long"}}</a>
						</div>
					</div>

				</div>

				{{#block "googleBannerAdsBottom_Container"}}{{/block}}
				<div class="clear"></div>

				{{#block "locationAfterCategory"}}{{/block}}

				<div class="hp-keywords-wrapper">
					{{#if this.topKeywords}}
					<div class="hp-popular-searches-wrapper">
						<h5>{{i18n "home.popular-searches"}}</h5>
						<ul>
							{{#each this.topKeywords}}
							<li data-index="{{@index}}">
								<a href="{{_links.[0].href}}">{{text}}</a>
							</li>
							{{/each}}
						</ul>
					</div>
					{{/if}}

					{{#if this.trendingKeywords}}
					<div class="hp-trending-searches-wrapper">
						<h5>{{i18n "home.trending-searches"}}</h5>
						<ul>
							{{#each this.trendingKeywords}}
							<li data-index="{{@index}}">
								<a href="{{_links.[0].href}}">{{text}}</a>
							</li>
							{{/each}}
						</ul>
					</div>
					{{/if}}
				</div>

				<div class="clear"></div>
			</div>

			<input type="hidden" name="NcatId" value="{{this.content.ad.ad.categoryId}}" />
			<input type="hidden" name="NlocId" value="{{this.content.ad.ad.locationId}}" />
		{{/block}}

		<!-- Move this to footer partial -->
		<!-- Remove this when using require.js -->

		<!--
		<script src="/js/libraries/jQuery/jquery-2.0.0.js"></script>
		<script src="/js/libraries/handlebars/handlebars.js"></script>
		-->

		<!--
		<script src="/views/templates/pages/homepage/js/homepage.js"></script>
		{{#if site}}{{#if locale}}
		<script src="/js/precompiled/{{site}}/{{locale}}/homepage.html.js"></script>
		<script>
		BOLT.Homepage.getTemplateData();
		</script>
		{{/if}}{{/if}}
		-->
	{{/partial}}

	{{#partial "pageTailScriptsBeforeIncludes"}}
		{{!-- @todo: REMOVE THIS ONCE JS LOADING OF FILES IS DONE --}}
		<!-- End from Body.html -->
		<script src="/js/libraries/jQuery/jquery-2.0.0.js"></script>
		<script src="/js/bower-components/requirejs/require.js"></script>
		<!--
		<script src="/js/bower-components/jquery/src/jquery.js"></script>
		-->
		<script src="/js/common/bolt/cookie.js"></script>
		<script src="/js/common/bolt/searchbar.js"></script>
		<script src="/views/components/categoryList/js/app.js"></script>

		<!--
		<script src="/js/libraries/handlebars/handlebars.js"></script>
		-->
		{{!-- @todo: end --}}

	    {{#block "carouselJsFiles"}}
	        <script src="/views/components/adCarousel/js/adCarousel.js"></script>
	    {{/block}}
	    <script src="/js/common/utils/StringUtils.js"></script>
	    <script src="/views/components/header/js/header.js"></script>

	    {{!-- Moved these 2 below from pageTailScripts --}}
	    <script src="/js/common/tracking/GoogleTag.js"></script>
	    <script src="/js/common/banners/GoogleBanner.js"></script>
	{{/partial}}  

	{{#partial "pageTailScripts"}}
		<script>
		var googleTagAccountMobId = "{{this.header.googleTagAccountMobId}}";
		var googleTagAccountId = "{{this.header.googleTagAccountId}}";
		var bP = {
			{{#ifMobile this.device}}
				accId : ("/" + googleTagAccountMobId + "/home").split(' ').join('_').replace(/\,|&_|'/g,""),
			{{else}}
				accId : ("/" + googleTagAccountId + "/home").split(' ').join('_').replace(/\,|&_|'/g,""),
			{{/ifMobile}}
			dc_ref: window.location.href,
			kw: $('input[name=q]').val() || "no category",
			ptype: 'home'
		};

		{{#block "AdBannerHomepg"}}
			{{#block "locationMap_Script"}}{{/block}}
			{{#block "googleBannerAdsTop_Script"}}{{/block}}
			{{#block "googleBannerAdsRight_Script"}}{{/block}}
			{{#block "googleBannerAdsRightBottom_Script"}}{{/block}}
			{{#block "googleBannerAdsBottom_Script"}}{{/block}}
			{{#block "googleBannerSkinCampaign_Script"}}{{/block}}
		{{/block}}
		</script>
	{{/partial}}

	{{#partial "pageTailScriptsAfterMarketo"}}
	    <script>
	    {{!-- @MUNCHKIN: Munchkin Marketo Event Tracking Section --}}
	    {{#if this.header.marketo.isAssociateLead}}
	        var mktoJSON = {};
	        {{#if this.header.marketo.marketoAttributeJsonStr}}
	            var mktoJSON = {{{this.header.marketo.marketoAttributeJsonStr}}};
	        {{else}}
	            var mktoJSON = {};
	        {{/if}}
	            var mkinID = "{{this.header.marketo.munchkinId}}";
	            var pK = "{{this.header.marketo.privateKey}}";
	            {{!-- Marketo Munchkin Event Tracking --}}
	            {{> (dynamic "marketoTracking") }}

	            if (typeof trackEvtMunchkin != "undefined") {
	                setTimeout(function () {
	                    trackEvtMunchkin(mktoJSON, pK);
	                }, 3000);
	            }
	     {{/if}}
		</script>
	{{/partial}}

	{{#partial "abtesting"}}
		{{#if this.content.abTestUrl}}
	    	<script class="abtestUrl" src="{{this.header.abTestUrl}}"></script>
	    {{/if}}
	{{/partial}}

	{{#partial "metaGoogleSearchBox"}} 
	        <meta name="google" content="nositelinkssearchbox"/>
	{{/partial}}
