{{#partial "homepg"}}
 <div class="hp-category-wrapper">
    {{#if model.lastWeekPostedAdCount}}
        <p class="lastweekposts">{{{i18n "home.lastweekpostedAD" model.lastWeekPostedAdCount model.lastWeekPostedAdLocal}}}</p>
    {{/if}}
    {{> countryMap}}
    {{> locationMapContainer}}
    {{#block "locationContainer" ../this}}{{/block}}
    {{#block "locationBeforeCategory"}}{{/block}}
</div>

{{> adCarousel}}
{{#block "carousel"}}VIEW RESULT{{/block}}

<div class="category-wrapper">
	<h1>{{i18n "home.h1Tag"}}</h1>
		{{#with ../this.category}}
      {{> categoryDisplay}}
      {{> categoryList}}
    {{/with}}
</div>

{{> siteFlow}}

{{!-- this section needs refactoring --}}
<div class="postSection">
	{{#with model.content}}
	<div class="hp-total-ad-count">
		<div class="hp-live_ads_msg line2"><div>{{{i18n "home.page.live.ad.count.label" model.content.totalLiveAdCount}}} </div><span class="postText">Publica tu clasificado</span><span class="postLink" data-o-uri="{{obfuscateUrl model.header.postAdPageUrl}}"> {{i18n "home.post.ad.message"}}</span></div>

		{{!--
		<div class='line2'>
			<span class="postText">Publica tu clasificado</span>
			<span class="postLink" data-o-uri="{{obfuscateUrl model.header.postAdPageUrl}}">{{i18n "home.post.ad.message"}}</span>
		</div>
		--}}
	</div>
	{{/with}}

	<div class="header diff">
        <div class="right">
            <div class="post post-btn-wrap">
                <a class="sudo-link sudo-link post-btn postcommercial"  data-gtm="pc|PostAdBegin" href="/post.html">
                  <span class="long">{{i18n "header.postad-medium"}}</span>
               </a>
            </div>
        </div>
	</div>
	<div class="clear"></div>
</div>
{{!-- the above section needs refactoring till here --}}

<div class="hp-content hp-viva
{{#if model.socialMediaEnabled}}socialMediaEnabled{{/if}}
{{#if model.footer.googleAdSense.enabled}}googleAdSensei{{/if}}
{{#if model.content.homePageBannerUrl}}homePageBannerImage{{/if}}
">

	<div class="hp-list-wrapper">
		<div class="hp-keywords-wrapper" id="keywordChecker"
			{{#if model.content.keywordsModel.topKeywords}}{{#if model.content.trendingKeywordsModel.topKeywords}}
			id="keywordChecker"
			{{/if}}{{/if}}>
			{{#if ../this.topKeywords}}
				<div class="hp-popular-searches-wrapper">
					<h5>{{i18n "home.popular-searches"}}</h5>
					<ul>
					{{#each ../this.topKeywords}}
						<li data-index="{{@index}}" class="nonJsOnlyBlock">
							<a href="{{_links.[0].href}}">{{displayName}}</a>
						</li>
					{{/each}}
					<span class="ver-all jsOnly">Ver todos</span>
					</ul>
				</div>
			{{/if}}

			{{#if ../this.trendingKeywords}}
				<div class="hp-trending-searches-wrapper">
					<h5>{{i18n "home.trending-searches"}}</h5>
					<ul>
					{{#each ../this.trendingKeywords}}
						<li data-index="{{@index}}" class="nonJsOnlyBlock">
							<a href="{{url}}">{{displayName}}</a>
						</li>
					{{/each}}
					<span class="ver-all jsOnly">Ver todos</span>
					</ul>
				</div>
			{{/if}}
		</div>

		<div class="clear"></div>
    </div>
	<input type="hidden" name="NcatId" value="{{model.content.ad.ad.categoryId}}" />
	<input type="hidden" name="NlocId" value="{{model.content.ad.ad.locationId}}" />
</div>
{{/partial}}

{{#partial "headerPost"}}
    <div class="postSection headerPost">
        <div class="header diff">
            <div class="right">
                <div class="post post-btn-wrap">
                    <a class="sudo-link sudo-link post-btn postcommercial"  data-gtm="pc|PostAdBegin" href="/post.html">
                        <span class="long">{{i18n "header.postad-medium"}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{{/partial}}

{{#partial "AdBannerHomepg"}}
	{{#block "locationMap_Script"}}
    {{/block}}
{{/partial}}

{{#if model.header.isIncludeContentForMobile}}
    {{#partial "locationAfterCategory"}}
    	{{#block "locationContainer" ../this}}{{/block}}
    {{/partial}}
{{else}}
    {{#partial "locationBeforeCategory"}}{{/partial}}
    {{#partial "locationAfterCategory"}}
        {{> locationMapContainer}}
        {{> countryMap}}
        {{> adCarousel}}

        {{#block "locationContainer" ../this}}{{/block}}  
        {{#block "carousel" ../this.initialGalleryInfo}}{{/block}}
    {{/partial}}
{{/if}}

{{> homepage-base}}