
	{{#partial "content"}}
        {{#if  ../this.header.successMessage}}
            {{i18n ../this.header.successMessage}}
        {{/if}}
        {{#if  ../this.header.errorMessage}}
            {{i18n ../this.header.errorMessage}}
        {{/if}}
	{{#block "homepg"}}
	{{#if ../this.header.topHomePageAdBanner}}
	{{> topBanner}}
	{{/if}}

	{{#block "locationBeforeCategory"}}{{/block}}
	<div class="hp-content hp-others
	{{#if model.socialMediaEnabled}}socialMediaEnabled{{/if}}
	{{#if model.footer.googleAdSense.enabled}}googleAdSensei{{/if}}
	{{#if model.content.homePageBannerUrl}}homePageBannerImage{{/if}}
	">

	<div class="hp-list-wrapper">
		<div class="hp-total-ad-count">
			<span class="hp-live_ads_msg">{{{i18n "home.page.live.ad.count.label" ../this.totalLiveAdCount}}}</span>
		</div>

		<div class="hp-category-wrapper">
			<h1>{{i18n "home.h1Tag"}}</h1>
			{{#if model.lastWeekPostedAdCount}}
			<p class="lastweekposts">{{{i18n "home.lastweekpostedAD" model.lastWeekPostedAdCount model.lastWeekPostedAdLocal}}}</p>
			{{/if}}

			{{#with ../this}}
			{{> categoryList}}
			{{/with}}

			<div class="hp-link-wrapper">
				<div class="post-ad-button">
					<a href="{{model.header.postAdPageUrl}}" data-gtm="pc|PostAdBegin" class="primary-button postcommercial">{{i18n "header.postad-long"}}</a>
				</div>
			</div>

		</div>

		{{#block "googleBannerAdsBottom_Container"}}{{/block}}
		<div class="clear"></div>

		{{#block "locationAfterCategory"}}{{/block}}

		<div class="hp-keywords-wrapper">
			{{#if ../this.topKeywords}}
			<div class="hp-popular-searches-wrapper">
				<h5>{{i18n "home.popular-searches"}}</h5>
				<ul>
					{{#each ../this.topKeywords}}
					<li data-index="{{@index}}">
						<a href="{{_links.[0].href}}">{{text}}</a>
					</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}

			{{#if ../this.trendingKeywords}}
			<div class="hp-trending-searches-wrapper">
				<h5>{{i18n "home.trending-searches"}}</h5>
				<ul>
					{{#each ../this.trendingKeywords}}
					<li data-index="{{@index}}">
						<a href="{{_links.[0].href}}">{{text}}</a>
					</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
		</div>

		<div class="clear"></div>
	</div>


	<input type="hidden" name="NcatId" value="{{model.content.ad.ad.categoryId}}" />
	<input type="hidden" name="NlocId" value="{{model.content.ad.ad.locationId}}" />

	{{/block}}

	<!-- Move this to footer partial -->
	<!-- Remove this when using require.js -->

	<!--
	<script src="/js/libraries/jQuery/jquery-2.0.0.js"></script>
	<script src="/js/libraries/handlebars/handlebars.js"></script>
	-->

	<!--
	<script src="/views/templates/pages/homepage/js/homepage.js"></script>
	{{#if site}}{{#if locale}}
	<script src="/js/precompiled/{{site}}/{{locale}}/homepage.html.js"></script>
	<script>
	BOLT.Homepage.getTemplateData();
	</script>
	{{/if}}{{/if}}
	-->

	{{/partial}}


	{{#partial "pageTailScripts"}}
	<script src="/js/common/googleTag.js"></script>
	<script>
	var bP = {
		{{#if model.header.isIncludeContentForMobile}}
			accId : ("/{{{model.googleTagAccountMobId}}}/home").split(' ').join('_').replace(/\,|&_|'/g,""),
		{{else}}
			accId : ("/{{{../this.header.googleTagAccountId}}}/home").split(' ').join('_').replace(/\,|&_|'/g,""),
		{{/if}}
		dc_ref: window.location.href,
		kw: $('input[name=q]').val() || "no category",
		ptype: 'home'
	};
	</script>
	<script src="/js/common/GoogleBanner.js"></script>
	<script>
		{{#block "AdBannerHomepg"}}
			{{#block "locationMap_Script"}}{{/block}}
			{{#block "googleBannerAdsTop_Script"}}{{/block}}
			{{#block "googleBannerAdsRight_Script"}}{{/block}}
			{{#block "googleBannerAdsRightBottom_Script"}}{{/block}}
			{{#block "googleBannerAdsBottom_Script"}}{{/block}}
		{{/block}}
	</script>
	{{/partial}}

	{{!-- > hbs/Html --}}
