{{#partial "content"}}
	<div>
        {{> (dynamic "sectionMenu")}}

        {{> (dynamic "topBanner")}}

        {{> (dynamic "statusBanner") }}

        {{#if this.trendingCard}}
            {{> (dynamic "card") card=this.trendingCard
                i18nTitle="homepage.popularSearches.popularIn"
                i18nSubtitle="homepage.popularSearches.yourNeighborhood" }}
        {{/if}}

        {{#if this.recentActivities}}
            <div class="refresh-div">
                {{> (dynamic "recentActivity")}}
			</div>
        {{/if}}

        {{> (dynamic "modal")}}
        {{#block "default-gmaps"}}{{/block}}

        {{#if this.appDownload}}
            {{> (dynamic "appDownloadSection")}}
        {{/if}}

        {{#if this.gpsMap}}
            {{> (dynamic "gpsMap")}}
        {{/if}}

        {{#if this.safetyTips}}
            {{> (dynamic "safetyTips") }}
        {{/if}}

        {{#if this.galleryCard}}
            {{> (dynamic "card") card=this.galleryCard
                i18nTitle="homepage.gallery.cardTitle" }}
        {{/if}}


		<div class="seo-wrapper">
           <h1>{{i18n "home.h1Tag"}}</h1>
            {{> (dynamic "topSearches") homePageUrl=this.header.homePageUrl}}
            {{> (dynamic "topLocations") homePageUrl=this.header.homePageUrl}}
		</div>

        {{> (dynamic "bottomBanner") }}

	</div>

    <input type="hidden" id="imageUploadFromHome" value="{{this.imageUploadFromHome}}">

    {{#if this.imageUploadFromHome}}
        {{> (dynamic "noUIImageUploader") }}

        {{> (dynamic "spinnerModal") }}
    {{/if}}

    {{#partial "welcomeModal"}}
        {{> (dynamic "welcomeModal")}}

        {{#if this.imageUploadFromHome}}
            <input type="hidden" id="uploadFailureMessages"
                data-invalid-dimension-title="{{i18n "homepage.imageUpload.error.invalidDimension.title"}}"
                data-invalid-dimension-message="{{i18n "homepage.imageUpload.error.invalidDimension.message"}}"
                data-invalid-size-title="{{i18n "homepage.imageUpload.error.invalidSize.title"}}"
                data-invalid-size-message="{{i18n "homepage.imageUpload.error.invalidSize.message"}}"
                data-invalid-type-title="{{i18n "homepage.imageUpload.error.invalidType.title"}}"
                data-invalid-type-message="{{i18n "homepage.imageUpload.error.invalidType.message"}}"
                data-colorspace-title="{{i18n "homepage.imageUpload.error.colorspace.title"}}"
                data-colorspace-message="{{i18n "homepage.imageUpload.error.colorspace.message"}}"
                data-firewall-title="{{i18n "homepage.imageUpload.error.firewall.title"}}"
                data-firewall-message="{{i18n "homepage.imageUpload.error.firewall.message"}}"
                data-picturesrv-title="{{i18n "homepage.imageUpload.error.picturesrv.title"}}"
                data-picturesrv-message="{{i18n "homepage.imageUpload.error.picturesrv.message"}}"
                data-corrupt-title="{{i18n "homepage.imageUpload.error.corrupt.title"}}"
                data-corrupt-message="{{i18n "homepage.imageUpload.error.corrupt.message"}}"
                data-unknown-title="{{i18n "homepage.imageUpload.error.unknown.title"}}"
                data-unknown-message="{{i18n "homepage.imageUpload.error.unknown.message"}}">

        {{/if}}
    {{/partial}}
{{/partial}}

{{#partial "pageTailScripts"}}

	<script>
		var googleTagAccountMobId = "{{this.header.googleTagAccountMobId}}";
		var googleTagAccountId = "{{this.header.googleTagAccountId}}";
		var bP = {
            {{#ifMobile this.device}}
				accId: ("/" + googleTagAccountMobId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{else}}
				accId: ("/" + googleTagAccountId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{/ifMobile}}
			dc_ref: window.location.href,
			kw: $('input[name=q]').val() || "no category",
			ptype: 'home'
		};

        {{#if this.showTopBanner}}
            {{#block "googleBannerAdsTopV2_Script"}}{{/block}}
        {{/if}}
        {{#block "googleBannerAdsRightV2_Script"}}{{/block}}
        {{#block "googleBannerAdsRightBottomV2_Script"}}{{/block}}
        {{#block "googleBannerAdsBottom_Script"}}{{/block}}
        {{> (dynamic "skinBanner") }}
        {{#block "googleBannerSkinCampaign_ScriptV2"}}{{/block}}
	</script>

{{/partial}}
