{{#partial "headerWrapper"}}
    {{> (dynamic "headerV2")}}
{{/partial}}

{{#partial "content"}}
	<div>

        {{#if this.search}}
            {{> (dynamic "searchbarV2") }}
        {{/if}}

        {{> (dynamic "sectionMenu")}}

        {{> (dynamic "topBanner")}}

        {{#if this.trendingCard}}
            <div class="card trending-card">
                <div class="card-title">{{i18n "homepage.popularSearches.popularIn"}}
                    <span class="link inline-block underline card-title-cp">{{i18n "homepage.popularSearches.yourNeighborhood"}}</span>
                </div>
                {{> (dynamic "tileGrid")}}
                <div class="card-view-more">
                    <a class="link" href="javascript:;">
                        <span class="underline">{{i18n "homepage.popularSearches.viewMore"}}</span>
                        <span class="no-underline">&nbsp;&gt;</span></a>
                </div>
            </div>
        {{/if}}

        {{#if this.recentActivities}}
            {{> (dynamic "recentActivity")}}
        {{/if}}

        {{> (dynamic "modal")}}

        {{#if this.appDownload}}
            {{> (dynamic "appDownloadSection")}}
        {{/if}}

        {{#if this.gpsMap}}
            {{> (dynamic "gpsMap")}}
        {{/if}}

        {{#if this.safetyTips}}
            {{> (dynamic "safetyTips") }}
        {{/if}}

        <div class="seo-wrapper">
           <h1>{{i18n "home.h1Tag"}}</h1>
            {{#if this.topSearches}}
                {{> (dynamic "topSearches")}}
            {{/if}}
            {{#if this.topLocations}}
                {{> (dynamic "topLocations")}}
            {{/if}}
		</div>

        {{> (dynamic "bottomBanner") }}

	</div>
{{/partial}}

{{#partial "footerWrapper"}}
    {{> (dynamic "footerV2")}}
    {{> (dynamic "welcomeModal")}}
{{/partial}}

{{#partial "pageTailScripts"}}

	<script>
		var googleTagAccountMobId = "{{this.header.googleTagAccountMobId}}";
		var googleTagAccountId = "{{this.header.googleTagAccountId}}";
		var bP = {
            {{#ifMobile this.device}}
				accId: ("/" + googleTagAccountMobId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{else}}
				accId: ("/" + googleTagAccountId + "/home").split(' ').join('_').replace(/\,|&_|'/g, ""),
            {{/ifMobile}}
			dc_ref: window.location.href,
			kw: $('input[name=q]').val() || "no category",
			ptype: 'home'
		};


            {{#block "googleBannerAdsTopV2_Script"}}{{/block}}
            {{#block "googleBannerAdsRightV2_Script"}}{{/block}}
            {{#block "googleBannerAdsRightBottomV2_Script"}}{{/block}}
            {{#block "googleBannerAdsBottom_Script"}}{{/block}}
            {{> (dynamic "skinBanner") }}
	        {{#block "googleBannerSkinCampaign_ScriptV2"}}{{/block}}
		

	</script>

{{/partial}}
