<div class="card card-{{this.card.config.cardName}}" data-card-name="{{this.card.config.cardName}}" data-view-more-filter-increment="{{this.card.config.viewMoreFilterIncrement}}" data-view-more-page-size="{{this.card.config.viewMorePageSize}}">
	<div class="card-title">{{i18n i18nTitle}}
        {{#if i18nSubtitle}}
		<span class="link inline-block underline card-title-cp">{{i18n i18nSubtitle}}</span>
        {{/if}}
	</div>
    {{> (dynamic "tileGrid" this.locale) tileGrid=this.card homePageUrl=this.header.homePageUrl}}
	<div class="card-view-more">
        {{!-- moreDataAvailable is relevant for gallery since it uses ajax --}}
        <a class="link{{#unless this.card.moreDataAvailable}} hidden{{/unless}}" href="javascript:;" y="f">
			<span class="underline">{{i18n "homepage.popularSearches.viewMore"}}</span>
			<span class="no-underline">&nbsp;&gt;</span></a>
	</div>
</div>
