{{#block "searchbarV2"}}
    <section id="search-controls" class="search-controls">
		<div class="search-bar">
			<div role="button" class="close-search icon-close"></div>
            <div class="loc-arrow-icon icon-location-arrow-blue"></div>
            <form method="GET" action="/search.html?page=1">
                <div class="search-textbox-container">
					<input class="search-textbox" type="text" name="q" autocomplete="off" placeholder="{{i18n "homepage.searchbar.lookingFor"}}"/>
					<div class="mobile-location-area"></div>
					<span class="location-link">
						<span class="location-text">{{#if this.locationlatlong.localizedName}}{{this.locationlatlong.localizedName}}{{else}}{{i18n "location.defaultcity"}}{{/if}}</span>
						<span class="search-loc-icon icon-location-marker"></span>
                    </span>
                </div>
                <input type="hidden" name="locId" value="{{this.locationlatlong.id}}">
                <button class="search-button" type="submit">
                    <span class="button-content-container">
						<span class="inner-text">{{i18n "homepage.searchbar.search"}}</span>
						<span class="icon-search-white"></span>
                    </span>
                </button>
			</form>

        </div>
		<div class="type-ahead-results-wrapper">
			<div id="type-ahead-results" class="type-ahead-results-container">
                <ul></ul>
            </div>
		</div>

		<div id="search-mask" class="search-mask hidden"></div>
    </section>
{{/block}}
