{{#block "searchbarV2"}}
    <section id="search-controls" class="search-controls">
		<div id="search-bar" class="search-bar">
			<div role="button" class="close-search icon-close"></div>
            <div class="loc-arrow-icon icon-location-arrow-blue"></div>
            <form method="GET" action="/search.html?page=1">
                <div class="search-wrap">
                    <div class="search-textbox-container">
                        <input class="search-textbox" type="text" name="q" autocomplete="off" placeholder="{{i18n "homepage.searchbar.lookingFor"}}"/>
                    </div>
                    <div class="mobile-location-area"></div>
                    <div class="divider"></div>
                    <div class="location-link" data-gtm="npc|NavHeaderClick|eventLabel|Location">
						<span class="search-loc-icon icon-location-marker"></span>
						<span class="location-text">
                            {{#if this.header.cookieLocationName}}
                                {{this.header.cookieLocationName}}
                            {{else}}
                                {{#if this.locationlatlong.localizedName}}
                                    {{this.locationlatlong.localizedName}}
                                {{else}}
                                    {{i18n "country.all"}}{{i18n "location.defaultcity"}}
                                {{/if}}
                            {{/if}}
                        </span>
                    </div>
					<input type="hidden" name="locId" value="{{#if this.header.cookieLocationId}}{{this.header.cookieLocationId}}{{else}}{{this.locationlatlong.id}}{{/if}}">
                </div>
                <div class="search-button-wrap">
                    <button class="search-button" type="submit" data-gtm="npc|NavHeaderClick|eventLabel|SearchClick" aria-label="{{i18n "homepage.searchbar.search"}}">
                        <span class="button-content-container">
                            <span class="icon-search-white"></span>
                            <span class="inner-text">{{i18n "homepage.searchbar.search"}}</span>
                        </span>
                    </button>
                </div>
			</form>

        </div>
		<div class="type-ahead-results-wrapper">
			<div id="type-ahead-results" class="type-ahead-results-container">
                <ul></ul>
            </div>
		</div>

    </section>
{{/block}}
