{{#if this.header.breadcrumbs}}
    <div class="breadcrumbs {{#if this.content.isSoiPage}}soi{{/if}}">
        {{#with this.header.breadcrumbs.parentLocLinks}}
            {{> "breadcrumbs/views/hbs/parentCatLocLinks" }}
        {{/with}}
        {{#with  this.header.breadcrumbs.parentCatLinks}}
            {{> "breadcrumbs/views/hbs/parentCatLocLinks" }}
        {{/with}}
        {{#if this.content.ad.title.value}}
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a class="category" href="{{this.header.breadcrumbs.currentCat.url}}">
                    <span class="microdata" itemprop="title">
                        {{#with this.header.breadcrumbs.currentCat}}
                            {{this.name}}
                        {{/with}}
                        {{#with this.header.breadcrumbs.currentLoc}}
                            {{i18n "header.breadcrumb-search" ""}}
                            {{this.localizedName}}
                        {{/with}}
                    </span>
                </a>
                <meta itemprop="url" content="{{this.header.breadcrumbs.currentCat.url}}"/>
            </span>
            <span class="icon-chevron-right"></span>
            <span></span>
            <span class="title">{{i18n "vip.breadcrumb" this.content.ad.id}}</span>
        {{else}}
            <h1>
                {{#if this.header.breadcrumbs.keyword}}
                    <span class="atts">{{> "breadcrumbs/views/hbs/keyword"}}</span>
                {{else}}
                    <span class="atts">{{> "breadcrumbs/views/hbs/noKeyword"}}</span>
                {{/if}}
            </h1>

            {{#if this.header.breadcrumbs.Keyword}}
	            <span class="pipe">|</span>
	        {{else}}
		        	{{#if this.header.breadcrumbs.currentLoc}}
		            	<span class="pipe">|</span>
			        {{else}}
			        	{{#with this.header.breadcrumbs.currentCat}}
			            	<span class="pipe">|</span>
		            	{{/with}}
	            	{{/if}}
            {{/if}}

            <span class="count">
					{{{i18n "header.breadcrumb-result" this.header.breadcrumbs.count}}}
			</span>
        {{/if}}
    </div>
{{/if}}
<div class="clear"></div>
