<div class="label-wrapper">
	<label for="{{this.name}}">{{this.localizedName}}</label>
</div>
<div class="input-wrapper">
    {{#compare this.allowedValueType "===" "DATE"}}
		<input type="date" name="{{this.name}}" data-validation="{{this.allowedValueType}}" value="{{lookup parent.adResult.attributeValues this.name}}"/>
    {{/compare}}
    {{#compare this.allowedValueType "!==" "DATE"}}
		<input type="text" name="{{this.name}}" data-validation="{{this.allowedValueType}}" value="{{lookup parent.adResult.attributeValues this.name}}"/>
    {{/compare}}
</div>
