<div class="label-wrapper">
	<label for="{{this.name}}">{{this.localizedName}}</label>
</div>
<div class="input-wrapper">
    <input type="{{#compare this.allowedValueType "===" "NUMBER"}}{{this.allowedValueType}}{{else}}text{{/compare}}" name="{{this.name}}" data-validation="{{this.allowedValueType}}" value="{{lookup parent.adResult.attributeValues this.name}}"/>
</div>
