{{!-- active, expired, pending, blocked, deleted --}}
{{#compare this.advert.status '!==' 'active'}}
  <div class="status-ad-banner">
    <span class="alert-icon"></span>
    <span>{{i18n this.advert.statusBanner.statusBannerMessage}}</span>
    {{#compare this.header.id "===" this.advert.sellerDetails.id}}
      <div class='status-ad-banner-links'>
          <a href="{{i18n this.advert.statusBanner.statusBannerLinkURL}}">{{i18n this.advert.statusBanner.statusBannerLinkMessage}}</a>
        {{#compare this.advert.status '===' 'blocked'}}
          |
          <a href="{{i18n this.advert.statusBanner.statusBannerReasonURL}}">{{i18n this.advert.statusBanner.statusBannerReasonMessage}}</a>
        {{/compare}}
        {{#compare this.advert.status '===' 'deleted'}}
          |
          <a href="{{i18n this.advert.statusBanner.statusBannerReasonURL}}">{{i18n this.advert.statusBanner.statusBannerReasonMessage}}</a>
        {{/compare}}
      </div>
    {{/compare}}
  </div>
{{/compare}}
