<div class="headerV2">
    <div class="mobile-only mobile-menu">
    </div>
    <div class="logo"></div>
    <div class="mobile-only app-icon">
    </div>
    {{#unless this.header.distractionFree}}
        <div class="left-items">
            {{#if this.header.username}}
                <div class="messages">
                    Messages
                </div>
            {{/if}}
            <div class="browse">
                Browse
                <ul class="cat-dropdown hidden">
                    {{#each this.categoryDropdown.children}}
                        <li class="cat-item">{{this.localizedName}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="right-items">
            <div class="help float-right">
                Help
            </div>
            <div class="my-ads float-right">
                My Ads
            </div>
            <div class="profile {{#unless this.header.username}}normal-pad-top {{/unless}}float-right">
                {{#if this.header.username}}
                    <div class="profile-icon
                    {{#if this.header.username}}
                    profile-picture
                    {{else}}
                    icon-header-profile-out
                    {{/if}}">

                    </div>
                    {{#if this.header.userEmail}}
                        Hi, {{this.header.profileName}}!
                    {{else}}
                        {{i18n "header.menu.my.gumtree"}}
                    {{/if}}
                {{else}}
                    {{i18n "header.menu.my.gumtree"}}
                {{/if}}
                <ul class="profile-menu hidden">
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                    <li>Hello</li>
                </ul>
            </div>

            {{> (dynamic "button")}}
        </div>
    {{/unless}}
</div>


