<div class="headerV2">
    <a href="/">
        <div class="logo"></div>
    </a>
    {{#unless this.header.distractionFree}}
        <div class="mobile-only mobile-menu icon-menu">
        </div>
        <a href="{{i18n "appdownload.applink"}}">
            <div class="mobile-only app-icon {{#if header.isIphone}}icon-sms-2 {{/if}}icon-android">
            </div>
        </a>
        <div class="left-items">
            {{#if this.header.username}}
                <a href="messages-TBD">
                    <div class="messages icon-messages">
                        <div class="number-messages">
                            10
                        </div>
                    </div>
                </a>
            {{/if}}
            <div class="browse">
                <div class="item-text">
                    {{i18n "header.catDropdown.browse"}}
                    <div class="header-item-icon icon-down"></div>
                </div>
                <ul class="js-cat-dropdown menu-dropdown hidden">
                    {{#each this.categoryDropdown.children}}
                        <a href="{{this.localizedName}}-TBD">
                            <li class="menu-item">
                                {{this.localizedName}}
                                <span class="item-secondary-text">(tbd)</span>
                            </li>
                        </a>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="right-items">
            <a href="help-TBD">
                <div class="help right-item">
                    {{i18n "header.help"}}
                </div>
            </a>
            <a href="my-ads-TBD">
                <div class="my-ads right-item">
                    {{i18n "header.myAds"}}
                </div>
            </a>
            <a href="my-profile-TBD">
                <div class="profile {{#unless this.header.username}}normal-pad-top {{/unless}}right-item">
                    <div class="profile-icon
                    {{#if this.header.username}}
                    profile-picture
                    {{else}}
                    icon-header-profile-out
                    {{/if}}">

                    </div>
                    {{#if this.header.userEmail}}
                        Hi, {{this.header.profileName}}!
                    {{else}}
                        {{i18n "header.menu.my.gumtree"}}
                    {{/if}}
                </div>
            </a>

            {{> (dynamic "button")}}
        </div>
    {{/unless}}
</div>


