{{#unless this.header.distractionFree}}
{{> (dynamic "hamburgerMenu")}}
{{/unless}}

<div id="search-mask" class="search-mask hidden"></div>
<div class="header-wrapper {{#if this.header.distractionFree}}header-distraction-free{{/if}}">
    <div class="headerV2">
        <a href="/" data-gtm="npc|NavHeaderClick|eventLabel|LogoClick">
            <div class="logo"></div>
        </a>
        {{#unless this.header.distractionFree}}
            <div id="js-hamburger-icon" class="mobile-only mobile-menu icon-hamburger"></div>
            <a href="/post">
                <div class="mobile-only post-icon icon-post-button"></div>
            </a>
            <div class="left-items{{#unless this.header.isUserLoggedIn}} logged-out{{/unless}}">
                {{#if this.header.isUserLoggedIn}}
                    <span class="rot-link-toConvert" data-o-uri="{{obfuscateUrl this.header.myMessageUrl}}" data-gtm="pc|NavHeaderClick|eventLabel|MessageIcon">
                        <div class="messages icon-messages-blue">
                            {{#compare this.header.converstionInfo.totalUnreadMessageCount ">" 0}}
                                <div class="number-messages">
                                    {{this.header.converstionInfo.totalUnreadMessageCount}}
                                </div>
                            {{/compare}}
                        </div>
                    </span>
                {{/if}}
                <div id='js-browse-dropdown' class="browse">
                    <div id='js-browse-item-text' class="item-text">
                        {{i18n "header.catDropdown.browse"}}
                        <div id="js-browse-header-item-icon" class="header-item-icon icon-down"></div>
                    </div>
                    <ul id="js-cat-dropdown" class="menu-dropdown browse-dropdown hidden">
                        <li class="menu-item">
                            <a href="{{this.header.homePageUrl}}{{this.header.categoryList._links.[1].href}}" data-gtm="pc|NavHeaderClick|eventLabel|Browse:{{this.header.categoryList.localizedName}}" title="{{this.header.categoryList.localizedName}}" class="link-item"
                               data-id="{{this.header.categoryList.id}}">
                                <span class="item-primary-text">{{this.header.categoryList.localizedName}}</span>
                                {{!-- item secondary is for category "counts", out for MVP
                                <span class="item-secondary-text">(tbd)</span>
                                --}}
                            </a>
                        </li>
                        {{#each this.header.categoryList.children}}
                            <li class="menu-item">
                                <a href="{{../this.header.homePageUrl}}{{this._links.[1].href}}" data-gtm="pc|NavHeaderClick|eventLabel|Browse:{{this.localizedName}}" title="{{this.localizedName}}" class="link-item"
                                   data-id="{{this.id}}">
                                    <span class="item-primary-text">{{this.localizedName}}</span>
                                    {{!-- item secondary is for category "counts", out for MVP
                                    <span class="item-secondary-text">(tbd)</span>
                                    --}}
                                </a>
                                {{!-- l2 categories removed from sprint 4 7/14/16
                                https://jira.corp.ebay.com/browse/BOLT-22118
                                    <ul class="menu-dropdown-l2">
                                    {{#each this.children}}
                                        <li class="menu-item l2">
                                            <a href="{{this._links.[1].href}}" title="{{this.localizedName}}" data-id="{{this.id}}" class="link-item l2">
                                                <span class="item-primary-text">{{this.localizedName}}</span>
                                            </a>
                                        </li>
                                    {{/each}}
                                    </ul>
                                --}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{!-- post ad button --}}
                {{> (dynamic "button") extraClasses='post-ad-button'  gtmEvent='pc|PostAdBegin' iconName='icon-post' buttonLink="/post" i18nPath="header.postAd"}}
            </div>

            <div class="right-items{{#unless this.header.isUserLoggedIn}} logged-out{{/unless}}">
                <div class="profile right-item">
                    <div id="js-profile-item-text" class="item-text">
                        <div class="profile-icon
                            {{#if this.header.currentProfileImageUrl}}
                                profile-picture
                            {{else}}
                                icon-header-profile-out
                            {{/if}}"

                            {{#if this.header.currentProfileImageUrl}}
                                 style="background-image:url('{{this.header.currentProfileImageUrl}}'); background-size: contain;"
                            {{/if}}>
                        </div>
                        {{#if this.header.isUserLoggedIn}}
							<div class="username-wrapper">
                            {{#if this.header.profileName}}
                                <div class="username">{{i18n "header.userDropdown.title"}}, {{this.header.profileName}}!</div>
                            {{else}}
                                <div class="username">{{i18n "header.userDropdown.title"}}!</div>
                            {{/if}}
                            </div>
                            <div id="js-profile-header-item-icon" class="header-item-icon icon-down"></div>
                        {{else}}
                            {{i18n "header.menu.my.gumtree"}}
                            <div id="js-profile-header-item-icon" class="header-item-icon icon-down"></div>
                        {{/if}}
                    </div>
                    {{!-- profile dropdown --}}
                    <div id="js-profile-dropdown" class="hidden">
                        {{> (dynamic "profileMenu")}}
                    </div>
                </div>
                {{#if this.header.isUserLoggedIn}}
					<span class="rot-link-toConvert" data-o-uri="{{obfuscateUrl this.header.myAdsURL}}" data-gtm="npc|NavHeaderClick|eventLabel|MyAds">
                        <div class="my-ads right-item">
                            {{i18n "header.myAds"}}
						</div>
                    </span>
                {{/if}}
				<a href="{{this.footer.helpUrl}}" data-gtm="npc|NavHeaderClick|eventLabel|HelpClick">
					<div class="help right-item">
                        {{i18n "header.help"}}
					</div>
				</a>
            </div>
        {{/unless}}
    </div>
    {{#unless this.header.distractionFree}}
        {{#if this.search}}
            {{> (dynamic "searchbarV2") }}
        {{/if}}
    {{/unless}}

    {{#if this.header.postAdHeader}}
      {{> (dynamic "postAdHeader") titleKey=this.advert.title backKey="postAd.back" backUrl=this.backUrl }}
   {{/if}}

</div>
