<div id="initialImages" class="hidden">{{json this.adResult.pictures}}</div>
<div class="photo-container-title">
	{{i18n i18HeadTitle}}
</div>
<div class="image-container">
	<div id="photo-0" class="cover-photo-big no-photo">
		<div class="delete-wrapper">
			<div class="icon-photo-close"></div>
		</div>

		<div class="photo-wrapper">
			<div class="icon-camera-v2"></div>
			<div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div>
		</div>
	</div>
</div>
<div class="photo-limits">
    {{i18n "postad.upload.photoLimits"}}
</div>
<div class="drag-reorder hidden">
    {{i18n "postad.upload.dragReOrder"}}
</div>
<div class="error-msg-wrapper hidden">
	<div id="carousel-info-icon" class="icon-contextual-info hidden"></div>
	<div id="max-photo-msg" class="max-photo-msg hidden">{{i18n "postAd.createAds.error.maxPhotos"}}</div>
	<div class="photos-required-msg hidden">{{i18n "postAd.createAds.error.photoRequired"}}</div>
</div>
<div class="hidden">
    <form method="post" novalidate="novalidate">
        <div class="file-input-wrapper">
            <input class="file-input" type="file" name="pic" accept="image/*" id="desktopFileUpload" multiple>
        </div>
    </form>
	<div id="imgUrls" class="hidden"></div>
	<div id="initPageType" class="hidden"></div>
</div>
