<div class="photo-container-title">
    {{i18n i18HeadTitle}}
</div>
<div class="photo-container-desktop">
    {{> (dynamic "photoContainerDesktop") }}
	<div class="hidden">
		<form method="post" novalidate="novalidate">
			<div class="file-input-wrapper">
				<input class="file-input" type="file" name="pic" accept="image/*" id="desktopFileUpload" multiple>
			</div>
		</form>
		<div class="imgUrls hidden"></div>
	</div>
</div>
<div class="photo-container-mobile">
    {{> (dynamic "photoContainerMobile") }}
	<div class="hidden">
		<form method="post" novalidate="novalidate">
			<div class="file-input-wrapper">
				<input class="file-input" type="file" name="pic" accept="image/*" multiple>
			</div>
		</form>
		<div class="imgUrls hidden"></div>
	</div>
</div>
<div class="photo-limits">
    {{i18n "postad.upload.photoLimits"}}
</div>
<div class="drag-reorder hidden">
    {{i18n "postad.upload.dragReOrder"}}
</div>
<div class="error-msg-wrapper hidden">
	<div id="carousel-info-icon" class="icon-contextual-info hidden"></div>
	<div id="max-photo-msg" class="max-photo-msg hidden">{{i18n "postAd.createAds.error.maxPhotos"}}</div>
	<div class="photos-required-msg hidden">{{i18n "postAd.createAds.error.photoRequired"}}</div>
</div>
<div class="hidden">
	<div class="initPageType hidden"></div>
	<div id="initialImages" class="hidden">{{json this.adResult.pictures}}</div>
</div>
