<div class="category">
    <span class="icon main-icon">
        <span class='icon-header-categories'></span>
    </span>
    <input tabindex="2" type="text" data-all='{{i18n "header.search-all-categories"}}'
           placeholder='{{i18n "header.search-category"}}'
           value="{{this.content.searchFormModel.localizedCategoryName}}" autocomplete="off" disabled="disabled" readonly="readonly" />
    <input type="hidden" name="catId" value="{{this.content.searchFormModel.catId.value}}" />
    <!--[if (IE 8)&!(IEMobile)]>
        <span class="icon-caret-down"></span>
    <![endif]-->

    {{!-- #unlessMobile this.device --}}
        <script type="text/plain">{{{json this.categorydropdown}}}</script>
    {{!-- /unlessMobile --}}
</div>
