{{#if this.header.navigationConfig.geoLocator}}
    <div class="geo-locator"
         data-all-locations='{{i18n "header.search-all-locations"}}'
         data-geo-api="{{this.header.geoLocatorUrl}}"
         data-root-api="{{this.header.rootGeoLocatorUrl}}">
        <span class="icon">
            <span class="icon-header-location-pin"></span>
        </span>
        <span class="label">
            {{#if this.content.searchFormModel.localizedLocationName}}
                {{this.content.searchFormModel.localizedLocationName}}
            {{else}}
                {{#if this.header.cookieLocationName}}
                    {{this.header.cookieLocationName}}
                {{else}}
                    {{i18n "header.search-location"}}
                {{/if}}
            {{/if}}
        </span>
    </div>
{{/if}}