{{#unless model.content.disableSearchbar}}
    <div class="searchbar" style="display: inline-block; overflow: hidden; border: 1px solid cyan;">
        SEARCHBAR COMPONENT!
        <section role="search">
            <div class="wrap">
                <form action='{{model.header.searchPageUrl}}' class="has-location-{{model.header.navigationConfig.locationSelection}}"
                        data-instant-search="{{model.header.navigationConfig.instantSearch}}"
                        data-clear-searches-message='{{i18n "header.clear-recent-searches"}}'
                        data-saved-search="{{model.header.navigationConfig.savedSearch}}"
                        data-auto-complete="{{model.header.navigationConfig.autoComplete}}"
                        data-auto-complete-api="{{model.header.autoCompleteUrl}}">
                    <fieldset>
                        {{!-------------- keyword --------------}}
                        {{!-- > hbs/Html/Body/searchbar/keyword --}}
                        {{!-------------- /keyword --------------}}

                        {{!-------------- categories --------------}}
                        {{!-- > hbs/Html/Body/searchbar/categories --}}
                        {{!-------------- /categories --------------}}

                        {{!-------------- locations --------------}}
                        {{!-- > hbs/Html/Body/searchbar/locations --}}
                        {{!-------------- locations --------------}}

                        {{!-------------- button --------------}}
                        {{!-- > hbs/Html/Body/searchbar/button --}}
                        {{!-------------- /button --------------}}
                    </fieldset>

                    {{!-------------- geoLocator --------------}}
                    {{!-- > hbs/Html/Body/searchbar/geoLocator --}}
                    {{!-------------- /geoLocator --------------}}

                    {{!-------------- existing search --------------}}
                    {{!-- > hbs/Html/Body/searchbar/hiddenFields --}}
                    {{!-------------- /existing search --------------}}

                </form>
            </div>
        </section>
    </div>


    {{#partial "explorer-searchbar-polyfill"}}
        <!--[if (lte IE 9)&!(IEMobile)]>
        <script src="{{model.footer.baseJSUrl}}/common/polyfills/placeholder.js"></script>
        <![endif]-->
    {{/partial}}


{{/unless}}