{{#partial "headerWrapper"}}
    {{> (dynamic "headerV2")}}
{{/partial}}

{{#partial "content"}}
    {{> (dynamic "postAdModal")}}

    {{> (dynamic "postAdHeader") titleKey="postAd.confirm.pageTitle"}}

    {{> (dynamic "postAdErrorModal")}}

    <div class="mobile-post-ad">
        {{> (dynamic "uploadImage")}}

		<div class="didKnow-text">{{i18n "postAd.confirm.didYouKnow"}}</div>
		<div class="confirm-tip">{{i18n "postAd.confirm.tip"}}</div>
	</div>
	<div class="desktop-post-ad margin-auto">
		<div class="directions">{{i18n "postAd.createAds.directions"}}</div>

        {{> (dynamic "postAdForm")}}

		<a id="postAdBtn" class="post-ad-btn btn-wrapper disabled">
			<span class="link-text">{{i18n "postAd.createAds.post"}} {{i18n "postAd.createAds.ad"}}</span>
		</a>
	</div>

    {{> (dynamic "loginModal") isHidden=true}}
{{/partial}}

{{#partial "footerWrapper"}}
    {{> (dynamic "footerV2")}}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{{/partial}}
