{{#partial "content"}}
    {{> (dynamic "postAdModal")}}
    {{> (dynamic "postAdHeader") titleKey="postAd.confirm.pageTitle"}}
    {{> (dynamic "spinnerModal") }}
	<div class="message-modal hidden">
		<div class="message">
			<div class="error-modal-container">
				<div id='js-close-error-modal' class="error-modal-close-section">
					<div class="inline-block close-text">{{i18n "postAdModal.close"}}</div>
					<div class="inline-block icon-close"></div>
				</div>
				<h1 class="error-title">
					<div class="error-icon icon-unsupported-file-format"></div>
					<div class="error-title-text" id="js-error-title">
                        {{i18n "postAd.unsupportedFileModal.error"}}
					</div>
				</h1>
				<div class="error-message">{{i18n "postAd.unsupportedFileModal.message"}}</div>
				<div class="error-modal-footer">
                    {{> (dynamic "button") hideIcon=true extraClasses='error-modal-button' i18nPath='postAd.unsupportedFileModal.uploadBtn'}}
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-post-ad">
		<div id="category-tree" class="hidden">{{json this.categoryAll}}</div>
        {{> (dynamic "uploadImage")}}
    </div>
	<div class="mobile-post-ad">
			<div class="mobile-post-ad-wrapper">
			<div class="mobile-post-ad-modal-wrapper">
				<div class="mobile-post-ad-modal">
					<div class="mobile-post-ad-modal-overlay"></div>
				</div>

				<div id="post-submit-button" class="mobile-post-ad-footer">
					<div class="modal-footer">
						<div class="btn-wrapper">
							<a class="btn"  data-gtm="{{gtmEvent}}">
								<span class="sudolink">{{i18n "postAd.mobileUpload.post"}}</span>
							</a>
						</div>
					</div>
				</div>
				<div class="change-photo">
					<div>
						<div>
							<a class=""  data-gtm="{{gtmEvent}}" href="">
								<span class="">{{i18n "postAd.mobileUpload.changePhoto"}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="desktop-post-ad margin-auto">
		<div class="directions">{{i18n "postAd.createAds.directions"}}</div>
		<div class="photo-switcher">
            {{> (dynamic "photoCarousel")}}
		</div>
    </div>
    {{> (dynamic "postAdFormMainDetails")}}
	<div class="desktop-post-ad margin-auto">
		<div class="input-form">

			<div>
				<a id="postAdBtn" class="post-ad-btn btn-wrapper">
					<span class="link-text">{{i18n "postAd.createAds.post"}} {{i18n "postAd.createAds.ad"}}</span>
				</a>
			</div>
        </div>
	</div>

    {{> (dynamic "loginModal") isHidden=true}}
{{/partial}}

