{{#partial "headerWrapper"}}
    {{> (dynamic "headerV2")}}
{{/partial}}

{{#partial "content"}}
    {{> (dynamic "postAdModal")}}
	<div class="post-ad-header">
        <span class="back-button">
            <span class="icon-caret-left-blue"></span>
            <span>{{i18n "postAd.confirm.back"}}</span>
        </span>
		<div class="header-text">
			<div>{{i18n "postAd.confirm.pageTitle"}}</div>
			<div class="header-accent">-</div>
		</div>
	</div>
	<div class="message-modal hidden">
		<div class="message">
			<div class="error-modal-container">
				<div id='js-close-error-modal' class="error-modal-close-section">
					<div class="inline-block close-text">{{i18n "postAdModal.close"}}</div>
					<div class="inline-block icon-close"></div>
				</div>
				<h1 class="error-title">
					<div class="error-icon icon-unsupported-file-format"></div>
					<div class="error-title-text" id="js-error-title">
                        {{i18n "postAd.unsupportedFileModal.error"}}
					</div>
				</h1>
				<div class="error-message">{{i18n "postAd.unsupportedFileModal.message"}}</div>
				<div class="error-modal-footer">
                    {{> (dynamic "button") hideIcon=true extraClasses='error-modal-button' buttonLink='#' i18nPath='postAd.unsupportedFileModal.uploadBtn'}}
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-post-ad">
        {{> (dynamic "uploadImage")}}

		<div class="didKnow-text">{{i18n "postAd.confirm.didYouKnow"}}</div>
		<div class="confirm-tip">{{i18n "postAd.confirm.tip"}}</div>
	</div>
	<div class="desktop-post-ad margin-auto">
		<div class="directions">{{i18n "postAd.createAds.directions"}}</div>

        {{> (dynamic "postAdForm")}}

		<a href="#" id="postAdBtn" class="post-ad-btn btn-wrapper disabled">
			<span class="link-text">{{i18n "postAd.createAds.post"}} {{i18n "postAd.createAds.ad"}}</span>
		</a>
	</div>

    {{> (dynamic "loginModal") isHidden=true}}
{{/partial}}

{{#partial "footerWrapper"}}
    {{> (dynamic "footerV2")}}
{{/partial}}
