<ul>
    <li class="profile-item">
        <span class="link-item sudo-link-toConvert" data-o-uri="{{obfuscateUrl this.header.watchListUrl}}">
            <div class="item-icon icon-favorites icon-favorites"></div>
            <div class="profile-item-text">{{i18n "header.userDropdown.favorites"}}</div>
        </span>
    </li>
    <li class="profile-item">
        <span class="link-item sudo-link-toConvert" data-o-uri="{{obfuscateUrl this.header.myMessageUrl}}">
            <div class="item-icon icon-chat"></div>
            <div class="profile-item-text">{{i18n "header.userDropdown.messages"}}</div>
        </span>
    </li>
    <li class="profile-item">
        <span class="link-item sudo-link-toConvert" data-o-uri="{{obfuscateUrl this.header.mySavedSearchUrl}}">
            <div class="item-icon icon-alerts"></div>
            <div class="profile-item-text">{{i18n "header.userDropdown.myAlerts"}}</div>
        </span>
    </li>
    <li class="profile-item">
        <span class="link-item sudo-link-toConvert" data-o-uri="{{obfuscateUrl this.header.myProfileUrl}}">
            <div class="item-icon icon-photo-library-3"></div>
            <div class="profile-item-text">{{i18n "header.userDropdown.myProfile"}}</div>
        </span>
    </li>
    <li class="profile-item">
        <span class="link-item sudo-link-toConvert" data-o-uri="{{obfuscateUrl this.header.promoteAdsUrl}}">
            <div class="item-icon icon-promote-1"></div>
            <div class="profile-item-text">{{i18n "header.userDropdown.promoteMyAds"}}</div>
        </span>
    </li>
    <li class="profile-item">
        <span class="link-item sudo-link-toConvert"  data-o-uri="{{obfuscateUrl this.header.pricingGuideUrl}}">
            <div class="item-icon icon-pricing-guide"></div>
            <div class="profile-item-text">{{i18n "header.userDropdown.pricingGuide"}}</div>
        </span>
    </li>
    {{#if this.header.username}}
        <li class="profile-item">
            <span class="link-item sudo-link-toConvert" data-o-uri="{{obfuscateUrl this.header.signOutURL}}">
                <div class="item-icon icon-logout-1"></div>
                <div class="profile-item-text">{{i18n "header.userDropdown.logout"}}</div>
            </span>
        </li>
    {{else}}
        {{> (dynamic "button") i18nPath="login.signin-button" buttonLink="/login.html" hideIcon=true extraClasses='login-button'}}
    {{/if}}
</ul>
