	{{#partial "content"}}
		{{#block "homepg"}}
		
			{{#if this.content.topHomePageAdBanner}}
				{{> (dynamic "topBanner")}}
			{{/if}}

			{{#block "locationBeforeCategory"}}{{/block}}

			<div class="hp-content hp-others
			{{#if this.socialMediaEnabled}}socialMediaEnabled{{/if}}
			{{#if this.footer.googleAdSense.enabled}}googleAdSensei{{/if}}
			{{#if this.content.homePageBannerUrl}}homePageBannerImage{{/if}}
			">

			<div class="hp-list-wrapper">
                <div class="hp-total-ad-count">
                    {{#if this.totalLiveAdCount}}
                        <span class="hp-live_ads_msg">{{{i18n "home.page.live.ad.count.label" (digitGrouping this.totalLiveAdCount ",") }}}</span>
                    {{/if}}
                </div>

				<div class="hp-category-wrapper">
					<h1>{{i18n "home.h1Tag"}}</h1>
					{{#if this.lastWeekPostedAdCount}}
						<p class="lastweekposts">{{{i18n "home.lastweekpostedAD" this.lastWeekPostedAdCount this.lastWeekPostedAdLocal}}}</p>
					{{/if}}

					{{#with this}}
						{{> (dynamic "categoryList") }}
					{{/with}}

					<div class="hp-link-wrapper">
						<div class="post-ad-button">
							<a href="{{this.header.postAdPageUrl}}" data-gtm="pc|PostAdBegin" class="primary-button postcommercial">{{i18n "header.postad-long"}}</a>
						</div>
					</div>

				</div>

				{{#block "googleBannerAdsBottom_Container"}}{{/block}}
				<div class="clear"></div>

				{{#block "locationAfterCategory"}}{{/block}}

				{{#if this.topOrTrendingKeywords}}
					<div class="hp-keywords-wrapper">
						{{#if this.topKeywords}}
						<div class="hp-popular-searches-wrapper">
							<h5>{{i18n "home.popular-searches"}}</h5>
							<ul>
								{{#each this.topKeywords}}
								<li data-index="{{@index}}">
									<a href="{{_links.[0].href}}">{{text}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
						{{/if}}

						{{#if this.trendingKeywords}}
						<div class="hp-trending-searches-wrapper">
							<h5>{{i18n "home.trending-searches"}}</h5>
							<ul>
								{{#each this.trendingKeywords}}
								<li data-index="{{@index}}">
									<a href="{{_links.[0].href}}">{{text}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
						{{/if}}
					</div>
				{{/if}}

				<div class="clear"></div>
			</div>

			<input type="hidden" name="NcatId" value="{{this.content.ad.ad.categoryId}}" />
			<input type="hidden" name="NlocId" value="{{this.content.ad.ad.locationId}}" />
		{{/block}}
	{{/partial}}

	{{#partial "pageTailScriptsBeforeIncludes"}}
	{{/partial}}

	{{#partial "pageTailScripts"}}
		<script>
		var googleTagAccountMobId = "{{this.header.googleTagAccountMobId}}";
		var googleTagAccountId = "{{this.header.googleTagAccountId}}";
		var bP = {
			{{#ifMobile this.device}}
				accId : ("/" + googleTagAccountMobId + "/home").split(' ').join('_').replace(/\,|&_|'/g,""),
			{{else}}
				accId : ("/" + googleTagAccountId + "/home").split(' ').join('_').replace(/\,|&_|'/g,""),
			{{/ifMobile}}
			dc_ref: window.location.href,
			kw: $('input[name=q]').val() || "no category",
			ptype: 'home'
		};

		{{#block "AdBannerHomepg"}}
			{{#block "locationMap_Script"}}{{/block}}
			{{#block "googleBannerAdsTop_Script"}}{{/block}}
			{{#block "googleBannerAdsRight_Script"}}{{/block}}
			{{#block "googleBannerAdsRightBottom_Script"}}{{/block}}

			{{> (dynamic "adBottomBanner") }}
			{{#block "googleBannerAdsBottom_Script"}}{{/block}}
			{{#block "googleBannerSkinCampaign_Script"}}{{/block}}
		{{/block}}
		</script>
	{{/partial}}

	{{#partial "pageTailScriptsAfterMarketo"}}
        <script>
            {{!-- @MUNCHKIN: Munchkin Marketo Event Tracking Section --}}
            {{#if this.header.marketo.isAssociateLead}}
                {{!-- Marketo Munchkin Event Tracking --}}
                {{> (dynamic "marketoTracking") }}

                if (typeof trackEvtMunchkin != "undefined") {
                    setTimeout(function () {
                        trackEvtMunchkin('{{this.header.marketo.marketoAttributeJsonStr}}', '{{this.header.marketo.privateKeyStr}}');
                    }, 3000);
                }
            {{/if}}
        </script>
	{{/partial}}

	{{#partial "abtesting"}}
		{{#if this.content.abTestUrl}}
	    	<script class="abtestUrl" src="{{this.header.abTestUrl}}"></script>
	    {{/if}}
	{{/partial}}

	{{#partial "metaGoogleSearchBox"}}
	        <meta name="google" content="nositelinkssearchbox"/>
	{{/partial}}

	{{#partial "googleBannerAdsBottom_Container"}}
    	<div id="home_bottombanner" style="margin:0 auto; width:318px; overflow:hidden;"></div>
	{{/partial}}
        
	{{!-- SmartBanner and Banner overrides for Homepage --}}
	{{#partial "smartBannerContainer"}}
        {{> (dynamic "smartBanner") }}
        {{#block "deviceSmartBanner"}}{{/block}}
    {{/partial}}
