{{#partial "homepg"}}
 <div class="hp-category-wrapper">
    {{#if model.lastWeekPostedAdCount}}
        <p class="lastweekposts">{{{i18n "home.lastweekpostedAD" model.lastWeekPostedAdCount model.lastWeekPostedAdLocal}}}</p>
    {{/if}}

		{{> (dynamic "countryMap") }}
		{{> (dynamic "locationMapContainer") }}
		{{#block "locationContainer" }}{{/block}}
</div>

{{> (dynamic "adCarousel") }}

<div class="category-wrapper">
	<h1>{{i18n "home.h1Tag"}}</h1>
	{{#with this}}
		{{> (dynamic "categoryDisplay") }}
	  {{> (dynamic "categoryList") }}
	{{/with}}
</div>

{{> (dynamic "siteFlow") }}

{{!-- this section needs refactoring --}}
<div class="postSection">
	<div class="hp-total-ad-count">
        {{#if this.totalLiveAdCount}}
		    <div class="hp-live_ads_msg line2"><div>{{{i18n "home.page.live.ad.count.label" (digitGrouping this.totalLiveAdCount ",") }}} </div><span class="postText">Publica tu clasificado</span><span class="postLink" data-o-uri="{{obfuscateUrl this.header.postAdPageUrl}}"> {{i18n "home.post.ad.message"}}</span></div>
        {{/if}}
    </div>

	<div class="header diff">
        <div class="right">
            <div class="post post-btn-wrap">
                <a class="sudo-link sudo-link post-btn postcommercial"  data-gtm="pc|PostAdBegin" href="{{this.header.postAdPageUrl}}">
                  <span class="long">{{i18n "header.postad-medium"}}</span>
               </a>
            </div>
        </div>
	</div>
	<div class="clear"></div>
</div>
{{!-- the above section needs refactoring till here --}}

<div class="hp-content hp-viva
{{#if model.socialMediaEnabled}}socialMediaEnabled{{/if}}
{{#if model.footer.googleAdSense.enabled}}googleAdSensei{{/if}}
{{#if model.content.homePageBannerUrl}}homePageBannerImage{{/if}}
">
	<div class="hp-list-wrapper">
	    {{#if this.topOrTrendingKeywords}}
		<div class="hp-keywords-wrapper"
			{{#if this.topKeywords}}{{#if this.topKeywords}}
			id="keywordChecker"
			{{/if}}{{/if}}>
			{{#if this.topKeywords}}
				<div class="hp-popular-searches-wrapper">
					<h5>{{i18n "home.popular-searches"}}</h5>
					<ul>
					{{#each this.topKeywords}}
						<li data-index="{{@index}}" class="{{#ifeq @index compare=1}}displayMore{{else}} {{#ifeq @index compare=4}}displayMoreDeskTop{{/ifeq}}{{/ifeq}} nonJsOnlyBlock">
							<a href="{{_links.[0].href}}">{{text}}</a>
						</li>
					{{/each}}
					<span class="ver-all jsOnly">Ver todos</span>
					</ul>
				</div>
			{{/if}}

			{{#if this.trendingKeywords}}
				<div class="hp-trending-searches-wrapper">
					<h5>{{i18n "home.trending-searches"}}</h5>
					<ul>
					{{#each this.trendingKeywords}}
						<li data-index="{{@index}}" class="{{#ifeq @index compare=1}}displayMore{{else}} {{#ifeq @index compare=4}}displayMoreDeskTop{{/ifeq}}{{/ifeq}} nonJsOnlyBlock">
							<a href="{{_links.[0].href}}">{{text}}</a>
						</li>
					{{/each}}
					<span class="ver-all jsOnly">Ver todos</span>
					</ul>
				</div>
			{{/if}}
		</div>
		{{/if}}

		<div class="clear"></div>
    </div>
	<input type="hidden" name="NcatId" value="{{model.content.ad.ad.categoryId}}" />
	<input type="hidden" name="NlocId" value="{{model.content.ad.ad.locationId}}" />
	{{> (dynamic "geoLocatorSelector") }}
</div>
{{/partial}}

{{#partial "headerPost"}}
    <div class="postSection headerPost">
        <div class="header diff">
            <div class="right">
                <div class="post post-btn-wrap">
                    <a class="sudo-link sudo-link post-btn postcommercial"  data-gtm="pc|PostAdBegin" href="{{this.header.postAdPageUrl}}">
                        <span class="long">{{i18n "header.postad-medium"}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{{/partial}}

{{#partial "AdBannerHomepg"}}
	{{#block "locationMap_Script"}}
    {{/block}}
{{/partial}}

{{#partial "carouselJsFiles"}}
	<script src="/views/components/adCarousel/js/CarouselExt/modernizr.js"></script>
	<script src="/views/components/adCarousel/js/CarouselExt/owl.carousel.js"></script>
	<script src="/views/components/adCarousel/js/CarouselExt/carouselExt.js"></script>
{{/partial}}

{{> (base "homepage") }}
