{{#if this.recentActivities.recent}}
<div class="feed-tiles">
     {{#each this.recentActivities.recent}}
         <div class="feed-tile">
			 <a class="user-link" href="{{seller.soiSeoUrl}}">
                <div class="user-photo-wrapper">
                    {{#if seller.profileImage}}
						<img class='user-avatar' src='{{seller.profileImage}}13.JPG'>
                    {{else}}
					    <div class='icon-header-profile-out user-avatar'></div>
                    {{/if}}
                 </div>
			 </a>
			 <a class="page-link" href="{{viewSeoUrl}}">
                 <div class="feed-text-wrapper">
                     {{#if renderSold}}
                         <span class="feed-text"><span class="bold">{{seller.name}}</span>{{i18n "recentactivity.message.sold" '' '' ''}}<span class="bold">{{prefix1}} {{prefix2}}</span></span>
                     {{else}}
                         <span class="feed-text"><span class="bold">{{seller.name}}</span>{{i18n "recentactivity.message.listing" '' '' ''}}<span class="bold">{{prefix1}} {{prefix2}}</span></span>
                     {{/if}}
                 </div>
                 <div class="clear"></div>
             </a>
         </div>
     {{/each}}
</div>
{{/if}}
