 <div class="feed-tiles">
     {{#each this.recentActivities.recent}}
         <div class="feed-tile">
             <a class="feed-tile-link" href="{{viewSeoUrl}}">
                 <div class="user-photo-wrapper">
                     <a href="{{seller.soiSeoUrl}}">
                         <div class="user-photo" style="background-image: url({{seller.profileImage}});">
                         </div>
                     </a>
                 </div>
                 <div class="feed-text-wrapper">
                     {{#if renderSold}}
                         <span class="feed-text"><span class="bold">{{seller.name}}</span>{{i18n "recentactivity.message.sold" '' '' ''}}<span class="bold">{{prefix1}} {{prefix2}}</span></span>
                     {{else}}
                         <span class="feed-text"><span class="bold">{{seller.name}}</span>{{i18n "recentactivity.message.listing" '' '' ''}}<span class="bold">{{prefix1}} {{prefix2}}</span></span>
                     {{/if}}
                 </div>
                 <div class="clear"></div>
             </a>
         </div>
     {{/each}}
</div>

