 <div class="feed-tiles">
     {{#each this.recentActivities.recent}}
         <div class="feed-tile">
			 <a href="{{seller.soiSeoUrl}}">
                <div class="user-photo-wrapper">
					<img class='user-avatar' src='{{seller.profileImage}}14.JPG'>
                 </div>
			 </a>
             <a href="{{viewSeoUrl}}">
                 <div class="feed-text-wrapper">
                     {{#if renderSold}}
                         <span class="feed-text"><span class="bold">{{seller.name}}</span>{{i18n "recentactivity.message.sold" '' '' ''}}<span class="bold">{{prefix1}} {{prefix2}}</span></span>
                     {{else}}
                         <span class="feed-text"><span class="bold">{{seller.name}}</span>{{i18n "recentactivity.message.listing" '' '' ''}}<span class="bold">{{prefix1}} {{prefix2}}</span></span>
                     {{/if}}
                 </div>
                 <div class="clear"></div>
             </a>
         </div>
     {{/each}}
</div>

