 <div class="feed-tiles">
     {{#each this.recentActivities.recent}}
     <div class="feed-tile">
         <div class="user-photo-wrapper">
             <div class="user-photo" style="background-image: url({{userProfileImageUrl}});">
             </div>
         </div>
         <div class="feed-text-wrapper">
             <span class="feed-text"><span class="bold">{{userFirstName}}</span> just {{action}} a <span class="bold"></span>{{prefix1}} {{prefix2}}</span>
         </div>
         <div class="clear"></div>
     </div>
     {{/each}}
</div>
