<div class="post-ad-form-container">
	<div class="photo-switcher">
        {{> (dynamic "photoCarousel")}}
	</div>

	<div class="input-form">
		<div class="heading title-text">{{i18n "postAd.createAds.form.title"}}</div>
		<div class="char-remaining">
			<span class="char-count">100</span><span>/100</span>
			<span>{{i18n "postAd.createAds.form.remaining"}}</span>
		</div>
		<div id="deferred-ad-images" class="hidden">{{json this.deferredAd.ads.0.imageUrls}}</div>
		<input id="title-input" class="text-input title-input" type="text" maxlength="100"
               {{#if this.deferredAd.ads}}value="{{this.deferredAd.ads.0.title}}"{{/if}}>

		<div class="heading price-text">{{i18n "postAd.createAds.form.price"}}</div>
		<input id="price-input" class="text-input price-input" type="text"
			   placeholder="{{i18n "postAd.createAds.form.pricePlaceholder"}}"
               {{#if this.deferredAd.ads}}value="{{this.deferredAd.ads.0.price.amount}}"{{/if}}>

		<div class="radio-form">
			{{#each this.localCurrencies}}
				<label class="control">
					<input type="radio" name="currency" value="{{this}}"
	                    {{#if this.deferredAd.ads}}
	                        {{#compare  this.deferredAd.ads.0.price.currency "===" this}}
						   checked="checked"
	                        {{/compare }}
	                    {{else if @first}}
						   checked="checked"
	                    {{/if}}
					/>
					<div class="outer-circle">
						<div class="inner-circle"></div>
					</div>
					<span class="currency-type">{{this}}</span>
				</label>
			{{/each}}
		</div>
	</div>
</div>
