<div class="label-wrapper">
	<label for="{{this.name}}">{{this.localizedName}}</label>
</div>
<div class="input-wrapper">
	<select name="{{this.name}}" class="edit-ad-select-box" data-attribute="{{this.name}}" {{#compare this.dependents.length ">" 0}}data-dependency="true"{{/compare}}>
        <option value='' {{#ifIn parent.adResult.attributeValues this.name}}{{else}}selected="selected"{{/ifIn}}>
            ---
        </option>
        {{#if this.allowedValues}}
            {{#each this.allowedValues}}
				<option class="non-default"{{#ifValueIn ../parent.adResult.attributeValues ../this.name this.value}} selected='selected'{{/ifValueIn}} value="{{this.value}}">{{this.localizedValue}}</option>
            {{/each}}
        {{/if}}
	</select>
</div>
