<div class="image-container swiper-container">
    <div class="swiper-wrapper">
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
		<div class="cover-photo-big no-photo swiper-slide"><div class="delete-wrapper"><div class="icon-photo-close"></div></div>
			<div class="photo-wrapper"><div class="icon-camera-v2"></div><div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div></div>
		</div>
    </div>
	<div class="swiper-pagination"></div>
</div>
