<div id="js-main-detail-edit" class="main-detail-edit">
    {{> (dynamic "shareAdCard") }}
	<div class="main-details-title">
        {{i18n "editAd.mainDetails.title"}}
	</div>
	<form id='edit-form' method="POST" action="#" data-publicJs-url="{{footer.baseJSUrl}}">
        <input id="location-lat" type="hidden" data-schema="data.location.latitude" name="locationLatitude" value="{{this.adResult.location.latitude}}">
        <input id="location-lng" type="hidden" data-schema="data.location.longitude" name="locationLongitude" value="{{this.adResult.location.longitude}}">
        <input type="hidden" name="adId" value="{{this.adId}}">
		<div class="form-category">
			<div class="label-wrapper">
				<label for="adCategory">{{i18n "editAd.mainDetails.labels.category"}}</label>
				<div class="suggested-cat">* {{i18n "editAd.mainDetails.suggestedCategory"}}</div>
			</div>
			<div class="input-wrapper">
				<div id="category-name-display" data-schema="data.categoryId" class="category-name-display"></div>
				<div class="leaf-node-warning hidden">{{i18n "editAd.mainDetails.leafNodeWarning"}}</div>
                <input id="category-id" value="{{this.adResult.categoryId}}" type="hidden" />
                {{> (dynamic "button") extraClasses='choose-category-button' iconName='' buttonLink="#" i18nPath="postad.contact.change"}}
			</div>
		</div>
		<div class="separator-div"></div>
		<div class="form-ad-title form-field {{#if this.verticalCategory}}required-field{{/if}}">
			<div class="label-wrapper">
				<label for="Title">{{i18n "editAd.mainDetails.labels.adTitle"}} ({{i18n "editAd.mainDetails.titleRestrictions.minimumAvailable"}}<span class="characters-available"></span>{{i18n "editAd.mainDetails.titleRestrictions.characters"}})</label>
			</div>
			<div class="input-wrapper">
				<input title="Title" maxlength="100" data-schema="data.title" name="Title" type="text" value="{{this.adResult.title}}"/>
			</div>
		</div>
        <div class="form-ad-price {{#if this.isPriceExcluded}}hidden{{/if}}">
            <div class="label-wrapper">
                <label for="amount">{{i18n "editAd.mainDetails.labels.price"}}</label>
            </div>
            <div class="input-wrapper">
                <input title="amount" type="number" name="amount" data-schema="data.price.amount" data-validation="NUMBER" placeholder="{{i18n "editAd.mainDetails.askMe"}}" class="price-input"
                       value="{{#if this.adResult.price.amount}}{{this.adResult.price.amount}}{{/if}}"/>
                <div class="radio-group" data-schema="data.price.currency">
                    {{#each this.localCurrencies}}
                        <label class="control">
                            <input type="radio" name="currency" value="{{this}}" {{#ifeq ../this.adResult.price.currency compare=this}}checked="checked"{{/ifeq}}{{#if ../this.shouldDefaultPrice}}{{#if @first}}checked="checked"{{/if}}{{/if}}/>
                            <div class="outer-circle">
                                <div class="inner-circle"></div>
                            </div>
                            <span class="currency-type">{{this}}</span>
                        </label>
                    {{/each}}
                    <!--
                    <label class="control">
                        <input type="radio" name="currency" value="MXN" {{#ifeq this.adResult.price.currency compare='MXN'}}checked="checked"{{/ifeq}}{{#if this.shouldDefaultPrice}}checked="checked"{{/if}}/>
                        <div class="outer-circle">
                            <div class="inner-circle"></div>
                        </div>
                        <span class="currency-type">MXN</span>
                    </label>
                    <label class="control">
                        <input type="radio" name="currency" value="USD" {{#ifeq this.adResult.price.currency compare='USD'}}checked="checked"{{/ifeq}}/>
                        <div class="outer-circle">
                            <div class="inner-circle"></div>
                        </div>
                        <span class="currency-type">USD</span>
                    </label>
                    -->
                </div>
            </div>
        </div>
		<div class="form-ad-description form-field {{#if this.verticalCategory}}required-field{{/if}}">
			<div class="label-wrapper">
				<label for="description">{{i18n "editAd.mainDetails.labels.description"}} ({{i18n "editAd.mainDetails.titleRestrictions.minimumAvailable"}}<span class="characters-available"></span>{{i18n "editAd.mainDetails.titleRestrictions.characters"}})</label>
			</div>
			<div class="input-wrapper">
				<textarea id='description-input' data-schema="data.description" class="description-input" name="description" title="description" maxlength="4000">{{{this.adResult.description}}}</textarea>
			</div>
		</div>
		<div class="separator-div"></div>
		<div class="form-location-selection">
			<div class="label-wrapper">
				<label for="adLocation">{{i18n "editAd.mainDetails.labels.location"}}</label>
			</div>
			<div class="input-wrapper">
				<div id="edit-location-input" role="link" class="location-link" data-default-location="{{i18n "location.defaultcity"}}">{{this.adResult.location.name}}</div>
			</div>
			<div class="location-warning">
				<div class="location-warning-text">
                    {{i18n "editAd.mainDetails.locationWarning"}}
				</div>
			</div>
		</div>
        <section id="custom-attributes">
            {{> (dynamic "editFormCustomAttributes") model=this}}
        </section>
		<div class="button-area">
            <div class="btn-area-inner">
				<div class="submit-btn-wrapper">
					<button id="edit-submit-button" class="edit-ad-submit" type="submit">{{i18n "editAd.mainDetails.submit"}}</button>
				</div>
				<div class="cancel-link-wrapper">
					<div id="cancel-button" class="cancel-form-link">
                        {{i18n "editAd.mainDetails.cancel"}}
					</div>
				</div>
            </div>
		</div>
	</form>
</div>
