{{#partial "content"}}


  <div class="quickpost">

    {{#partial "pageTitle"}}{{/partial}}

    <form action="" method="post" id="postForm">

        <div class="imgUploadContainer">
            {{> (dynamic "mediaUpload")}}
            <ul id="thumb-nails"></ul>
            <div class="uploadWrapper">
              <div class="upload-icon one">
                <input type="file" name="pic" accept="image/*" id="fileUpload">
                <span class="upload-icon-content">+</span><span class="icon-camera"></span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="qpWrapper">

            {{!-- Description --}}
            <div class="field-wrapper">
              <div class="description">
                <textarea id="Description" name="Description" {{#if this.flash.errors}}class="error"{{/if}} placeholder="{{i18n this.formContent.descriptionPlaceholder}}">{{i18n this.formContent.descriptionValue}}</textarea>
                <span class="icon-contextual-info"></span>
                  <span id="description-char-count" class="char-count-info">{{#if this.formContent.descriptionLength}}{{this.formContent.descriptionLength}}{{else}}4096{{/if}}</span>
                {{#with this.flash.fieldErrors.description}}
                  <p class="error noHeaderError"><span class="icon-alert-blue"></span>{{this}}</p>
                {{/with}}
              </div>
            </div>

            {{!-- BEGIN NEW CATEGORY SELECTOR --}}
            <style>
            label.error {
              color: #bb3027;
              font-weight: 500;
              font-size: 12px;
            }
            </style>
            <!-- L1 Category Selector -->
            <style>
            div.select-category > label:not(.error) {
              font-size: 1.3em;
              padding-left: 0.4em;
            }

            div.select-category {
              padding-bottom: 1em;
            }

            div.mobile-only {
              width: 100%;
              margin: 0 auto;
              margin-top: 1em;
            }

            div.mobile-only .mm-listview > li > span.base-panel {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              width: 80%;
              background-color: transparent;
            }

            div.nav-cont.selMenu.mm-last {
              z-index: 2000;
              border: 2px solid green;
            }

            div.mobile-only li.nav-item span.icon {
              display: inline;
            }
            </style>

            <div class="field-wrapper">
                <div class="select-category" {{#if this.flash.errors}}class="error"{{/if}}>
                  <div id="catSelector" class="menu-cnt">
                    <div id="mobileCats" class="mobile-only">
                      <div class="body">
                          <nav id="cat-list">
                              <div>
                                  <div class="base-panel-container">
                                      <ul>
                                          <li>
                                              <span class="mm-arrow base-panel" href="#">
                                                  <span class="initial-label">{{#if this.formContent.category}}{{this.formContent.categoryValue}}{{else}}{{i18n "postad.select.category.$$"}}{{/if}}</span>
                                              </span>
                                          </li>
                                     </ul>
                                  </div>
                              </div>

                              <!-- subpanel -->
                              <div class="item-list Panel">
                                  {{#block "PrecompiledCatCascadeMenu"}}{{/block}}
                              </div>
                          </nav>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" id="Category" name="Category" value="{{#if this.formContent.category}}{{this.formContent.category}}{{/if}}" />
                </div>
                {{#with this.flash.fieldErrors.category}}
                    <p class="error noHeaderError"><span class="icon-alert-blue"></span>{{this}}</p>
                {{/with}}
            </div>
            {{!-- END NEW CATEGORY SELECTOR --}}

            {{!-- Price --}}
            <div class="field-wrapper">
              <div class="price">
                  <input class="custom-input" type="text"  onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="price" placeholder="{{i18n this.formContent.pricePlaceholder}}" value="{{i18n this.formContent.priceValue}}"/>
              </div>
            </div>

            {{!-- Share on FB --}}
            {{#if this.formContent.displayFb}}
                <div class="field-wrapper">
                  <div class="socialMedia">
                      <span class="smedia">{{i18n this.formContent.sharefbText}}</span>
                      {{> (dynamic "switchButton") }}
                  </div>
                </div>
            {{/if}}

            <div class="field-wrapper">
              <div class="select-location">
                {{> (dynamic "mapLatLong") }}
                <input id="location" class="custom-input" autocomplete="off" type="text" name="location" placeholder="{{i18n this.formContent.locationText}}" value="{{this.formContent.location}}"/>
                <input type="hidden" id="latitude" name="latitude" value = "{{this.formContent.latitude}}"/>
                <input type="hidden" id="longitude" name="longitude" value = "{{this.formContent.longitude}}"/>
                <input type="hidden" id="address" name="address" value = "{{this.formContent.address}}"/>
                <input type="hidden" id="geolatitude" name="geolatitude" value = "{{this.formContent.latitude}}"/>
                <input type="hidden" id="geolongitude" name="geolongitude" value = "{{this.formContent.longitude}}"/>
                <input type="hidden" id="geoaddress" name="geoaddress" value = "{{this.formContent.address}}"/>

                  <div id="maps-link" class="infos hiddenElt">
                    <span>We won't show address on the ad.</span>
                    <span>Click here to change your location from map.</span>
                </div>
              </div>

              {{!-- Map holder --}}
              <div id="map_canvas_wrapper">
                  <div id="map_canvas"></div>
              </div>
            </div>
        </div>

        <div class="inforules">
            <span>{{i18n this.formContent.beforeSellText this.formContent.beforeSellTextTerms this.formContent.beforeSellTextTerms}}</span>
        </div>
        <div class="qpost">
            <input class="quickSubmit" type="submit" value="{{i18n this.formContent.sellitText}}" />
        </div>

    </form>

    <div class="floating-tooltip">
      <div class="tooltip-wrapper">
        <div class="gl-messages-replyAds-srp">
			     <a href="javascript:void(0)" class="close_btn">
			         <span class="icon-gl-message-close"></span>
			     </a>
			  </div>
        <div><b>Items with good description sell faster !</b></div>
        <div class="elt">Mention brand, model, age and accessories</div>
        <div class="elt">Mention condition, features and reason for selling</div>
        <div class="elt">If the item is still under warranty, mention it</div>
        <div class="elt">2-3 sentences is a good description</div>
        <span class="icon-close"></span>
      </div>
    </div>

    <div id="autocompleteField" class="hiddenElt"></div>
  </div>
{{/partial}}

{{#partial "footerWrapper"}}{{/partial}}
{{#partial "postBtn"}}{{/partial}}

{{#partial "pageTailScriptsBeforeIncludes"}}
 <script>
  var Bolt = Bolt || {};
  Bolt._postFormMsgs = {
      selectLocationLabel : '{{i18n "postad.select.location"}}',
      selectCategoryLabel : '{{i18n "postad.select.category.$$"}}',
      categorySearchPlaceholder : '{{i18n "postad.select.category.sampleSearch"}}'
  }
</script>
{{/partial}}


{{#partial "PrecompiledCatCascadeMenu"}}
<ul class="nav-cont selMenu ">
  {{#each this.categoryData.nodes}}
  <li class="nav-item" data-id="{{this.id}}" data-leaf="true">
    <span class="item-text">
      <span class="icon-cat-{{this.level1Id}} icon"></span>
      {{this.localizedName}}
    </span>
  </li>
  {{/each}}
</ul>
{{/partial}}
