{{#partial "content"}}


  <div class="quickpost">

    {{#partial "pageTitle"}}{{/partial}}

    <form action="" method="post" autocomplete="off" id="postForm">

        <div class="imgUploadContainer">
            {{> (dynamic "mediaUpload")}}
            <ul id="thumb-nails"></ul>
            <div class="uploadWrapper">
              <div class="upload-icon one">
                <input type="file" name="pic" accept="image/*" id="fileUpload">
                <span class="upload-icon-content">+</span><span class="icon-camera"></span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="qpWrapper">

            {{!-- Description --}}
            <div class="field-wrapper">
                <span class="star">*</span>
                <div class="description">
                <textarea id="Description" name="Description" {{#if this.flash.fieldErrors.description}}class="error" data-errorFlash="{{this.flash.fieldErrors.description}}"{{/if}}
                          data-errorDescriptionReqd="<p class='labelError'>{{i18n this.formContent.errorDescriptionReqd}}</p>"
                          data-errorDescriptionShort="<p class='labelError'>{{i18n this.formContent.errorDescriptionShort}}</p>"
                          data-errorDescriptionLong="<p class='labelError'>{{i18n this.formContent.errorDescriptionLong}}</p>"
                          data-errorDescriptionInvalid="<p class='labelError'>{{i18n this.formContent.errorDescriptionInvalid}}</p>"
                          placeholder="{{i18n this.formContent.descriptionPlaceholder}}">{{#if this.formContent.descriptionValue}}{{i18n this.formContent.descriptionValue}}{{/if}}</textarea>
                <span class="icon-contextual-info"></span>
                <span id="description-char-count" class="char-count-info">{{#if this.formContent.descriptionLength}}{{this.formContent.descriptionLength}}{{else}}4096{{/if}}</span>
                <label class="icon-validation-check"></label>
                {{#with this.flash.fieldErrors.description}}
                    <p class="error noHeaderError">{{i18n this}}</p>
                {{/with}}
              </div>
            </div>

            {{!-- CATEGORY SELECTOR --}}
            <style>
            div.select-category > label:not(.error) {
              font-size: 1.3em;
              padding-left: 0.4em;
            }

            div.select-category {
              padding-bottom: 1em;
                width: 96%;
            }

            div.mobile-only {
              width: 100%;
              margin: 0 auto;
              margin-top: 1em;
            }

            div.mobile-only .star{
                margin-right: -4%;
            }

            div.mobile-only .mm-listview > li > span.base-panel {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              width: 80%;
              background-color: transparent;
            }

            div.nav-cont.selMenu.mm-last {
              z-index: 2000;
              border: 2px solid green;
            }

            div.mobile-only li.nav-item span.icon {
              display: inline;
            }
            </style>

            <div class="field-wrapper">
                <div class="select-category">
                  <div id="catSelector" class="menu-cnt"
                       data-errorCategoryReqd="<p class='catSelectorError'>{{i18n this.formContent.errorCategoryReqd}}</p>"
                       {{#if this.flash.fieldErrors.category}}class="error" data-errorFlash="{{this.flash.fieldErrors.category}}"{{/if}}>
                    <div id="mobileCats" class="mobile-only">
                      <span class="star">*</span>
                      <label class="icon-validation-check"></label>
                      <div class="body">
                          <nav id="cat-list">
                              <div>
                                  <div class="base-panel-container">
                                      <ul>
                                          <li>
                                              <span class="mm-arrow base-panel" href="#">
                                                  <span class="initial-label">{{#if this.formContent.category}}{{this.formContent.categoryValue}}{{else}}{{i18n "postad.select.category.$$"}}{{/if}}</span>
                                              </span>
                                          </li>
                                     </ul>
                                  </div>
                              </div>

                              <!-- subpanel -->
                              <div class="item-list Panel">
                                  {{#block "PrecompiledCatCascadeMenu"}}{{/block}}
                              </div>
                          </nav>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" id="Category" name="Category" value="{{#if this.formContent.category}}{{this.formContent.category}}{{/if}}" />
                </div>
                {{#with this.flash.fieldErrors.category}}
                    <p class="error noHeaderError">{{this}}</p>
                {{/with}}
            </div>

            {{!-- Price --}}
            <div class="field-wrapper">
                <div class="price">
                    {{#if this.formContent.currencyDisplay}}
	                   <div class='currency-types'>
		                    <select id='currencyOptions' class="currency-value" name='currencyOptions'>
                                {{#each this.formContent.currency}}
                                    <option value='{{splitKeyValueShowKey this}}'>{{splitKeyValueShowValue this}}</option>
                                {{/each}}
                            </select>
                       </div>
                    {{/if}}
                    <input type="hidden" id="SelectedCurrency" name="SelectedCurrency" value="{{this.formContent.selectedCurrency}}" />

                    <div class='price-field number'>
                        <span class='price-fraction'>{{i18n this.formContent.priceExtension}}</span>
                         <input type="number" data-number='{"nogrouping" : false}' pattern="\d*"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                class='price-value' id="Price" name="price"
                                placeholder="{{i18n this.formContent.pricePlaceholder}}"
                                {{#if this.flash.fieldErrors.price}}class="error" data-errorFlash="{{this.flash.fieldErrors.price}}"{{/if}}
                                {{#if this.formContent.priceValue}}value="{{i18n this.formContent.priceValue}}"{{/if}}  data-errorPriceLong="<p class='labelError'>{{i18n this.formContent.errorPriceLong}}</p>" >
                      <span class="ghost">{{i18n this.formContent.priceCurrencyText}}</span>
                    </div>
                    <label class="icon-validation-check"></label>
                </div>
            </div>
            
           

            {{!-- Share on FB --}}
            {{#if this.formContent.displayFb}}
                <div class="field-wrapper">
                  <div class="socialMedia">
                      <span class="smedia">{{i18n this.formContent.sharefbText}}</span>
                      {{> (dynamic "switchButton") }}
                  </div>
                </div>
            {{/if}}

            <div class="field-wrapper">
                <span class="star">*</span>

                <div class="select-location">
                    {{> (dynamic "mapLatLong") }}
                    <input id="Location" class="custom-input" autocomplete="off" type="text" name="Location"
                           data-errorLocationReqd="<p class='custom-inputError'>{{i18n this.formContent.errorLocationReqd}}</p>"
                           data-errorLocationInvalid="<p class='custom-inputError'>{{i18n this.formContent.errorLocationInvalid}}</p>"
                        {{#if this.flash.fieldErrors.location}}class="error" data-errorFlash="{{i18n this.flash.fieldErrors.location}}"{{/if}}
                           placeholder="{{i18n this.formContent.locationText}}" value="{{this.formContent.location}}"/>
                    <input type="hidden" id="latitude" name="latitude" value = "{{this.formContent.latitude}}"/>
                    <input type="hidden" id="longitude" name="longitude" value = "{{this.formContent.longitude}}"/>
                    <input type="hidden" id="address" name="address" value = "{{this.formContent.address}}"/>
                    <input type="hidden" id="geolatitude" name="geolatitude" value = "{{this.formContent.latitude}}"/>
                    <input type="hidden" id="geolongitude" name="geolongitude" value = "{{this.formContent.longitude}}"/>
                    <input type="hidden" id="geoaddress" name="geoaddress" value = "{{this.formContent.address}}"/>

                    <label class="icon-validation-check"></label>
                    {{#with this.flash.fieldErrors.location}}
                      <p class="error noHeaderError">{{i18n this}}</p>
                    {{/with}}

                    <div id="maps-link" class="infos hiddenElt">
                        <span>{{i18n this.formContent.geolocation1}}</span>
                        <span>{{i18n this.formContent.geolocation2}}</span>
                    </div>

                    <div id="autocompleteField" class="hiddenElt"></div>
                </div>

              {{!-- Map holder --}}
              <div id="map_canvas_wrapper">
                  <div id="map_canvas"></div>
              </div>
            </div>
        </div>

        <div class="inforules">
            <span>{{i18n this.formContent.beforeSellText}} <span class='sudo-link' data-target="_blank" data-o-uri='{{obfuscateUrl this.formContent.beforeSellTextTermsUrl}}'> {{i18n this.formContent.beforeSellTextTerms}} </span> {{i18n this.formContent.beforeSellTextAnd}} <span class='sudo-link' data-o-uri='{{obfuscateUrl this.formContent.beforeSellTextPostingRulesUrl}}' data-target="_blank">{{i18n this.formContent.beforeSellTextPostingRules}}</span></span>
        </div>
        <div class="qpost">
            <input class="quickSubmit" type="submit" value="{{i18n this.formContent.sellitText}}" />
        </div>

        <input type="hidden" name="formError" id="formError" value="{{#if this.flash}}true{{else}}false{{/if}}" />

    </form>

    <div class="floating-tooltip">
      <div class="tooltip-wrapper">
        <div class="gl-messages-replyAds-srp">
			     <a href="javascript:void(0)" class="close_btn">
			         <span class="icon-gl-message-close"></span>
			     </a>
			  </div>
        <div><b>{{i18n this.formContent.descriptionTipTitle}}</b></div>
        <div class="elt">{{i18n this.formContent.descriptionTip1}}</div>
        <div class="elt">{{i18n this.formContent.descriptionTip2}}</div>
        <div class="elt">{{i18n this.formContent.descriptionTip3}}</div>
        <div class="elt">{{i18n this.formContent.descriptionTip4}}</div>
        <span class="icon-close"></span>
      </div>
    </div>
  </div>
{{/partial}}

{{#partial "footerWrapper"}}{{/partial}}
{{#partial "postBtn"}}{{/partial}}

{{#partial "pageTailScriptsBeforeIncludes"}}
 <script>
  var Bolt = Bolt || {};
  Bolt._postFormMsgs = {
      selectLocationLabel : '{{i18n "postad.select.location"}}',
      selectCategoryLabel : '{{i18n "postad.select.category.$$"}}',
      categorySearchPlaceholder : '{{i18n "postad.select.category.sampleSearch"}}'
  };
  {{#if this.formContent.imgUrls}}
    Bolt.imgUrls = {{json this.formContent.imgUrls}};
  {{else}}
    Bolt.imgUrls = [];
  {{/if}}
  {{#if this.formContent.imgThumbUrls}}
    Bolt.imgThumbUrls = {{json this.formContent.imgThumbUrls}};
  {{else}}
    Bolt.imgThumbUrls = [];
  {{/if}}
 </script>
{{/partial}}


{{#partial "PrecompiledCatCascadeMenu"}}
<ul class="nav-cont selMenu ">
  {{#each this.categoryData.nodes}}
  <li class="nav-item" data-id="{{this.id}}" data-leaf="true">
    <span class="item-text">
      <span class="icon-cat-{{this.level1Id}} icon"></span>
      {{this.localizedName}}
    </span>
  </li>
  {{/each}}
</ul>
{{/partial}}
