{{#partial "content"}}
  <div class="quickpost">

    <div class="qpHeader">
      {{> (dynamic "logo") }}
      <div class="pageTitle">{{i18n this.formContent.pagetitle}}</div>
      <div class="clear"></div>
    </div>

    <form action="" method="post">
      <div class="imgUploadContainer">
        <div class="uploadWrapper">
          <div class="upload-icon one"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="qpWrapper">

        <!-- Description -->
        <div class="description">
          <textarea id="description" name="description" {{#if this.flash.errors}}class="error"{{/if}} placeholder="{{i18n this.formContent.descriptionPlaceholder}}">{{i18n this.formContent.descriptionValue}}</textarea>
        </div>

        <!-- Category Selector -->
        <div class="select-category">
          <select name="category" class="custom-input" {{#if this.flash.errors}}class="error"{{/if}}>
              <option value="-1" selected>{{i18n this.formContent.categoryText}}</option>
              {{#each this.category.children}}
                  <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{i18n this.localizedName}}</option>
              {{/each}}
          </select>
        </div>

        <!-- Price -->
        <div class="price">
            <input class="custom-input" type="text" name="price" placeholder="{{i18n this.formContent.pricePlaceholder}}" value="{{i18n this.formContent.priceValue}}"/>
        </div>

        <!-- Share on FB -->
        <div class="socialMedia">
            <span class="smedia">{{i18n this.formContent.sharefbText}}</span>
            {{> (dynamic "switchButton") }}
        </div>

        <!-- Map holder -->
        <div id="map_canvas_wrapper">
            <div id="map_canvas"></div>
        </div>
        <div class="select-location">
            {{> (dynamic "mapLatLong") }}
            <input class="custom-input" type="text" id="location" name="location" placeholder="{{i18n this.formContent.locationText}}" value="{{this.formContent.location}}"/>
            <input type="hidden" id="latitude" name="latitude" value = "{{this.formContent.latitude}}"/>
            <input type="hidden" id="longitude" name="longitude" value = "{{this.formContent.longitude}}"/>
            <input type="hidden" id="address" name="address" value = "{{this.formContent.address}}"/>
        </div>
      </div>

      <div class="qpost">
        <input class="quickSubmit" type="submit" value="{{i18n this.formContent.sellitText}}" />
      </div>
    </form>

  </div>
{{/partial}}

{{#partial "headerWrapper"}}{{/partial}}
{{#partial "footerWrapper"}}{{/partial}}


{{#partial "pageTailScripts"}}
<script type="text/javascript" src='/views/components/mapLatLong/js/mapLatLong.js'></script>
<script>
   $(document).ready(function () {
      var GMapObj = BOLT.MapLatLong;

      function openMap() {

        if (!openMap.opened) {
          $("#map_canvas_wrapper").slideDown("slow");
        } else {
          $("#map_canvas_wrapper").slideUp("slow", function () {
           var latlongData = GMapObj.getLatLong();

           /////////
           // @Nacer, please refactor this code
           $("#latitude").val(latlongData.lat);
           $("#longitude").val(latlongData.long);
           $("#address").val(latlongData.address);

           $("#location").val(latlongData.address);
           /////////
          });
        }
        openMap.opened = !openMap.opened;
      }
      openMap.opened = false;

      $("input[name=location]").click(openMap);

      $(document).on("applyLocation", function(e, latlongData) {
        ///////
        // @Nacer, please refactor this code
           $("#latitude").val(latlongData.lat);
           $("#longitude").val(latlongData.long);
           $("#address").val(latlongData.address);

           $("#location").val(latlongData.address);
        //////
      });

   });
</script>
{{/partial}}
