<!DOCTYPE html>
<!--[if IEMobile 7]>
<html data-locale="{{this.locale}}" lang="{{this.header.languageCode}}" class="iem7 oldie {{this.header.pageType}}"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html data-locale="{{this.locale}}" lang="{{this.header.languageCode}}" class="ie7 lt-ie8 lt-ie9 lt-ie10 oldie {{this.header.pageType}}"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html data-locale="{{this.locale}}" lang="{{this.header.languageCode}}" class="ie8 lt-ie9 lt-ie10 oldie {{this.header.pageType}}"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]>
<html data-locale="{{this.locale}}" lang="{{this.header.languageCode}}" class="ie9 lt-ie10 {{this.header.pageType}}"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!-->
<html data-locale="{{this.locale}}" lang="{{this.header.languageCode}}" xmlns="http://www.w3.org/1999/html" class="{{this.header.pageType}}"><!--<![endif]-->
<head>
    <title>{{#block "title"}}{{i18n this.header.pageTitle}}{{/block}}</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="description" content="{{i18n this.header.metaDescription this.totalLiveAdCount}}"/>
    <meta name="robots" content="{{#if this.header.metaRobots}}{{this.header.metaRobots}}{{else}}index, follow{{/if}}"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    {{#block "smartBannerContainer"}}{{/block}}
    {{#block "branchioSmartBanner"}}{{/block}}
    {{#block "metaGoogleSearchBox"}}{{/block}}

    {{!-- need to remove it after seo time verify it. --}}
    {{{this.content.bingMeta}}}

    {{#if this.header.pageUrl}}
        <meta property="og:title" content="{{i18n this.header.pageTitle}}"/>
        <meta property="og:type" content="{{this.header.type}}"/>
        <meta property="og:image" content='{{#block "ogImg"}}{{this.header.ogUrl}}{{/block}}'/>
        <meta property="og:url" content="{{this.header.pageUrl}}"/>
        <meta property="og:site_name" content="{{this.header.brandName}}"/>
        <meta property="og:country-name" content="{{i18n 'header.country.label'}}"/>
        <meta property="og:description" content="{{i18n this.header.metaDescription this.totalLiveAdCount}}"/>
        <meta property="og:locale" content="{{this.header.localeOpenGraph}}"/>
    {{/if}}

    {{#if this.header.seoDeeplinkingUrlAndroid}}
        <link rel="alternate" href="{{this.header.seoDeeplinkingUrlAndroid}}"/>
    {{/if}}

    {{#each this.header.containerCSS}}
        <link rel="stylesheet" type="text/css" href='{{#block "cssSrc"}}{{this}}{{/block}}'/>
    {{/each}}

    <link rel="publisher" href="{{this.header.publisherUrl}}" />
    <link rel="shortcut icon" type="image/png" href="{{this.header.shortcutIconUrl}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{this.header.shortcutIconUrl}}"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{this.header.shortcutIconUrl}}"/>
    <link rel="apple-touch-icon" href="{{this.header.touchIconIphoneUrl}}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{this.header.touchIconIpadUrl}}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{this.header.touchIconIphoneRetinaUrl}}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{this.header.touchIconIpadRetinaUrl}}"/>
	<link rel="icon" type="image/png" sizes="32x32" href="{{this.header.shortcutIconUrl}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{this.header.shortcutIconUrl}}">
	<!-- <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"> -->

    <!-- Link to the Manifest File -->
    <link rel="manifest" href="/manifest.json">

    {{#if this.header.canonical}}
        <link rel="canonical" href="{{this.header.canonical}}"/>
    {{/if}}
    {{#block "meta"}}{{/block}}
    {{#block "metaForPage"}}{{/block}}
    {{#each this.header.iconsCSSURLs}}
        <link href="{{this}}" rel="stylesheet">
    {{/each}}
    {{#block "grumpicon-script"}}

    <script>!function(e,t,n){function a(a){var m=o.document.createElement("link"),A=o.document.getElementsByTagName("script")[0],d=a&&r;m.rel="stylesheet",m.href=d?e:a?t:n,A.parentNode.insertBefore(m,A),d||(document.documentElement.className+=" no-svg")}if(3===arguments.length){var o=window,r=!(!o.document.createElementNS||!o.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),m=new o.Image;m.onerror=function(){a(!1)},m.onload=function(){a(1===m.width&&1===m.height)},m.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}}
    ("{{this.header.iconsCSSURLs.[0]}}","{{this.header.iconsCSSURLs.[1]}}","{{this.header.iconsCSSURLs.[2]}}");</script>

    <noscript>
        {{#each this.header.iconsCSSFallbackUrl}}
            <link href="{{this}}" rel="stylesheet">
        {{/each}}
       <style type="text/css">
            .jsOnly {display:none !important;}
            .nonJsOnlyInlineBlock{display:inline-block !important;}
            .nonJsOnlyBlock {display:block !important;}
            .nonJsOnlyInline {display:inline !important;}
       </style>
    </noscript>

    {{/block}}
    {{#block "GTMTag"}}
      {{#if this.header.analytics.gtmTagId}}
            <script>
            var dataLayer = dataLayer || [];
            dataLayer.push({});(function(l) {
                var dl=l[0];
                dl["p"]={};
                     {{#with this.dataLayer.pageData.pageType}}dl["p"]["t"] = "{{this}}";{{/with}}
                     {{#with this.dataLayer.pageData.platform}}dl["p"]["pl"] = "{{this}}";{{/with}}
                     {{#with this.dataLayer.pageData.version}}dl["p"]["v"] = "{{this}}";{{/with}}
                     {{#with this.dataLayer.pageData.language}}dl["p"]["lng"] ="{{this}}";{{/with}}
                     {{#with this.dataLayer.pageData.viewType}}dl["p"]["vt"] ="{{this}}";{{/with}}
                dl["u"]={};
                dl["u"]["tg"]={};
                     {{#with this.dataLayer.userData.hashedUserId}}dl["u"]["huid"] = "{{this}}";{{/with}}
                     {{#with this.dataLayer.userData.hashedUserEmail}}dl["u"]["hue"] = "{{this}}";{{/with}}
                     {{#with this.dataLayer.userData.hashedAccountId}}dl["u"]["haid"] = "{{this}}";{{/with}}
                     {{#with this.dataLayer.userData.accountType}}dl["u"]["at"] ="{{this}}";{{/with}}
                     {{#with this.dataLayer.userData.loggedIn}}dl["u"]["li"] ="{{this}}";{{/with}}
                     {{#with this.dataLayer.userData.accountCreationDate}}dl["u"]["a_cre"] ="{{this}}";{{/with}}
                     {{#with this.dataLayer.userData.daysSinceRegistration}}dl["u"]["dsr"] ="{{this}}";{{/with}}
                     {{#with this.dataLayer.userData.sessionLvTstGrp}}dl["u"]["tg"]["stg"] ="{{this}}";{{/with}}
                     {{#block "dataLayerSpecifics"}}{{/block}}
                dl["c"]={};
                dl["c"]["c"]={};
                     {{#with this.dataLayer.categoryData.current}} dl["c"]["c"]["id"] = "{{this.id}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level0}}dl["c"]["l0"]={};dl["c"]["l0"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level1}}dl["c"]["l1"]={};dl["c"]["l1"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level2}}dl["c"]["l2"]={};dl["c"]["l2"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level3}}dl["c"]["l3"]={};dl["c"]["l3"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level4}}dl["c"]["l4"]={};dl["c"]["l4"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.categoryData.current}}dl["c"]["c"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level0}}dl["c"]["l0"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level1}}dl["c"]["l1"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level2}}dl["c"]["l2"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level3}}dl["c"]["l3"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.categoryData.level4}}dl["c"]["l4"]["n"]="{{this.name}}";{{/with}}

                dl["l"]={};
                dl["l"]["c"]={};
                     {{#with this.dataLayer.locationData.current}} dl["l"]["c"]["id"] = "{{this.id}}";{{/with}}
                     {{#with this.dataLayer.locationData.level0}}dl["l"]["l0"]={};dl["l"]["l0"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.locationData.level1}}dl["l"]["l1"]={};dl["l"]["l1"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.locationData.level2}}dl["l"]["l2"]={};dl["l"]["l2"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.locationData.level3}}dl["l"]["l3"]={};dl["l"]["l3"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.locationData.level4}}dl["l"]["l4"]={};dl["l"]["l4"]["id"]="{{this.id}}";{{/with}}
                     {{#with this.dataLayer.locationData.current}}dl["l"]["c"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.locationData.level0}}dl["l"]["l0"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.locationData.level1}}dl["l"]["l1"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.locationData.level2}}dl["l"]["l2"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.locationData.level3}}dl["l"]["l3"]["n"]="{{this.name}}";{{/with}}
                     {{#with this.dataLayer.locationData.level4}}dl["l"]["l4"]["n"]="{{this.name}}";{{/with}}

                dl["a"]={};
                dl["a"]["prc"]={}
		              {{#with this.dataLayer.adResult}}dl["a"]["id"] ="{{this.id}}";{{/with}}
		              {{#with this.dataLayer.adResult}}dl["a"]["prc"]["amt"]="{{this.price.amount}}";{{/with}}
		              {{#with this.dataLayer.adResult}}dl["a"]["prc"]["t"] ="{{this.price.priceType}}";{{/with}}
		              {{#with this.dataLayer.adResult}}dl["a"]["ic"] ="{{this.pictures.sizeUrls.length}}";{{/with}}
		              {{#with this.dataLayer.adResult}}dl["a"]["lpdt"] ="{{this.lastUserEditDate}}";{{/with}}
		              {{#with this.dataLayer.adResult}}dl["a"]["cdt"] ="{{this.postedDate}}";{{/with}}

             {{#block "GoogleTagManager"}}{{/block}}

            })(dataLayer);

                    //gtm script
                     (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                             {'gtm.start': new Date().getTime(),event:'gtm.js'}
                     );var f=d.getElementsByTagName(s)[0],
                             j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                             '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                     })(window,document,'script','dataLayer','{{this.header.analytics.gtmTagId}}');
       </script>
      {{/if}}
    {{/block}}
    <script>
        var Bolt = Bolt || {};
        Bolt.BASEJSURL = "{{this.footer.baseJSUrl}}";
        Bolt.BASESVGDATAURL = "{{this.footer.baseSVGDataUrl}}";
        Bolt.BASECSSURL = "{{this.footer.baseCSSUrl}}";
        Bolt.BASEIMAGEURL = "{{this.footer.baseImageUrl}}";
        Bolt.BRANDNAME = "{{this.footer.brandName}}";
        Bolt.COUNTRY = "{{this.country}}";
        Bolt.DECIMAL = "{{i18n "currency.decimal"}}";
        Bolt.PLACEHOLDER = "{{i18n "currency.placeholder"}}";
        Bolt.LOCALE = "{{this.locale}}";
        Bolt.LOCALIZEAPIROOTURL = "{{this.footer.localizeApiRootUrl}}{{this.locale}}";
    </script>

    {{#if this.clientTranslations}}
		<div id="translation-block" class="hidden">
            {{clientI18nTranslate this.clientTranslations}}
		</div>
    {{/if}}

    {{> (dynamic "abTest") }}

    {{#block "googleAnalytics"}}
        <input id='ga-account' type='hidden' value='{{account}}' />
        <input id='ga-domain' type='hidden' value='{{domainName}}' />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            {{#if this.header.analytics.account}}
                {{#with this.header.analytics}}
                    _gaq.push(['siteTracker._setAccount', '{{account}}']);
                    _gaq.push(['siteTracker._setAllowAnchor', {{allowAnchor}}]);

                    {{#ifeq enableGaTracking compare='true'}}
					    _gaq.push(['siteTracker._setDomainName', '{{domainName}}']);
                        {{#each ignoredRefs}}
						    _gaq.push(['siteTracker._addIgnoredRef', '{{this}}']);
                        {{/each}}
                        _gaq.push(['siteTracker._setSessionCookieTimeout', {{sessionCookieTimeout}}]);
                        _gaq.push(['siteTracker._setCampaignCookieTimeout', {{campaignCookieTimeout}}]);
                        _gaq.push(['siteTracker._setVisitorCookieTimeout', {{visitorCookieTimeout}}]);
                        _gaq.push(['siteTracker._trackPageview']);
                    {{/ifeq}}

                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                        //ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                {{/with}}
        {{/if}}
        </script>
    {{/block}}

    {{#block "dynamicStyles"}}{{/block}}
</head>
<body>

    {{> (dynamic "cookieBanner") }}
    {{#if this.header.analytics.gtmTagId}}
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id={{this.header.analytics.gtmTagId}}"
              height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
    {{/if}}

    <noscript>
        <div class="js-message-error">
            <div>
                <span class="icon-warning-sign"></span>
                <div class="no-js {{this.locale}} message"></div>
            </div>
        </div>
    </noscript>

    {{> body}}

    {{#block "tail"}}
         {{> tail}}
    {{/block}}

    {{#block "abtesting"}}{{/block}}

    {{> (dynamic "effectiveMeasures") }}
</body>
</html>
