{{#partial "content"}}
	<section class="edit-ad-page">
		{{> (dynamic "postAdHeader") titleKey="editAd.headerTitle"}}
		<div class="hidden">
			{{> (dynamic "uploadImage")}}
		</div>
		<div class="edit-ad-content">
			<div id="category-tree" class="hidden">{{json this.categoryAll}}</div>
			<div id="selected-cat-hierarchy" class="hidden">{{json this.categoryCurrentHierarchy}}</div>
			<div class="photo-switcher">
				{{> (dynamic "photoContainer") i18HeadTitle="editAd.productImages"}}
			</div>
			{{> (dynamic "postAdFormMainDetails") }}
			<div class="desktop-button-area">
				<div class="btn-area-inner">
					<div class="submit-btn-wrapper">
						<button class="edit-submit-button edit-ad-submit" type="submit">{{i18n "editAd.mainDetails.submit"}}</button>
					</div>
					<div class="cancel-link-wrapper">
						<div class="cancel-form-link cancel-button">
							{{i18n "editAd.mainDetails.cancel"}}
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-button-area">
				<div class="mobile-post-ad-wrapper">
					<div class="mobile-post-ad-modal-wrapper">
						<div class="mobile-post-ad-modal">
							<div class="mobile-post-ad-modal-overlay"></div>
						</div>
						<div class="mobile-post-ad-footer">
							<div class="btn-wrapper">
                                <a class="edit-submit-button btn">
                                    <span class="sudolink">{{i18n "editAd.mainDetails.submit"}}</span>
                                </a>
                            </div>
						</div>
						<div class="cancel-link-wrapper">
							<div class="mobile-cancel-form-link cancel-button">{{i18n "editAd.mainDetails.cancel"}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{#block "default-gmaps"}}{{/block}}
	{{> (dynamic "spinnerModal")}}
	<section id="feature-promote" class="hidden">
        <div id="promote-without-inf" class="hidden">
            {{> (dynamic "postAdHeader") titleKey="PROMTE THIS AD" }}
        </div>
		<div id="promote-with-inf" class="hidden">
            {{> (dynamic "postAdHeader") titleKey="POSTING FEE" }}
			<div class="inf-description">There is a fee for posting more than one <span class="inf-category-name">Place Holder</span>
				listing. <a href="" class="contact-support">Contact Business Services</a> for more information on bulk posting!</div>
            <div class="inf-container">
                <div class="inf-header">
                    <div class="ad-inf-description"><span class="inf-category"></span> Posting Fee</div>
                    <div class="inf-amount"></div>
                </div>
				<div class="separator-div"></div>
                <div class="ad-summary">
                    <div class="ad-first-pic"></div>
                    <div class="ad-title"></div>
                    <div class="ad-price"></div>
                </div>
            </div>
			<div class="inf-cancel">
				<a class="inf-cancel-button">{{i18n "editAd.mainDetails.cancel"}}</a>
			</div>
        </div>
        {{> (dynamic "adFeatureSelection") model=this}}
	</section>
{{/partial}}
