{{#partial "content"}}
	<section class="edit-ad-page">
		{{> (dynamic "postAdHeader") titleKey="editAd.headerTitle"}}
		<div class="hidden">
			{{> (dynamic "uploadImage")}}
		</div>
		<div class="edit-ad-content">
			<div id="category-tree" class="hidden">{{json this.categoryAll}}</div>
			<div id="selected-cat-hierarchy" class="hidden">{{json this.categoryCurrentHierarchy}}</div>
			<div class="photo-wrapper-container">
				<div class="photo-switcher">
                    {{> (dynamic "photoContainer") i18HeadTitle="editAd.productImages"}}
				</div>
				<div class="icon-post-edit-ad-banner"></div>
			</div>
			{{> (dynamic "postAdFormMainDetails") }}
			<div class="desktop-button-area">
				<div class="btn-area-inner">
					<div class="submit-btn-wrapper">
						<button class="edit-submit-button edit-ad-submit" type="submit">{{i18n "editAd.mainDetails.submit"}}</button>
					</div>
					<div class="cancel-link-wrapper">
						<div class="cancel-form-link cancel-button">
							{{i18n "editAd.mainDetails.cancel"}}
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-button-area">
				<div class="mobile-post-ad-wrapper">
					<div class="mobile-post-ad-modal-wrapper">
						<div class="mobile-post-ad-modal">
							<div class="mobile-post-ad-modal-overlay"></div>
						</div>
						<div class="mobile-post-ad-footer">
							<div class="btn-wrapper">
                                <a class="edit-submit-button btn">
                                    <span class="sudolink">{{i18n "editAd.mainDetails.submit"}}</span>
                                </a>
                            </div>
						</div>
						<div class="cancel-link-wrapper">
							<div class="mobile-cancel-form-link cancel-button">{{i18n "editAd.mainDetails.cancel"}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{#block "default-gmaps"}}{{/block}}
	{{> (dynamic "spinnerModal")}}
	<section id="feature-promote" class="hidden">
        <div id="promote-without-inf" class="hidden">
            {{> (dynamic "postAdHeader") titleKey="promote.promoteThisAd" }}
        </div>
        {{> (dynamic "adInsertionFee") }}
        {{> (dynamic "adFeatureSelection") model=this}}
	</section>
{{/partial}}
