{{#unless model.content.disableSearchbar}}
    <div class="searchbar">
        <section role="search">
            <div class="wrap">
                <form action='{{model.header.searchPageUrl}}' class="has-location-{{model.header.navigationConfig.locationSelection}}"
                        data-instant-search="{{model.header.navigationConfig.instantSearch}}"
                        data-clear-searches-message='{{i18n "header.clear-recent-searches"}}'
                        data-saved-search="{{model.header.navigationConfig.savedSearch}}"
                        data-auto-complete="{{model.header.navigationConfig.autoComplete}}"
                        data-auto-complete-api="{{model.header.autoCompleteUrl}}">
                    <fieldset>
                        {{!-------------- keyword --------------}}
                                        {{> keyword}}
                        {{!-------------- /keyword --------------}}

                        {{!-------------- categories --------------}}
                                        {{> categories}}
                        {{!-------------- /categories --------------}}

                        {{!-------------- locations --------------}}
                                        {{> locations}}
                        {{!-------------- locations --------------}}

                        {{!-------------- button --------------}}
                                        {{> button}}
                        {{!-------------- /button --------------}}
                    </fieldset>

                    {{!-------------- geoLocator --------------}}
                                        {{> geoLocator}}
                    {{!-------------- /geoLocator --------------}}

                    {{!-------------- existing search --------------}}
                                        {{> hiddenFields}}
                    {{!-------------- /existing search --------------}}

                </form>
            </div>
        </section>
    </div>


    {{#partial "explorer-searchbar-polyfill"}}
        <!--[if (lte IE 9)&!(IEMobile)]>
        <script src="{{model.footer.baseJSUrl}}/common/polyfills/placeholder.js"></script>
        <![endif]-->
    {{/partial}}


{{/unless}}