{{!-- Take over case, we hide the form --}}
{{#if this.hideForm}}
<form class="flagAd tallForm hide" method="post" action="/api/ads/flag" novalidate>
{{/if}}

{{!-- Modal Case, show the form and add a class to know if we are in modal --}}
{{#unless this.hideForm}}
<form class="flagAd tallForm form-in-modal" method="post" action="/api/ads/flag" novalidate>
{{/unless}}
    <input type="hidden" name="adId" value="{{this.advert.adId}}" />
    <input type="hidden" name="captchaToken" value="" />
    <p class='error'></p>

    {{!-- Modal Case, we need to show addtional information --}}
    {{#unless this.hideForm}}
    <div class="ad-details">
        <img src="{{this.advert.picturesToDisplay.thumbnails.[0]}}">
        <div class="details">
            <p>{{this.advert.title}}</p>
            <p class="price">{{> (dynamic "priceDisplay")}}</p>
        </div>
    </div>
    {{/unless}}

    <div class="form-field">
        <div class="label-wrapper">
            <label>{{i18n "vip.flagad.reason"}}</label>
        </div>
        <ul>
            {{#each this.advert.flags.reasons}}
                <li>
                    <label class="control">
                        <input type="radio" class="radio-btn" name="flagAdType" value="{{this.name}}" {{#compare @index "==" 0}} checked="checked"{{/compare}}/>
                        <div class="outer-circle">
                            <div class="inner-circle"></div>
                        </div>
                        <span class="flag-type">{{i18n this.displayNameKey}}</span>
                    </label>
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="form-field">
        <div class="label-wrapper">
            <label for="email">{{i18n "vip.flagad.email"}}</label>
        </div>
        <div class="input-wrapper">
            {{#if this.header.isUserLoggedIn}}
                <input class='email-input' disabled="disabled" title="email" name="email" type="email" value="{{this.header.userEmail}}"/>
            {{else}}
                <input class='email-input' title="email" name="email" type="email" value=""/>
            {{/if}}
            <p class='error'></p>
        </div>
    </div>

    <div class="form-field">
        <div class="label-wrapper">
            <label for="comments">{{i18n "vip.flagad.comments"}}&nbsp;<span class="optional">({{i18n "optional.text"}})</span></label>
        </div>
        <div class="input-wrapper">
            <textarea class="comments-input" name="comments" title="comments" maxlength="4096"></textarea>
            <p class='error'></p>
        </div>
    </div>

    <div class="form-field">
        <div id="g-recaptcha"></div>
    </div>

    <label class='privacypolicy'>
        {{#block "PrivacyPolicyArea"}}
            {{{i18n "vip.flagad.termCond" this.footer.termOfUse}}}
        {{/block}}
    </label>

    <div class="button-area">
        <button class="action-button" disabled="disabled" type="submit">{{i18n "vip.flagad.report"}}</button>
        <button class="action-button cancel" type="button" name="cancel">{{i18n "vip.cancel"}}</button>
    </div>
</form>
