{{#block "adTile"}}
    {{!-- this.isFeatured --}}
    <span class="inline-block panel {{#if true}}featured{{/if}}" style="background-image: url({{this.pictures.0.sizeUrls.0.NORMAL}});">
        <span class="featured-bolt icon-featured-white"></span>
        <a href="{{this.sellerInfo.sellerURL}}"><span class="inline-block user-photo" style="background-image: url({{this.sellerInfo.profileImg}});"></span></a>
        <section class="controls">
            <section class="ad-stats">
                <div class="inline-block icon-heart-white"></div>
                <span class="stat-num">{{this.statistics.favoriteCount}}</span>
                <div class="inline-block icon-messages-white"></div>
                <span class="stat-num">{{this.statistics.replyCount}}</span>
            </section>
            <span class="favorite-btn icon-heart-gray" role="button"></span>
        </section>
        <a class="tile-link" href="vipPage-TBD"></a>
    </span>
{{/block}}
