<span class="inline-block tile-panel {{#if this.isFeaturedTile}}is-featured-tile{{/if}} {{#if this.isGalleryTile}}is-gallery-tile{{/if}}">
    <img class="lazy ad-image" data-original="{{this.pictures.0.url}}" alt="{{this.title}}">
    <span class="featured-bolt icon-featured-white"></span>
    {{#if config.showSellers}}
        {{!-- seller link goes away of there is no url but the icon will remain --}}
        {{#if this.seller.profileImage}}<a href="{{homePageUrl}}{{this.seller.soiSeoUrl}}" class="tile-seller-link">{{/if}}
            <span class="inline-block user-photo">
                {{#if this.seller.profileImage}}
                    <img src="" class="lazy profile-image" data-original="{{this.seller.profileImage}}13.JPG">
                {{else}}
                    <div class="profile-image icon-header-profile-out"></div>
                {{/if}}
            </span>
        {{#if this.seller.profileImage}}</a>{{/if}}
    {{/if}}
    <section class="controls">
        {{#if this.adPrice}}
            <span class="price-text">
                {{#compare  this.adPrice.priceType "===" "CONTACT_ME"}}
                    {{i18n "homepage.trending.contact"}}
                {{/compare}}
                {{#compare  this.adPrice.priceType "===" "FIXED"}}
                    {{#compare this.adPrice.amount ">" 0}}
                        {{!-- calling the format and currency helpers --}}
                        {{i18n "currency.format" (formatPrice this.adPrice.amount ",")}}{{#compare this.adPrice.currency "===" "USD"}} USD{{/compare}}
                    {{/compare}}
                    {{#compare this.adPrice.amount "<=" 0}}
                        {{i18n "homepage.trending.contact"}}
                    {{/compare}}
                {{/compare}}
            </span>
        {{/if}}
        {{#if config.showFavorites}}
        <span class="favorite-btn icon-heart-gray" role="button" data-adid="{{this.adId}}" data-short-adid="{{this.id}}"></span>
        {{/if}}
    </section>
    <div>
        <a class="tile-link" data-gtm="pc|AdModuleClick|eventLabel|PopularAds" href="{{homePageUrl}}{{this.viewSeoUrl}}"></a>
    </div>
</span>
