<div {{#if buttonId}}id="{{buttonId}}"{{/if}} class="{{extraClasses}}  btn-wrapper">
    <a class="btn" {{#if buttonLink}}href="{{i18n buttonLink}}"{{/if}} data-gtm="{{gtmEvent}}">
    <span class="sudolink">
        {{#if i18nPath}}
            {{i18n i18nPath}}
        {{else}}
            {{i18n "header.postAd"}}
        {{/if}}
    </span>
    <span class="{{#if hideIcon}}hidden{{else}}btn-icon {{iconName}}{{/if}}"></span>
  </a>
</div>
