<div class="downloadapp-wrapper">
     <div id="downloadapp-imagewrapper"></div>
 
       <div id="downloadapp-content">
		    <div class="inner-wrapper">
			         <h1 class="title">{{i18n "appdownload.title"}}</h1>
			         <div class="description">
			           {{i18n "appdownload.description"}}
			         </div>
		         
		       <div class="review-wrapper">
			         {{#each this.appDownload}}
			             <div class="review">
		                         <img class='user-avatar' src='{{this.primaryImageUrl}}'>
			                     <div class="review-inner">
				                    <div class="rating-wrapper"><span class="rating"></span></div>
				                    <div class="review-description">{{{this.description}}}</div>
		                         </div>
		                         <div class="clear"></div>
	                      </div>
	                {{/each}}  
                  
                </div>
                 
                
		         
		         <div class="app-button">
		             <a href='{{i18n "appdownload.ioslink"}}' target="/blank"><span class="ios-appstore"><span></a>
		             <a href='{{i18n "appdownload.googleplay"}}' target="/blank"><span class="googleplay"></span></a>
		             <div class="clear"></div>
		         </div>
		        
		        <div class="appmobile-button">
    				<a href='{{i18n "appdownload.applink"}}'>{{i18n "appdownload.mobilebutton"}}</a>
    		   </div>
    		   
          </div>
          
        
   </div>
   
     <div class="clear"></div>
   
</div>   
