<div class="downloadapp-wrapper">
	<div id="downloadapp-imagewrapper"></div>

	<div id="downloadapp-content">
		<div class="inner-wrapper">
			<h2 class="title">{{i18n "appdownload.title"}}</h2>
			<div class="description">
                {{i18n "appdownload.description"}}
			</div>

			<div class="review-wrapper">
                {{#each this.appDownload}}
					<div class="review">
						<img class='user-avatar' src='{{../this.header.baseImageUrl}}{{this.primaryImageUrl}}'
							 alt="{{i18n "appdownload.userImageAltText"}}">
						<div class="review-inner">
							<div class="rating-wrapper">
                                {{> (dynamic "starRating" ../locale) rating=this.rating}}
                            </div>
							<div class="review-description">{{{this.description}}}</div>
						</div>
						<div class="clear"></div>
					</div>
                {{/each}}
			</div>
            <div class="description secondary">
                {{i18n "appdownload.secondary"}}
            </div>

			<div class="appmobile-button">
				<a href='{{i18n "appdownload.applink"}}' data-gtm="pc|AppDownloadBegin">{{i18n "appdownload.mobilebutton"}}</a>
			</div>
		</div>
		<div class="app-button">
			<a href='{{i18n "appdownload.ioslink"}}' data-gtm="pc|AppDownloadBegin" target="/blank"><span class="icon-app-store"></span></a>
			<a href='{{i18n "appdownload.googleplay"}}' data-gtm="pc|AppDownloadBegin" target="/blank"><span class="icon-googleplay"></span></a>
			<div class="clear"></div>
		</div>
	</div>
</div>
