{{!-- {{#if model.header.navigationConfig.locationSelection}} --}}
    <div class="location">
        <span class="icon main-icon">
            <span class='icon-header-location-pin'></span>
        </span>
        <input tabindex="3" type="text" data-all='{{i18n "header.search-all-locations"}}' placeholder='{{i18n "header.search-location"}}' value='{{#if model.content.searchFormModel.localizedLocationName}}{{model.content.searchFormModel.localizedLocationName}}{{else}}{{#if model.header.cookieLocationName}}{{model.header.cookieLocationName}}{{else}}{{i18n "header.search-location"}}{{/if}}{{/if}}' autocomplete="off" disabled="disabled" readonly="readonly" />
        <input type="hidden" name="locId" value="{{#if model.content.searchFormModel.locId}}{{model.content.searchFormModel.locId.value}}{{else}}{{#if model.header.cookieLocationId}}{{model.header.cookieLocationId}}{{/if}}{{/if}}" />
        <!--[if (IE 8)&!(IEMobile)]>
        <span class="icon-caret-down"></span>
        <![endif]-->
        {{#unless model.header.isIncludeContentForMobile}}
            <script type="text/plain">{{{json this.location}}}</script>
        {{/unless}}
    </div>
{{!-- {{/if}}  --}}
