<div class="downloadapp-wrapper">
   {{!image column 1}}
    <div id="downloadapp-imagewrapper"></div>
     {{!content column 2}}
     
    <div id="inner2">
		    <div class="inner-wrapper">
		         <span class="title">Sell in a snap!</span>
		         <div class="description">
		           <span>iCompra venta por internet de forma rapid y segura! descarga la aplicación de Vivanuncios y encuentra la mejores oferatas cerca de ti entre miles de productos le miles</span>
		         </div>
		         
		         <ul class="review-wrapper">
		    {{!--     {{#each this.dltest}}--}}
                     <li id="review1" style="border:1px solid green;height:50px" >
	                     <img class='user-avatar' src='{{primaryImageUrl}}'>
	                     <div  style="width: 80%;float:right;">
	                    <div style="width: 11em;height:21px;"><span class="rating"></span></div>
	                     <span class="review-description">{{this.description}}</span>
                         </div>
                     </li>
                      <li id="review1" style="border:1px solid green;height:50px" >
	                     <img class='user-avatar' src='{{primaryImageUrl}}'>
	                     <div  style="width: 80%;float:right;">
	                    <div style="width: 11em;height:21px;"><span class="rating"></span></div>
	                     <span class="review-description">{{this.description}}</span>
                         </div>
                     </li>
                      <li id="review1" style="border:1px solid green;height:50px" >
	                     <img class='user-avatar' src='{{primaryImageUrl}}'>
	                     <div  style="width: 80%;float:right;">
	                    <div style="width: 11em;height:21px;"><span class="rating"></span></div>
	                     <span class="review-description">{{this.description}}</span>
                         </div>
                     </li>
           {{!--     {{/each}}  --}}
                  
                 </ul>
                 
                
		         
		         <div class="app-button">
		            
		            <a href="https://itunes.apple.com/mx/app/vivanuncios-clasificados-gratis/id872789604?mt=8&uo=4""><span class="ios-appstore"><span></a>
		            <a href="https://app.adjust.com/oarq82"><span class="googleplay"></span></a>
		   
		        </div>
		        
		        <div class="app">
    				<a href="#">App</a>
    		   </div>
    		   
           </div>
   </div>
   
</div>   
