<noscript>
	<style type="text/css">
		.jsOnly {display:none !important;}
		.nonJsOnlyInlineBlock{display:inline-block !important;}
		.nonJsOnlyBlock {display:block !important;}
		.nonJsOnlyInline {display:inline !important;}
	</style>
</noscript>
<div class="map-wrapper">
    {{#partial "homepage-map"}}
		<div id="map"></div>

		<div id="nowselling">
			<span class="hiddenElt">{{json this.gpsMap}}</span>
			<h2>{{i18n "gpsMap.label"}}</h2>
			<span>{{digitGrouping this.gpsMap.totalAds ","}} {{i18n "gpsMap.items"}}</span>
		</div>

		<!-- Replace the value of the key parameter with your own API key. -->
		<script src="https://maps.googleapis.com/maps/api/js?client=gme-marktplaats&channel=bt_mx&language=es&region={{this.country}}&callback=initMap" async defer>
		</script>

		<div class="clear"></div>

        {{!-- TODO: move style to components scss --}}
		<style>

		</style>
    {{/partial}}

    {{#partial "vip-map"}}
        <div class="jsOnly" id="map"></div>
        <script>
            function initVipMap() {
                var centerPos = {lat: {{this.advert.map.locationLat}}, lng: {{this.advert.map.locationLong}} };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: centerPos
                });

                {{#if this.advert.map.showPin}}
                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng({{this.advert.map.locationLat}}, {{this.advert.map.locationLong}}),
                        title: 'marker location',
                        icon: 'https://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                    });
                {{/if}}

                {{#if this.advert.map.showCircle}}
                    var circle = new google.maps.Circle({
                        map: map,
                        radius: {{this.advert.map.finalRadius}},
                        fillColor: '#FF9800',
                        strokeColor: 'transparent',
                        center: new google.maps.LatLng({{this.advert.map.locationLat}}, {{this.advert.map.locationLong}})
                    });
                {{/if}}
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?client=gme-marktplaats&channel=bt_mx&language={{this.advert.siteLanguage}}&region={{this.country}}&v=3.26&callback=initVipMap">
        </script>
		<noscript><div class="noscript-map-container"><img id="noscript-map" src="{{this.advert.ogSignedUrl}}"></div></noscript>
    {{/partial}}
</div>

