{{! Please keep this navigation clean with simple list items. Do not introduce additional divs, spans, or other unneccesary elements.}}
<div class="nav">
    <nav>
        {{!---- profile picture & name ----}}
        {{!-- > hbs/Html/Body/header/navigation/profileLink --}}
        {{!---- /profile picture & name ----}}
        {{! Added aria-haspopup property for hover effect support on windows phone - Nokia Lumina 520.}}

{{!---- chat ----}}
{{#if model.header.isMessageCenterEnabled}}
	<div class="bubbles" data-o-uri="{{!-- obfuscateUrl model.header.myMessageUrl --}}">
	{{#if model.header.isUserLoggedIn}}
		{{#ifGt model.header.unreadConversationCount 0}}
 			<div class="unreadMsg">
 				{{model.header.unreadConversationCount}}
 			</div>
    	{{/ifGt}}
    	<span class="icon-ChatBubbles"></span>
    {{/if}}
	</div>
{{/if}}

<div class="profile" aria-haspopup="true">
    <span class="sudo-link menu-text sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.myAdsURL --}}">
        <span class="icon {{#if model.header.profileImageUrl}}has-profile-image{{/if}} {{#if model.header.isLoggedInUsingFacebook}}has-profile-image{{/if}}"
              style="{{#if model.header.isLoggedInUsingFacebook}}{{#with model.header.smallFbProfileImageUrl}}background-image:url({{this}});{{/with}}{{/if}}
              {{#unless model.header.isLoggedInUsingFacebook}}{{#with model.header.profileHeaderPictureCrop}}background-image:url({{this}}13.jpg);{{/with}} {{/unless}}">
            <span class="{{#if model.header.profileImageUrl}}{{else}}icon-header-profile-out{{/if}}"></span>
            <span class="{{#if model.header.profileImageUrl}}{{else}}icon-header-profile-over{{/if}}"></span>
        </span>
        <span class="label">{{#if model.header.isUserLoggedIn}}{{model.header.fbProfileName}}{{else}}{{i18n "header.menu.my.gumtree"}}{{/if}}</span>
    </span>
</div>
<div class="clear"></div>

        <ul>
            {{!---- sign-in link ----}}
            {{#unless model.header.isUserLoggedIn}}

                    <li>
                        <span class="sudo-link sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.signInURL --}}">{{i18n "header.menu.sign.in"}}</span>
                    </li>
            
            {{/unless}}

            {{!---- watchlist ----}}
            <li>
                <span class="sudo-link menu-text sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.watchListUrl --}}">{{i18n "header.menu.my.watchlist"}}</span>
            </li>

            {{!---- message ----}}
            <li>
                <span class="sudo-link menu-text sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.myMessageUrl --}}">
                    {{i18n "mc.menu.title"}}
                    {{#if model.header.totaConversationCount}}
                        (<span class="tolalCurMsg">{{model.header.totaConversationCount}}</span>)
                    {{/if}}
                </span>
            </li>

            {{!---- saved search ----}}
            <li>
                <span class="sudo-link menu-text sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.mySavedSearchUrl --}}">{{i18n "header.menu.my.savedsearch"}}</span>
            </li>

            {{!---- my ads ----}}
            <li>
                <span class="sudo-link menu-text sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.myAdsURL --}}">{{i18n "header.menu.your.ads"}}</span>
            </li>

            {{!---- promote my ads ----}}
            <li>
                <span class="sudo-link menu-text sudo-link-toConvert"  data-gtm="pc|FeatureAdBegin"  data-o-uri="{{!-- obfuscateUrl model.header.promoteAdsUrl --}}">{{i18n "header.menu.promote.ads"}}</span>
            </li>

            {{#each model.header.quickLinks}}
                <li>
                    <span class="sudo-link sudo-link-toConvert link-{{@index}} link menu-text" data-o-uri="{{!-- obfuscateUrl this.link --}}">{{this.localizedName}}</span>
                </li>
            {{/each}}

            {{!---- my profile ----}}
            {{#if model.header.isUserLoggedIn}}
                <li>
                    <span class="sudo-link menu-text sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.myProfileUrl --}}">{{i18n "header.menu.my.profile"}}</span>
                </li>
            {{/if}}

            {{!---- logout ----}}
            {{#if model.header.isUserLoggedIn}}
                <li>
                    <a class="sudo-link menu-text" href="{{model.header.signOutURL}}">{{i18n "header.menu.signout"}}</a>
                </li>
            {{/if}}

            {{#unless model.header.isUserLoggedIn}}
                <li>
                    <span class="sudo-link sudo-link-toConvert" data-o-uri="{{!-- obfuscateUrl model.header.registerURL --}}">{{i18n "header.menu.register"}}</span>
                </li>
            {{/unless}}

        </ul>
    </nav>
</div>
