<div class="outer">
    {{#each categoryList.children}}
 	<a href="{{this._links.[1].href}}" title="{{this.localizedName}} ({{this.id}})">
	    <div class="inner">
	            <div class="icon-cat-{{this.id}} bg"></div>
	            <div class="icon-cat-label">{{this.localizedName}}</div>
	            <div class="clear"></div>
	    </div>
	</a>
    {{/each}}
    {{#block "verCategory-mx"}}{{/block}}
</div>

{{#block "verCategory-ar"}}{{/block}}

<span class="icon-gl-message-close nonJsOnlyBlock"></span>
<span class="catText nonJsOnlyBlock">{{__ "email.category.text"}}</span>
