<div class="outer">
    {{#each category.children}}
	    <div class="inner" data-uri="{{this._links.[1].href}}">
	            <div class="icon-cat-{{this.id}} bg"></div>
	            <div class="icon-cat-label">{{this.localizedName}}</div>
	            <div class="clear"></div>
	    </div>
    {{/each}}
</div>

<div class="allCategoriesWrap">
    <span class='allCategories jsOnly'>{{i18n "home.allCategories"}}</span>
    <div class="clear"></div>
</div>

<span class="icon-gl-message-close nonJsOnlyBlock"></span>
<span class="catText nonJsOnlyBlock">{{i18n "email.category.text"}}</span>
