<ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{#each this.breadcrumbs.locations as |location|}}
    <li class="breadcrumb-location" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <meta content="{{ location._links.[0].href }}" itemprop="url">
        <a itemprop="item" href="{{ location._links.[0].href }}">
            <span itemprop="name">{{ location.text }}</span>
        </a>
        <i class="breadcrumb-separator icon-chevron-right" content="{{ location.position }}" itemprop="position"></i>
    </li>
    {{/each}}

    {{#if this.breadcrumbs.categoryLocation}}
    {{! TODO: Put here category location link }}
    {{/if}}

    {{#if this.breadcrumbs.ad}}
    <li class="breadcrumb-ad" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <meta content="{{ this.breadcrumbs.ad._links.[0].href }}" itemprop="url">
        <a itemprop="item" href="{{ this.breadcrumbs.ad._links.[0].href }}">
            <span itemprop="name">{{ i18n 'mc.ad.prefix' }} {{ this.breadcrumbs.ad.text }}</span>
        </a>
        <i class="breadcrumb-separator icon-chevron-right" content="{{ this.breadcrumbs.ad.position }}" itemprop="position"></i>
    </li>
    {{/if}}
</ol>
