{{#partial "locationContainer"}}
<div class="hp-location-wrapper">
    {{#block "HomePageSubTitle"}}{{/block}}

    {{#block "locationMap"}}{{/block}}

    {{!-- We show the map only for tablet and desktop, not for mobile. For mobile, we show the locations --}}
    {{#block "popularLocationsContainer"}}
        {{#block "popularLocations" }}{{/block}}
    {{/block}}

    {{#block "LocationStates"}}
    <div class="hp-province-wrapper">
        <h5>{{i18n "home.provinces"}}</h5>
        <ul class="location-list">
            {{#each this.location.children}}
            <li data-index="{{@index}}">
                <a href="{{this._links.[1].href}}"><span class="location-name">{{this.localizedName}}</span></a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/block}}
</div>
<div class="clear"></div>
{{/partial}}

{{#partial "popularLocations"}}
<div class="hp-city-wrapper">
    <h5>{{i18n "home.main-locations"}}</h5>
    <ul class="location-list">
        {{#each this.level2Location}}
        <li data-index="{{@index}}">
            <a href="{{this._links.[1].href}}"><span class="location-name">{{this.localizedName}}</span></a>
        </li>
        {{/each}}
    </ul>
</div>
{{/partial}}
