<div id="js-main-detail-post" class="main-detail-post">
	<div class="post-add-detail">
	    <span class="one-step">{{i18n "editAd.mainDetails.title"}} </span>
	    <span class="two-step">2. {{i18n "editAd.mainDetails.title"}} </span>
	    <div class="icon-down"></div>
	    <div class="icon-up hidden"></div>
	</div>
	<form class='post-form' method="POST" action="#" data-publicJs-url="{{footer.baseJSUrl}}">
		{{#if this.adId}}<input type="hidden" name="adId" value="{{this.adId}}">{{/if}}
		{{> (dynamic "categoryDropdownSelection")}}
		<div class="form-ad-title form-field optional-field">
			<div class="label-wrapper">
				<label for="Title">{{i18n "editAd.mainDetails.labels.adTitle"}}</label>
			</div>
			<div class="input-wrapper">
				<input title="{{i18n "postAd.mainDetails.title"}}" maxlength="100" data-schema="data.title" name="Title" type="text" value="{{this.adResult.title}}"/>
			</div>
		</div>
		<div class="form-ad-price form-field optional-field {{#if this.isPriceExcluded}}hidden{{/if}}">
			<div class="label-wrapper">
				<label for="amount">{{i18n "editAd.mainDetails.labels.price"}}</label>
			</div>
			<div class="input-wrapper">
				<input title="{{i18n "postAd.mainDetails.amount"}}" type="number" name="amount" data-schema="data.price.amount" {{#if this.adResult}}value={{this.adResult.price.amount}}{{/if}} data-validation="NUMBER" placeholder="{{i18n "editAd.mainDetails.askMe"}}" class="price-input"/>
				<div class="radio-group" data-schema="data.price.currency">
					{{#each this.localCurrencies}}
						<label class="control">
							<input type="radio" name="currency" value="{{this}}" {{#ifeq ../this.adResult.price.currency compare=this}}checked="checked"{{/ifeq}}{{#if ../this.shouldDefaultPrice}}{{#if @first}}checked="checked"{{/if}}{{/if}}/>
							<div class="outer-circle">
								<div class="inner-circle"></div>
							</div>
							<span class="currency-type">{{this}}</span>
						</label>
					{{/each}}
					<!--
                    <label class="control">
                        <input type="radio" name="currency" value="MXN" {{#ifeq this.adResult.price.currency compare='MXN'}}checked="checked"{{/ifeq}}{{#if this.shouldDefaultPrice}}checked="checked"{{/if}}/>
                        <div class="outer-circle">
                            <div class="inner-circle"></div>
                        </div>
                        <span class="currency-type">MXN</span>
                    </label>
                    <label class="control">
                        <input type="radio" name="currency" value="USD" {{#ifeq this.adResult.price.currency compare='USD'}}checked="checked"{{/ifeq}}/>
                        <div class="outer-circle">
                            <div class="inner-circle"></div>
                        </div>
                        <span class="currency-type">USD</span>
                    </label>
                    -->
				</div>
			</div>
		</div>
		<div class="form-ad-phone form-field optional-field">
			<div class="label-wrapper">
				<label for="phone">{{i18n "editAd.mainDetails.labels.phone"}}</label>
			</div>
			<div class="input-wrapper">
				<input title="{{i18n "postAd.mainDetails.phone"}}" data-schema="data.phone" name="Phone" type="number"
					{{#if this.adResult.phone}}
					   value="{{this.adResult.phone}}"
					{{else}}
						{{#if this.defaultPhoneNumber}}
					   value="{{this.defaultPhoneNumber}}"
						{{else}}
					   value=""
						{{/if}}
					{{/if}}
					   value="{{this.adResult.title}}"
					   min="0" pattern="[0-9]*" inputmode="numeric">
			</div>
		</div>
		<div class="form-ad-description form-field optional-field">
			<div class="label-wrapper">
				<label for="description">{{i18n "editAd.mainDetails.labels.description"}}</label>
			</div>
			<div class="input-wrapper">
				<textarea id='description-input' data-schema="data.description" class="description-input" name="description" title="{{i18n "postAd.mainDetails.description"}}" maxlength="4000">{{{this.adResult.description}}}</textarea>
			</div>
		</div>
		<div class="separator-div"></div>
		<section id="custom-attributes">
			{{> (dynamic "postFormCustomAttributes") model=this}}
		</section>
		{{> (dynamic "formMap") locationlatlong = this.locationlatlong googleMap=this.googleMap}}
	</form>
</div>
