<div id="js-main-detail-post" class="main-detail-post">
	<div class="post-add-detail">
	    <span class="one-step">{{i18n "editAd.mainDetails.title"}} </span>
	    <span class="two-step">2. {{i18n "editAd.mainDetails.title"}} </span>
	    <div class="icon-down"></div>
	    <div class="icon-up hidden"></div>
	</div>
	<form class='post-form' method="POST" action="#" data-publicJs-url="{{footer.baseJSUrl}}">
		{{#if this.adId}}<input type="hidden" name="adId" value="{{this.adId}}">{{/if}}
		{{> (dynamic "categoryDropdownSelection")}}
		<div class="form-ad-title form-field">
			<div class="label-wrapper">
				<label for="Title">{{i18n "editAd.mainDetails.labels.adTitle"}} ({{i18n "editAd.mainDetails.titleRestrictions.minimumAvailable"}}<span class="characters-available"></span>{{i18n "editAd.mainDetails.titleRestrictions.characters"}})</label>
			</div>
			<div class="input-wrapper">
				<input title="Title" maxlength="100" data-schema="data.title" name="Title" type="text" value="{{this.adResult.title}}"/>
			</div>
		</div>
		<div class="form-ad-price form-field {{#if this.isPriceExcluded}}hidden{{/if}}">
			<div class="label-wrapper">
				<label for="amount">{{i18n "editAd.mainDetails.labels.price"}}</label>
			</div>
			<div class="input-wrapper">
				<input title="amount" type="text" name="amount" data-schema="data.price.amount" {{#if this.adResult}}value={{this.adResult.price.amount}}{{/if}} data-validation="NUMBER" placeholder="{{i18n "editAd.mainDetails.askMe"}}" class="price-input"/>
				<div class="radio-group" data-schema="data.price.currency">
					<label class="control">
						<input type="radio" name="currency" value="MXN"
						{{#if this.adResult}}
						    {{#ifeq this.adResult.price.currency compare='MXN'}}checked="checked"{{/ifeq}}
						{{else}}
						    checked="checked"
						{{/if}}/>
						<div class="outer-circle">
							<div class="inner-circle"></div>
						</div>
						<span class="currency-type">MXN</span>
					</label>
					<label class="control">
						<input type="radio" name="currency" value="USD"
						{{#if this.adResult}}
						    {{#ifeq this.adResult.price.currency compare='USD'}}checked="checked"{{/ifeq}}
						{{/if}}/>
						<div class="outer-circle">
							<div class="inner-circle"></div>
						</div>
						<span class="currency-type">USD</span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-ad-description form-field">
			<div class="label-wrapper">
				<label for="description">{{i18n "editAd.mainDetails.labels.description"}} ({{i18n "editAd.mainDetails.titleRestrictions.minimumAvailable"}}<span class="characters-available"></span>{{i18n "editAd.mainDetails.titleRestrictions.characters"}})</label>
			</div>
			<div class="input-wrapper">
				<textarea id='description-input' data-schema="data.description" class="description-input" name="description" title="description" maxlength="4000">{{{this.adResult.description}}}</textarea>
			</div>
		</div>
		<div class="separator-div"></div>
		<section id="custom-attributes">
			{{> (dynamic "postFormCustomAttributes") model=this}}
		</section>
		{{> (dynamic "locationSelection")}}
	</form>
</div>
