<div id="js-main-detail-post" class="main-detail-post hidden">
	<form id='post-form' method="POST" action="#" data-publicJs-url="/post">
		<div class="post-add-detail">Add Details</div>
		<div class="label-wrapper">
            <label for="category-selection">CATEGORY*</label>
        </div>
        <div id='category-selection' class="input-wrapper"></div>
		<div class="form-ad-title">
			<div class="label-wrapper">
				<label for="Title">{{i18n "editAd.mainDetails.labels.adTitle"}} ({{i18n "editAd.mainDetails.titleRestrictions.minimumAvailable"}}<span class="characters-available"></span>{{i18n "editAd.mainDetails.titleRestrictions.characters"}})</label>
			</div>
			<div class="input-wrapper">
				<input title="Title" maxlength="100" data-schema="data.title" name="Title" type="text" value="{{this.adResult.title}}"/>
			</div>
		</div>
        <!-- TBD Ad Price -->
		<div class="form-ad-description">
			<div class="label-wrapper">
				<label for="description">{{i18n "editAd.mainDetails.labels.description"}} ({{i18n "editAd.mainDetails.titleRestrictions.minimumAvailable"}}<span class="characters-available"></span>{{i18n "editAd.mainDetails.titleRestrictions.characters"}})</label>
			</div>
			<div class="input-wrapper">
				<textarea id='description-input' data-schema="data.description" class="description-input" name="description" title="description" maxlength="4000">{{{this.adResult.description}}}</textarea>
			</div>
		</div>
		<div class="separator-div"></div>
        <section id="custom-attributes">
            {{> (dynamic "postFormCustomAttributes") model=this}}
        </section>

        {{> (dynamic "locationSelection")}}
    </form>
    <div class="mobile-post-ad-wrapper">
    	<div class="mobile-post-ad-modal-wrapper">
    		<div class="mobile-post-ad-modal">
    			<div class="mobile-post-ad-modal-overlay"></div>
    		</div>

    		<div id="post-submit-button" class="mobile-post-ad-footer">
    			<div class="modal-footer modal-footer-mobile">
                    <div class="btn-wrapper">
                        <a class="btn"  data-gtm="{{gtmEvent}}">
                            <span class="sudolink">
                                Post My Ad
                            </span>
                        </a>
    			    </div>
    			</div>
    		</div>
    		<div class="retake-photo">
                <div>
                    <div>
    					<a class=""  data-gtm="{{gtmEvent}}" href="">
                            <span class="">
                                Retake Photo
                            </span>
    					</a>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
</div>
