{{#block "navigationMenu"}}
	<div class="sectionMenuWrapper">
	  <ul class="sectionMenu">
	    <li><a class="active" href="#" data-gtm="pc|NavSubHeaderClick|eventLabel|Trending" title="{{i18n "sectionMenu.trending"}}">{{i18n "sectionMenu.trending"}}</a></li>
	    <li><a href="/s-hogar/v1c1p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Goods" title="{{i18n "sectionMenu.goods"}}">{{i18n "sectionMenu.goods"}}</a></li>
	    <li><a href="/s-venta-autos/v1c64p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Cars" title="{{i18n "sectionMenu.cars"}}">{{i18n "sectionMenu.cars"}}</a></li>
	    <li><a href="/s-inmuebles/v1c30p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Real Estate" title="{{i18n "sectionMenu.realEstate"}}">{{i18n "sectionMenu.realEstate"}}</a></li>
	    <li><a href="/s-ofertas+trabajo/v1c36p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Jobs" title="{{i18n "sectionMenu.jobs"}}">{{i18n "sectionMenu.jobs"}}</a></li>
	  </ul>
	</div>
{{/block}}
