<div class="sectionMenuWrapper">
  <ul class="sectionMenu">
    <li><a class="active" href="#" data-gtm="pc|NavSubHeaderClick|eventLabel|Trending" title="Trending">{{i18n "sectionMenu.trending"}}</a></li>
    <li><a href="/s-todos-los-anuncios/v1b0p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Goods" title="Goods">{{i18n "sectionMenu.goods"}}</a></li>
    <li><a href="/s-venta-autos/v1c65p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Cars" title="Cars">{{i18n "sectionMenu.cars"}}</a></li>
    <li><a href="/s-inmuebles/v1c30p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Real Estate" title="Real Estate">{{i18n "sectionMenu.realEstate"}}</a></li>
    <li><a href="/s-ofertas+trabajo/v1c36p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Jobs" title="Jobs">{{i18n "sectionMenu.jobs"}}</a></li>
  </ul>
</div>
