{{#partial "navigationMenu"}}
	<div class="sectionMenuWrapper">
	  <ul class="sectionMenu">
	    <li><a class="active" href="{{this.content.homepageV2}}" data-gtm="pc|NavSubHeaderClick|eventLabel|Trending" title="{{i18n "sectionMenu.trending"}}">{{i18n "sectionMenu.trending"}}</a></li>
	    <li><a href="{{this.content.homepage.homeGarden}}" data-gtm="pc|NavSubHeaderClick|eventLabel|Goods" title="{{i18n "sectionMenu.homeGarden"}}">{{i18n "sectionMenu.homeGarden"}}</a></li>
	    <li><a href="/s-venta-autos/v1c64p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Cars" title="{{i18n "sectionMenu.automotiveVehicles"}}">{{i18n "sectionMenu.automotiveVehicles"}}</a></li>
	    <li><a href="/s-inmuebles/v1c30p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Real Estate" title="{{i18n "sectionMenu.property"}}">{{i18n "sectionMenu.property"}}</a></li>
	    <li><a href="/s-ofertas+trabajo/v1c36p1" data-gtm="pc|NavSubHeaderClick|eventLabel|Jobs" title="{{i18n "sectionMenu.jobs"}}">{{i18n "sectionMenu.jobs"}}</a></li>
	  </ul>
	</div>
{{/partial}}
{{> (base "sectionMenu")}}
