<div class="sectionMenuWrapper">
  <ul class="sectionMenu">
    <li><a class="active" href="#" data-gtm="pc|NavSubHeaderClick|eventLabel|Trending" title="Trending">{{i18n "sectionMenu.trending"}}</a></li>
    <li><a href="#" data-gtm="pc|NavSubHeaderClick|eventLabel|Goods" title="Goods">{{i18n "sectionMenu.goods"}}</a></li>
    <li><a href="#" data-gtm="pc|NavSubHeaderClick|eventLabel|Cars" title="Cars">{{i18n "sectionMenu.cars"}}</a></li>
    <li><a href="#" data-gtm="pc|NavSubHeaderClick|eventLabel|Real Estate" title="Real Estate">{{i18n "sectionMenu.realEstate"}}</a></li>
    <li><a class="last" data-gtm="pc|NavSubHeaderClick|eventLabel|Jobs" href="#" title="Jobs">{{i18n "sectionMenu.jobs"}}</a></li>
  </ul>
</div>
