<div class="sectionMenuWrapper">
  <ul class="sectionMenu">
    <li><a class="active" href="#" title="Trending">{{i18n "sectionMenu.trending"}}</a></li>
    <li><a href="#" title="Goods">{{i18n "sectionMenu.goods"}}</a></li>
    <li><a href="#" title="Cars">{{i18n "sectionMenu.cars"}}</a></li>
    <li><a href="#" title="Real Estate">{{i18n "sectionMenu.realEstate"}}</a></li>
    <li><a class="last" href="#" title="Jobs">{{i18n "sectionMenu.jobs"}}</a></li>
  </ul>
</div>
