<div class="label-wrapper">
	<label for="{{this.name}}">{{this.localizedName}}</label>
</div>
<div class="input-wrapper">
    <input type="date" name="{{this.name}}" data-validation="{{this.allowedValueType}}" value="{{lookupLocalDate parent.adResult.attributeValues this.name}}"/>
</div>
