{{> (base "footer") }}

{{#partial "comscore"}}
	{{#with this.content.ComscoreTag}}
		 <div class="comscore">
		    <span class="comscore_text">{{this.content.ComscoreTag}}</span>
		 </div>
   {{/with}}
{{/partial}}

{{#partial "footer"}}

    <div class="link-wrapper">
        <span class="reg_link">
                <a href="http://www.alamaula.com/pages/mobileapp/">{{__ "footer.mobileApp"}}</a>
        </span>

        {{#block "blog"}}
            {{#if this.footer.seoBolt.enabled}}
                <span class="blog"><a href="http://blog.alamaula.com/">{{__ "footer.blog"}}</a></span>
            {{/if}}
        {{/block}}

         <span class="reg_link">
                <a href="http://www.alamaula.com/pages/red-de-clasificados-de-ebay/">{{__ "footer.our-sites"}}</a>
        </span>

         <span class="reg_link">
                <a href="http://ayuda.alamaula.com/">{{__ "footer.help"}}</a>
        </span>

        <span class="reg_link ">
                <a href="http://www.alamaula.com/pages/">{{__ "footer.siteMap"}}</a>
        </span>

         <span class="reg_link ">
                <a href=" http://www.alamaula.com/pages/precios/">{{__ "footer.autoGuide"}}</a>
        </span>

         <span class="reg_link">
                <a href="http://www.alamaula.com/pages/propiedades/">{{__ "footer.propertyPriceChecker"}}</a>
        </span>

        <span class="reg_link">
                <a href="http://www.alamaula.com/pages/ciudades/">{{__ "footer.locations"}}</a>
        </span>

        <span class="reg_link last_link">
                <a href="{{{this.footer.topSearchesLandingPageUrl}}}">{{__ "footer.topSearches"}}</a>
        </span>

    </div>

    {{#block "cookie_notification" }}
        <div class="cookie_warn">
            <div class="cr-container">
                <div class="social-links">{{> (dynamic "socialMediaLinks") }}</div>
                <div class="cpyrt">{{__ "footer.cr.$$" }}
                    <span class='cpyrt_links'>
                    <span class='sudo-link'>
                        <a href="{{this.footer.termOfUse}}">{{__ "footer.cr.termsAndConditions"}}</a>
                    </span>
                    ,
                    <span class='sudo-link'>
                        <a href="{{this.footer.privacyPolicy}}">{{__ "footer.cr.privacy"}}</a>
                    </span>
                    y
                    <span class='sudo-link'>
                        <a href="{{this.footer.cookieNotice}}">{{__ "footer.cr.cookies"}}</a>
                    </span>.
                    </span>
                </div>
            </div>
        </div>
    {{/block}}

    <div class="decorationLine">
        <span class="span1"></span>
    </div>
{{/partial}}
