{{> footer-base}}

{{#partial "footerp"}}
<div class="footer-links clearfix">
	<div class="logo">
        <a href="{{model.header.homePageUrl}}">
               <img border="0"  src="/images/{{../this.locale}}/logo.png" alt="{{model.header.messages.homepage}}"/>
        </a>
	</div>
	
	<div>
		<h3>{{{i18n "footer.getToKnowUs.title"}}}</h3>
		<ul>
			<li><span class='sudo-link' data-o-uri='{{!-- obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=122" --}}'>{{{i18n "footer.getToKnowUs.about"}}}</span></li>
			<li><span class='sudo-link' data-o-uri='{{!-- obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=120" --}}' data-target="_self">{{{i18n "footer.legalbits.terms" }}}</span></li>
			<li><span class='sudo-link' data-o-uri='{{!-- obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=22" --}}'>{{{i18n "footer.getToKnowUs.rules"}}}</span></li>
			<li><span class='sudo-link' data-o-uri='{{!-- obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=121" --}}' data-target="_self">{{{i18n "footer.legalbits.privacy"}}}</span></li>
			<li><a href="http://blog.gumtree.sg//">{{{i18n "footer.getToKnowUs.blog"}}}</a></li>
		</ul>
	</div>
	
	<div>
        <h3>{{{i18n "footer.explore.title"}}}</h3>
        <ul>
            {{!-- eCG interlinking Page --}}
            <li><a href="http://www.gumtree.sg/pages/ClassifiedsNetwork/">{{{i18n "footer.explore.interlink"}}}</a></li>
             <li><a href="http://profile.gumtree.sg/directory">{{{i18n "footer.explore.directory"}}}</a></li>
             <li><a href="http://www.gumtree.sg/pages/pricechecker/">{{{i18n "footer.explore.propertyPriceChecker"}}}</a></li>
            
		</ul>
    </div>
    
    <div class="rightColumn">
		<h3>{{{i18n "footer.legalbits.title"}}}</h3>
		<ul>
		   <li><span class="sudo-link" data-o-uri='{{!-- obfuscateUrl "https://gumtreehelp.com/sg/knowledgebase.php?category=2" --}}'>{{{i18n "footer.legalbit.postAd"}}}</span></li>
            <li><a href="http://info.gumtree.sg/promo/mobile-apps/">{{{i18n "footer.explore.mobileApp" }}}</a></li>
			<li><a href="{{{model.footer.topSearchesLandingPageUrl}}}">{{{i18n "footer.explore.topSearches" }}}</a></li>			
			
		</ul>
	</div>
	
	<div class="rightColumn">
		<h3>{{{i18n "footer.tips-help.title"}}}</h3>
		<ul>
            <li><a href="http://gumtreehelp.com/sg/">{{{i18n "footer.tips-help.help"}}}</a></li>
			<li><span class="sudo-link" data-o-uri='{{!-- obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?category=7" --}}'>{{{i18n "footer.tips-help.staySafe"}}}</span></li>
			<li><span class="sudo-link" data-o-uri='{{!-- obfuscateUrl "http://gumtreehelp.com/sg/index.php?a=add" --}}'>{{{i18n "footer.tips-help.contact"}}}</span></li>
			<li><span class="sudo-link" data-o-uri='{{!-- obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=25" --}}'>{{{i18n "footer.tips-help.report"}}}</span></li>
		</ul>
	</div>
</div>


<div class="social-links">{{> socialMediaLinks}}</div>
<div class="cpyrt">{{{i18n "footer.copyright"}}}</div>
		
{{/partial}}

