{{> footer-base}}

{{#partial "footerp"}}
	<div class="footer-links clearfix">
		<div class="logo">
	        <a href="{{../this.header.homePageUrl}}">
	        	<img border="0"  src="/images/{{this.locale}}/logo.png" alt="{{this.header.messages.homepage}}"/>
	        </a>
		</div>

		<div>
			<h3>{{{i18n "footer.getToKnowUs.title"}}}</h3>
			<ul>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://help.gumtree.co.za/articles/KB_Article/About-Us?vgroup1=PublicKB&vcategory1=PublicKB%3AGumtree_Basics&vcategory2=About_us"}}'>{{{i18n "footer.getToKnowUs.about"}}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://help.gumtree.co.za/articles/KB_Article/What-are-the-General-posting-rules/?vgroup1=PublicKB&vcategory1=PublicKB%3AGumtree_policies"}}'>{{{i18n "footer.getToKnowUs.rules"}}}</span></li>
				<li><a href="http://blog.gumtree.co.za/">{{{i18n "footer.getToKnowUs.blog"}}}</a></li>
			</ul>
		</div>

	    <div>
	        <h3>{{{i18n "footer.explore.title"}}}</h3>
	        <ul>
	            {{!-- Old Mobile Site --}}
	            <li><span class='sudo-link mobilesite' data-o-uri='{{obfuscateUrl "http://m.gumtree.co.za" }}'>{{{i18n "footer.explore.mobilesite" }}}</span></li>
	            {{!-- Best Ads --}}
	            <li><a href="{{{this.footer.bestAdsLandingPageUrl}}}">{{{i18n "footer.explore.bestof" }}}</a></li>
	            {{!-- Top Searches --}}
	            <li><a href="{{{this.footer.topSearchesLandingPageUrl}}}">{{{i18n "footer.explore.topSearches" }}}</a></li>
	            <li><a href="http://www.gumtree.co.za/pages/sitemap/">{{{i18n "footer.explore.sitemap" }}}</a></li>
	            {{!-- Locations --}}
	            <li><a id="footer-locationmap" href="http://www.gumtree.co.za/pages/locations/">{{{i18n "footer.explore.locations" }}}</a></li>
	            {{!-- eCG interlinking Page --}}
	            <li><a href="http://www.gumtree.co.za/pages/ClassifiedsNetwork/">{{{i18n "footer.explore.interlink" }}}</a></li>
	            {{!-- Mobile App --}}
	            <li><a href="http://www.gumtree.co.za/pages/mobileapp/">{{{i18n "footer.explore.mobileApp" }}}</a></li>
			</ul>
	    </div>
	    
		<div class="rightColumn">
			<h3>{{{i18n "footer.legalbits.title"}}}</h3>
			<ul>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://help.gumtree.co.za/articles/KB_Article/Gumtree-Terms-of-Use?vgroup1=PublicKB&vcategory1=PublicKB%3AGumtree_policies&vcategory2=General_policies" }}' data-target="_self">{{{i18n "footer.legalbits.terms" }}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://help.gumtree.co.za/articles/KB_Article/Gumtree-Privacy-Policy?vgroup1=PublicKB&vcategory1=PublicKB%3AGumtree_policies&vcategory2=General_policies"}}' data-target="_self">{{{i18n "footer.legalbits.privacy"}}}</span></li>
				<li><span class='sudo-link' data-o-uri="{{{this.footer.obfuscatedCookieRightsURL}}}" data-target="_self">{{{i18n "footer.legalbits.cookie"}}}</span></li>
			</ul>
		</div>
	    
		<div class="rightColumn">
			<h3>{{{i18n "footer.tips-help.title"}}}</h3>
			<ul>
	            <li><a href="http://help.gumtree.co.za/">{{{i18n "footer.tips-help.helpContact"}}}</a></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "http://help.gumtree.co.za/pkb_Home?l=en_US&c=PublicKB%3ASafety_advice" }}'>{{{i18n "footer.tips-help.staySafe"}}}</span></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "https://www.surveymonkey.com/s/7LGVXY8"}}'>{{{i18n "footer.tips-help.giveFeedback"}}}</span></li>
			</ul>
		</div>
		
		<div class="rightColumn">
			<h3>{{{i18n "footer.motors.title"}}}</h3>
			<ul>
			    <li><a href="http://www.gumtree.co.za/pages/autodealers/">{{{i18n "footer.motors.autoDealers"}}}</a></li> 
		        <li><a href="http://www.gumtree.co.za/pages/gumtreemotors/gumtree-motors-library-a-c.html">{{{i18n "footer.motors.a-c"}}}</a></li>
	            <li><a href="http://www.gumtree.co.za/pages/gumtreemotors/gumtree-motors-library-d-g.html">{{{i18n "footer.motors.d-g"}}}</a></li>
	            <li><a href="http://www.gumtree.co.za/pages/gumtreemotors/gumtree-motors-library-h-l.html">{{{i18n "footer.motors.h-l"}}}</a></li>
	            <li><a href="http://www.gumtree.co.za/pages/gumtreemotors/gumtree-motors-library-m-o.html">{{{i18n "footer.motors.m-o"}}}</a></li>
	            <li><a href="http://www.gumtree.co.za/pages/gumtreemotors/gumtree-motors-library-p-z.html">{{{i18n "footer.motors.p-z"}}}</a></li>
	        </ul>
		</div>
	    
	    <div class="iab-logo rightColumn">
	        <a href='http://pubads.g.doubleclick.net/gampad/clk?id=25798386&iu=/7162/Gumtree_ZA/zzz_track' target="_blank"><div class="icon-iab-logo"></div></a>
	    </div>
	</div>


	<div class="social-links">{{> socialMediaLinks}}</div>
	<div class="cpyrt">{{{i18n "footer.copyright"}}}</div>
{{/partial}}


