{{> (base "footer") }}

{{#partial "footerp"}}
	<div class="footer-links clearfix">
		<div class="logo">
	        <a href="{{../this.header.homePageUrl}}">
	        	<img border="0"  src="{{this.header.baseImageUrl}}{{this.locale}}/logo.png" alt="{{i18n "header.country.label"}}"/>
	        </a>
		</div>

		<div>
			<h3>{{{i18n "footer.getToKnowUs.title"}}}</h3>
			<ul>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL/articles/pl/KB_Article/O-nas"}}'>{{{i18n "footer.getToKnowUs.about"}}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL?lang=pl&l=pl&c=PKB%3AZasady_Gumtree"}}'>{{{i18n "footer.getToKnowUs.rules"}}}</span></li>
				<li><a href="http://blog.gumtree.pl/">{{{i18n "footer.getToKnowUs.blog"}}}</a></li> 
			</ul>
		</div>

	    <div>
	        <h3>{{{i18n "footer.explore.title"}}}</h3>
	        <ul>
	            {{!-- Top Searches --}}
	             {{#if this.footer.topSearchesLandingPageUrl}}
	             	<li><a href="{{{this.footer.topSearchesLandingPageUrl}}}">{{{i18n "footer.explore.topSearches" }}}</a></li>
	             {{else}}
				 	<li><a href="#">{{{i18n "footer.explore.topSearches" }}}</a></li>
	             {{/if}}
	             <li><a href="http://www.gumtree.pl/pages/zawartosc/">{{{i18n "footer.explore.sitemap" }}}</a></li>
	             <li><a href="http://www.gumtree.pl/pages/lokalizacje/">{{{i18n "footer.explore.locations" }}}</a></li>
	             <li><a href="http://www.gumtree.pl/pages/ceny-nieruchomosci">{{{i18n "footer.explore.propertyPriceChecker"}}}</a></li>
	   
			</ul>
	    </div>
	    
		<div class="rightColumn">
			<h3>{{{i18n "footer.legalbits.title"}}}</h3>
			<ul>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL/articles/pl/KB_Article/Zasady-korzystania"}}'>{{{i18n "footer.legalbits.terms" }}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL/articles/pl/KB_Article/Polityka-prywatnosci"}}'>{{{i18n "footer.legalbits.privacy"}}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL/articles/pl/KB_Article/Cookies"}}'>{{{i18n "footer.legalbits.cookie"}}}</span></li>
			</ul>
		</div>
	    
		<div class="rightColumn">
			<h3>{{{i18n "footer.tips-help.title"}}}</h3>
			<ul>
	            <li><a href="http://pomoc.gumtree.pl/PL">{{{i18n "footer.tips-help.helpContact"}}}</a></li>
	            <li><span class="sudo-link" data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL?lang=pl&l=pl&c=PKB%3ASafetyPL"}}'>{{{i18n "footer.tips-help.staySafe"}}}</span></li>
	            <li><span class="sudo-link" data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL?lang=pl&l=pl&cu=1&fs=ContactUsq=&s="}}'>{{{i18n "footer.tips-help.writeToUs"}}}</span></li>
	             <li><span class="sudo-link" data-o-uri='{{obfuscateUrl "http://pomoc.gumtree.pl/PL?lang=pl&l=pl&c=PKB%3ABasicsPL"}}'>{{{i18n "footer.tips-help.promotingAds"}}}</span></li>
			</ul>
		</div>
	</div>

	<div class="social-links">{{> (dynamic "socialMediaLinks")}}</div>
	<div class="cpyrt">{{{i18n "footer.copyright"}}}</div>
{{/partial}}

