{{> (base "footer") }}

{{#partial "footer"}}
	<div class="footer-links clearfix">
		<div class="logo">
	        <a href="{{this.header.homePageUrl}}">
	        	<img border="0"  src="{{this.header.baseImageUrl}}{{this.locale}}/logo.png" alt="{{__ "header.country.label"}}"/>
	        </a>
		</div>
		
		<div>
			<h3>{{{__ "footer.getToKnowUs.title"}}}</h3>
			<ul>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=122"}}'>{{{__ "footer.getToKnowUs.about"}}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=120"}}' data-target="_self">{{{__ "footer.legalbits.terms" }}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=22"}}'>{{{__ "footer.getToKnowUs.rules"}}}</span></li>
				<li><span class='sudo-link' data-o-uri='{{obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=121"}}' data-target="_self">{{{__ "footer.legalbits.privacy"}}}</span></li>
				<li><a href="http://blog.gumtree.sg/">{{{__ "footer.getToKnowUs.blog"}}}</a></li>
			</ul>
		</div>
		
		<div>
	        <h3>{{{__ "footer.explore.title"}}}</h3>
	        <ul>
	            {{!-- eCG interlinking Page --}}
	            <li><a href="http://www.gumtree.sg/pages/ClassifiedsNetwork/">{{{__ "footer.explore.interlink"}}}</a></li>
	             <li><a href="http://profile.gumtree.sg/directory">{{{__ "footer.explore.directory"}}}</a></li>
	             <li><a href="http://www.gumtree.sg/pages/pricechecker/">{{{__ "footer.explore.propertyPriceChecker"}}}</a></li>
	            
			</ul>
	    </div>
	    
	    <div class="rightColumn">
			<h3>{{{__ "footer.legalbits.title"}}}</h3>
			<ul>
			   <li><span class="sudo-link" data-o-uri='{{obfuscateUrl "https://gumtreehelp.com/sg/knowledgebase.php?category=2"}}'>{{{__ "footer.legalbit.postAd"}}}</span></li>
	            <li><a href="http://info.gumtree.sg/promo/mobile-apps/">{{{__ "footer.explore.mobileApp" }}}</a></li>
				<li><a href="{{{this.footer.topSearchesLandingPageUrl}}}">{{{__ "footer.explore.topSearches" }}}</a></li>			
				
			</ul>
		</div>
		
		<div class="rightColumn">
			<h3>{{{__ "footer.tips-help.title"}}}</h3>
			<ul>
	            <li><a href="http://gumtreehelp.com/sg/">{{{__ "footer.tips-help.help"}}}</a></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?category=7" }}'>{{{__ "footer.tips-help.staySafe"}}}</span></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "http://gumtreehelp.com/sg/index.php?a=add"}}'>{{{__ "footer.tips-help.contact"}}}</span></li>
				<li><span class="sudo-link" data-o-uri='{{obfuscateUrl "http://gumtreehelp.com/sg/knowledgebase.php?article=25"}}'>{{{__ "footer.tips-help.report"}}}</span></li>
			</ul>
		</div>
	</div>


	<div class="social-links">{{> (dynamic "socialMediaLinks") }}</div>
	<div class="cpyrt">{{{__ "footer.copyright"}}}</div>		
{{/partial}}

