
    {{#with this}} {{!-- #with model.initialGalleryInfo --}}
    <div class="product-carousel-container">
        <div class="product-carousel owl-carousel"></div>
        <div class="carousel-loading"></div>
    </div>

    <style>
      .extra .breadcrumbs {
  		  top:15em;
      }
    </style>
  {{/with}}

  {{!-- #partial "pageTailScriptsBeforeIncludes" --}}
     {{!-- #with model.initialGalleryInfo --}}
     <script>
          var adList = {{{json this.initialGalleryInfo}}},
              {{#if this.header.postAdPageUrl}}
                dataPostLink="{{this.header.postAdPageUrl}}",
              {{else}}
                   dataPostLink="/post.html",
              {{/if}}
              dataPostAdText='{{__ "postad.a.free.ad.text"}}',
              {{#if this.content.seeAllUrl}}
                   seeAllUrl = "{{obfuscateUrl this.content.seeAllUrl}}",
                   seeAllText = '{{__ "features.see.all"}}',
              {{/if}}
              galleryAjaxBaseUrl = "{{{this.content.galleryAdsAjaxInitUrl}}}";
      </script>
      {{!-- /with --}}
  {{!-- /partial --}}
