{{#partial "carousel"}}
  {{#with model.initialGalleryInfo}}
    <div class="product-carousel-container">
        <div class="product-carousel owl-carousel"></div>
        <div class="carousel-loading"></div>
    </div>
      
    <style>
      .extra .breadcrumbs {
  		  top:15em;
      }
    </style>
  {{/with}}

  {{#partial "pageTailScriptsBeforeIncludes"}}
     {{#with model.initialGalleryInfo}}
     <script>
          var adList = {{{model.initialGalleryInfo}}},
              dataPostLink="{{model.header.postAdPageUrl}}",
              dataPostAdText='{{i18n "postad.a.free.ad.text"}}',
              {{#if model.seeAllUrl}}
                  seeAllUrl = "{{obfuscateUrl model.seeAllUrl}}",
                  seeAllText = '{{i18n "features.see.all"}}',
              {{/if}}
              galleryAjaxBaseUrl ="{{model.content.galleryAdsAjaxInitUrl}}";
      </script>
      <script src="/views/components/adCarousel/js/adCarousel.js"></script>
      {{/with}}
  {{/partial}}
{{/partial}}

