<div id="registration-form" class="registration-form">
	<div class="title">
        {{i18n "registrationForm.registerWithEmail"}}
	</div>
	<div class="error-message">
		<div id="invalid-email" class="invalid-email hidden">
            {{i18n "registrationForm.invalidEmail"}}
		</div>
		<div id="terms-error" class="accept-terms hidden">
            {{i18n "registrationForm.acceptTerms"}}
		</div>
	</div>
    <form id="registration-form" method="POST" action="#">
        <div class="input-wrapper email">
			<input id="email-input" placeholder="{{i18n "registrationForm.email"}}" type="text" name="email-address" class="email-address">
        </div>
        <div class="input-wrapper password">
            <label for="password-one" class="password-length-label">
                ({{i18n "pass.too.long"}})
            </label>
			<input id="password-one" placeholder="{{i18n "postad.contact.password"}}" type="password" name="password-one"
				   class="password password-one">
        </div>
        <div class="input-wrapper password-two">
			<input id="password-two" placeholder="{{i18n "postad.contact.password"}}" type="password" name="password-two"
				   class="password password-two">
        </div>
        <button id="registration-submit-button" class="registration-submit-button" disabled>{{i18n "register.continue"}}</button>
	</form>
    {{> (dynamic "termsAndConditions") }}
</div>
